{% extends "base.html" %}
{% load crispy_forms_tags %} 
{% block content %}

<style type="text/css">
    @media only screen and (min-width: 768px) {
        input.btn{
            margin-left: 40px;
        }
    }
</style>

{% if request.session.language == 'RU' %}

<div class='row mx-auto'>
    <div class="col-xs-5 col-md-12 text-md-center">
    	{% if key %}
      <h1>Ошибка.</h1>
      <h1>Попробуй еще раз!</h1>
    	{% else %}
    		<h1>Повторная активация Email.</h1>
    	{% endif %}
    </div>
    <div class="col-4 mx-auto text-center">
            <form method='POST' action=''>{% csrf_token %}
            	{{ form|crispy }}
            	<input class="btn btn-dark" type='submit' value='Отправить'/>
            </form>
      </div>
</div>

</div>
{% else %}

<div class='row mx-auto'>
    <div class="col-xs-5 col-md-12 text-md-center">
        {% if key %}
        <h1>Activation Error.</h1>
        <h1>Please try again!</h1>
        {% else %}
            <h1 class='mt-5 pt-5'>Re-activate your Email below.</h1>
        {% endif %}
    </div>
    <div class="col-4 mx-auto text-center">

            <form method='POST' action=''>{% csrf_token %}
                {{ form|crispy }}
                <input class="btn btn-dark" type='submit' value='Resend Activation'/>
            </form>
      </div>
</div>


</div>
{% endif %}

{% endblock %}
