{% extends "base.html" %}
{% load crispy_forms_tags %} 
{% block content %}


{% if request.session.language == 'RU' %}
<div class="container" style="width:1500px; padding:0px;">
<div class='row mx-auto'>
    <div class="col-12 text-center py-5">
    	{% if key %}
            <h1 class='my-5 py-5'>Ошибка. Попробуй еще раз!</h1>
    	{% else %}
    		<h1 class='mt-5 pt-5'>Повторная активация Email.</h1>
    	{% endif %}
    </div>
    <div class="col-4 mx-auto text-center">
            <form method='POST' action=''>{% csrf_token %}
            	{{ form|crispy }}
            	<input class="btn btn-dark" type='submit' value='Отправить'/>
            </form>
      </div>
</div>

</div>
{% else %}
<div class="container" style="width:1500px; padding:0px;">
<div class='row mx-auto'>
    <div class="col-12 text-center py-5">
        {% if key %}
            <h1 class='my-5 py-5'>Activation Error. Please try again!</h1>
        {% else %}
            <h1 class='mt-5 pt-5'>Re-activate your Email below.</h1>
        {% endif %}
    </div>
    <div class="col-4 mx-auto text-center">
            <form method='POST' action=''>{% csrf_token %}
                {{ form|crispy }}
                <input class="btn btn-dark" type='submit' value='Resend Activation'/>
            </form>
      </div>
</div>

</div>
{% endif %}


{% endblock %}
