{% extends "base.html" %}
{% load crispy_forms_tags %} 
{% block content %}

<style type="text/css">
    @media only screen and (min-width: 768px) {
        input.btn{
            margin-left: 40px;
        }
    }
</style>

{% if request.session.language == 'RU' %}

{% include 'languages/activation-error-ru.html' %}  

{% elif request.session.language == 'UA' %}

{% include 'languages/activation-error-ua.html' %}  
 
{% else %}

{% include 'languages/activation-error-en.html' %}  

{% endif %}


{% endblock %}
