{% extends "base.html" %}
{% block content %}

<head>
<style type="text/css">

@media only screen and (max-width: 768px) { 
   #trigger {
    visibility: hidden; 
    display: none; 
  } 
}

</style>
</head>



<div class='row'>
	<div hidden class='col-5 col-md-2 custom-box' id='slider' style="background-color: rgb(255,255,255); overflow: scroll; ">
    {% include "sidebar.html" %}
    </div>



{% if request.session.language == 'RU' %}

{% include 'languages/password_change_done-ru.html' %}  

{% elif request.session.language == 'UA' %}

{% include 'languages/password_change_done-ua.html' %}  
 
{% else %}

{% include 'languages/password_change_done-en.html' %}  

{% endif %}





{% endblock %}
