{% extends "base.html" %}
{% block content %}
{% load crispy_forms_tags %}


<div class="container" style="width:1500px; padding:0px;">
<div class='row'>
	{% include "sidebar.html" %}
    <div class='col-md-6 col-10  mx-auto'>
    <h1>Change your Password</h1>
        <form method='post' action=''>{% csrf_token %}
           {{ form|crispy }}
        <span style='margin-bottom: 12px;'></span>
        <button type="submit" class='btn btn-dark btn-lg btn-block'>Save</button>
        </form>
    </div>
</div>
</div>
{% endblock %}
