{% extends "base.html" %}
{% block content %}
{% load crispy_forms_tags %}

{% if request.session.language == 'RU' %}

<div class='col-12 text-left p-0'>
    <button class='btn btn-filter' id='trigger'><i class="far fa-arrow-alt-circle-left fa-3x"></i></button>
</div>

<div class="container" style="width:1500px; padding:0px;">
<div class='row'>
	<div class='col-2 custom-box' id='slider' style="background-color: rgb(255,255,255); overflow: scroll; ">
    {% include "sidebar.html" %}
    </div>


    <div class='col-7 mx-auto'>
    <p class="lead" style='font-size: 30px;'>Изменить пароль</p>
    <form method='post' action=''>{% csrf_token %}


        {{ form|crispy }}


        <span style='margin-bottom: 12px;'></span>
        <button type="submit" class='btn btn-dark btn-lg btn-block'>Сохранить</button>
    </form>
    </div>
</div>
</div>

{% else %}

<div class='col-12 text-left p-0'>
    <button class='btn btn-filter' id='trigger'><i class="far fa-arrow-alt-circle-left fa-3x"></i></button>
</div>

<div class="container" style="width:1500px; padding:0px;">
<div class='row'>
    <div class='col-2 custom-box' id='slider' style="background-color: rgb(255,255,255); overflow: scroll; ">
    {% include "sidebar.html" %}
    </div>


    <div class='col-7 mx-auto'>
    <p class="lead" style='font-size: 30px;'>Change your password</p>
    <form method='post' action=''>{% csrf_token %}


        {{ form|crispy }}


        <span style='margin-bottom: 12px;'></span>
        <button type="submit" class='btn btn-dark btn-lg btn-block'>Save</button>
    </form>
    </div>
</div>
</div>

{% endif %}




{% endblock %}
