{% extends "base.html" %}
{% block content %}
{% load crispy_forms_tags %}
{% load i18n %}

<style type="text/css">
	.psw_reset {
		width: 60%;
		margin-left: 20%;
	}
</style>


<div class="container-fluid">
	<div class='row'>
	    <div class='col-xs-12 col-md-7 mx-auto'>
			<div class='text-center'>
				<p class="heading">{% trans 'Reset password' %}</p>
			</div>

	        <form class="psw_reset" method='post' action=''>{% csrf_token %}
	        {{ form|crispy }}
	        <span style='margin-bottom: 0.8em;'></span>
	        <button type="submit" class='btn button-black hover-button large-button btn-block'>{% trans 'Submit' context 'password_reset' %}</button>
	        </form>
	    </div>
	</div>
</div>

{% endblock %}


