{% load crispy_forms_tags %}
<div class='row mx-auto'>
    <div class="col-xs-5 col-md-12 text-md-center">
        {% if key %}
        <p class="heading m-0 mt-5">Activation Error</p>
        <p class="heading m-0 mt-5" >Please try again</p>
        {% else %}
            <p class="heading m-0 mt-5" >Re-activate your Email below</p>
        {% endif %}
    </div>
    <div class="col-4 mx-auto text-center">

            <form method='POST' action=''>{% csrf_token %}
                {{ form|crispy }}
                <input class="btn btn-dark" type='submit' value='Resend Activation'/>
            </form>
      </div>
</div>


</div>