{% load static %}

  <footer class="page-footer font-small">
      <div class="container-fluid">
        <div class="row">
          <div class="col-4 footer-desktop">
            <a href="{% url 'about' %}" class="text-body mx-3 font">О нас</a>
            <a href='{% url "contact" %}' class="text-body mx-3 font">Контакт</a>
          </div>

          <div class="col-6 footer-mobile">
            <a href="{% url 'about' %}" class="text-body mr-3 font">О нас</a>
            <a href='{% url "contact" %}' class="text-body font">Контакт</a>
          </div>

          <div class="col-6 footer-mobile">
            <ul class="soc-seti pl-0">
              <li class="soc-set">
                <a class="a-soc" href="https://vk.com/saltmarketplace"><i class="fab fa-vk icon"></i></a>
              </li>
              <li class="soc-set">
                <a class="a-soc" href="https://www.instagram.com/saltish.co/"><i class="fab fa-instagram icon"></i></a>
              </li>
              <li class="soc-set">
                <a class="a-soc" href="https://www.linkedin.com/company/saltish-co/about/"><i class="fab fa-linkedin-in icon"></i></a>
              </li>
              <!-- <li class="soc-set" >
                <a class="a-soc" href="#"><i class="fab fa-facebook-f icon"></i></a>
              </li> -->
            </ul>
          </div>


          <div class="col-4 footer-desktop">
            <ul class="soc-seti pl-0">
              <li class="soc-set pl-1">
                <a class="a-soc" href="https://vk.com/saltmarketplace"><i class="fab fa-vk icon"></i></a>
              </li>
              <li class="soc-set">
                <a class="a-soc" href="https://www.instagram.com/saltish.co/"><i class="fab fa-instagram icon"></i></a>
              </li>
              <li class="soc-set">
                <a class="a-soc" href="https://www.linkedin.com/company/saltish-co/about/"><i class="fab fa-linkedin-in icon"></i></a>
              </li>
              <!-- <li class="soc-set">
                <a class="a-soc" href="#"><i class="fab fa-facebook-f icon"></i></a>
              </li> -->
            </ul>
          </div>

          <div class="col-4 text-right footer-desktop">
            <a class="text-body mx-3 font">SALT © 2019</a>
          </div>

        </div>
      </div>
  </footer>