{% load for_loop_extras %}
{% load notifications %}
{% load static %}

<nav class="navbar navbar-mb sticky-top navbar-expand-md navbar-light bg-white pb-0">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <ul class="navbar-nav  mr-auto">
            <li class="nav-item">
                {% include 'search/snippets/search-form.html' %}
            </li>
        </ul>
    </div>


    <div id="navbar-desktop" class="align-bottom"> 
        <ul class="navbar-nav mx-auto" style="align-self: end;">
            <li class="nav-item list-unstyled">
                 <a href="{% url 'home' %}">
                    <div class="row" style=" width:100px" > 
                         <div class="col logo-font"><span class=''>SALT</span>
                         </div>
                    </div>
                </a>
            </li>
        </ul>
    </div>


    <ul id="navbar-mobile" class="navbar-nav mb-2">
            <li class="nav-item list-unstyled" style="display: inline-block;">
                 <a href="{% url 'home' %}">
                    <div class="row"> 
                         <div class="col logo-font-small pr-0"><span>SALT</span></div>
                    </div>
                </a>
            </li>


            <li class="nav-item" style="display: inline-block;">                
            <button class='btn pr-1 pl-3 pb-2' id='sidebar-trigger' style="padding-left: 12px !important;"><i class="fas fa-grip-horizontal">
              
            
            </i></button>
        
            </li>
        </ul>

    <ul class="ml-auto mr-0 mt-2 pl-0 pr-0" id='lang-mobile'>
        <li style='display: inline;'>
            <button id="search-button" class="btn pr-0" type="button" data-toggle="collapse" data-target="#collapseSearchbar" aria-expanded="false" aria-controls="collapseSearchbar" >
                <i class="fa fa-search fa-1x" style=""></i>
            </button>

        </li> 
        <li class="" style='width:30px; position:relative; display: inline;'>
            <div class="btn-group" >
                <button type="button" class="btn pl-1 pr-2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i id="lang-button" class="fas fa-globe-americas"></i>
                </button>
                <div class="dropdown-menu m-0 p-0">
                <form method='GET' action="{% url 'accounts:language-pref'%}">
                <input type="hidden" name="next" value='{{ request.path }}'>
                <button class="btn dropdown-item-lang {% if request.session.language == 'RU' %} activated {% elif request.session.language == None %}activated{% endif %}"type='submit' name="language" value="RU"><small>RU</small></button><br/>
                <button class="btn dropdown-item-lang {% if request.session.language == 'UA' %} activated {% endif %}"type='submit' name="language" value="UA"><small>UA</small></button><br/>
                <button class="btn dropdown-item-lang {% if request.session.language == 'EN' %} activated {% endif %}" type='submit' name="language" value="EN"><small>EN</small></button>
                </form>
                </div>
            </div>
        </li>  
    </ul>

    <ul class="pl-0 mt-2" id='buttons'>
        <li class="" style="height: 30px; display: inline;">
          <a id="button-sell-buy" class="hover-button button-white ml-0" role="button" href="{{ products_create_url }}">Sell</a> 
        </li>

        <li class="" style="height: 30px; display: inline;">
          <a id="button-sell-buy" class="hover-button button-black" role="button" href="{{ product_list_url }}">Buy</a>
        </li>
    </ul>

    <div class="collapse" id="collapseSearchbar" style="width: 100%;">
        <form action='{% url "search:query" %}' class="search-form form my-lg-0 ">
            <div class='input-group'>
                <input class="form-control border-right-0 pt-0 mr-n1 pb-0" id='searchAutoComplete' type="text" style="height:30px; margin-top: 1px;" placeholder=
                {% if request.session.language == 'RU' %}
                    "Поиск" name='q' value='{{ request.GET.q }}' aria-label="Search"
                {% elif request.session.language == 'UA' %}
                    "Пошук" name='q' value='{{ request.GET.q }}' aria-label="Search"
                {% else %}
                    "Search" name='q' value='{{ request.GET.q }}' aria-label="Search"
                {% endif %}
                >
                <div class="input-group-append">
                    <button class="btn btn-dark" style="margin-left: 5px; margin-top: 1px; height: 30px;" type='submit'><i class="fa fa-search fa-1x align-top"></i></button>
                </div>
            </div>
        </form>
    </div>

        <!-- ЦЕМ! -->

    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto align-items-center mb-1">

        <li class="nav-item">
         {% include 'base/language-controll.html' %}
        </li>  

        <li class="nav-item mr-2 {% if request.path == products_create_url %}active{% endif %}" ">
              <a id="button-sell-buy" class="hover-button button-white" role="button" href="{{ products_create_url }}">Sell</a>
        </li>      
         
        <li class="nav-item ml-0  {% if request.path == product_list_url %}active{% endif %}"">
              <a id="button-sell-buy" class="hover-button button-black" role="button" href="{{ product_list_url }}" >Buy</a>
        </li>        


        {% if request.user.is_authenticated %}                                
        <li class="nav-item">
        <a class="nav-link pb-0 pr-0" href="{{ wish_list }}">

        <i id="wishlist-button" class="fas fa-heart black-heart"></i>
        <span class='navbar-wish-count'>{{ request.user.wishes.all.count  }}</span>
        
        </a>
        </li>
        {% endif %}

        {% if request.user.is_authenticated %}
        <li class="nav-item dropdown ml-2 mr-0">
            {% if request.user.profile_foto %}
            <a class="nav-link dropdown-toggle m-0 p-0 test1" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                    {% if request.user|get_notif > 0 %}
                        <div style='padding-left: 26px; padding-bottom: 0px'>
                            <div class='notifications'></div>
                        </div>
                    {% else %}
                    {% endif %}
                <img src="{{ request.user.profile_foto.url }}"  class="avatar avatar-navbar test1" alt="..." style="width:40px; height: 40px">

            </a>

            {% else %}

            <a class="nav-link dropdown-toggle mb-0 pb-0 pl-0" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    {% if request.user|get_notif > 0 %}
                        <div style='padding-left: 13px; padding-bottom: 0px'>
                            <div class='notifications'></div>
                        </div>
                    {% else %}
                    {% endif %}

                    <i id="user-button" class="fas fa-user" ></i></a>

            {% endif %}
          
          
            <div class="dropdown-menu dropdown-menu-right text-center" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{{ request.user.get_absolute_url }}">Аккаунт</a>
                <a class="dropdown-item" href="{% url 'chat:inbox' %}">
                        <div class='row'>
                            <div class='col-9 mx-auto m-0 p-0'>
                                <div>Повідомлення</div>
                            </div>
                            {% if request.user|get_notif > 0 %}
                                <div class='col-3 my-auto text-right'>
                                    <span style='font-size: 13px; font-weight: bold'>{{ request.user|get_notif }}</span>
                                 </div>
                            {% else %}
                            {% endif %}
                        </div>
                </a>
                <a class="dropdown-item" href='{% url "products:user-list" %}'>Мої айтеми</a>
                <a class="dropdown-item" href='{% url "accounts:wish-list" %}'>Улюблене</a>
                <a class="dropdown-item" href='{% url "accounts:history-product" %}'>Переглянуте</a>
                <a class="dropdown-item" href='{% url "accounts:user-update" %}'>Налаштування</a>
            </div>
        </li>

        {% else %}
        <li class="nav-item {% if request.path == login_url %}active{% endif %}">
            <a class="nav-link" href="{{ login_url }}"><i id="user-button" class="fas fa-user"></i></a>
        </li>
  
      {% endif %}



</ul>


</div>
</nav>