<form method="POST" action="{% url 'orders:complete_order' %}">{% csrf_token %}
	<input type="hidden" name="order_id" value="{{ object.order_id }}">
	<button type="submit" {% if object.get_status == 'Shipped' %}
	class="btn hover-button medium-button order-button btn-block order-received"
	disabled="true"
	style="border: 1px solid black; margin-top: 0.3rem;opacity: 100!important" 
	{% else %}
	class="btn hover-button button-white medium-button btn-block order-button"
	style="border: 1px solid black; margin-top: 0.3rem;opacity: 100!important"
	{% endif %}>
	{% if object.get_status == 'Shipped' %}
	✔
	{% else %}
	Received
	{% endif %}
	</button>
</form>