{% extends "base_no_footer.html" %}
{% load static %}
{% url 'products:create' as products_create_url %}
{% url 'products:list' as product_list_url %}
{% block content %}

<head>
<style type="text/css">

html, body {
  max-width: 100%;
  /*height: 100%;*/
  overflow-x: hidden;
}

p span 
{
    display: block;
}

</style>
</head>



{% if request.session.language == 'RU' %}

{% include 'languages/about_us-ru.html' %}  

{% elif request.session.language == 'UA' %}

{% include 'languages/about_us-ua.html' %}  
 
{% else %}

{% include 'languages/about_us-en.html' %}  

{% endif %}


{% endblock %}

{% block script %}
<script>

$(window).on('scroll', function() {
   var st = $(this).scrollTop();
   var wh = $(document).height() - $(window).height();
   var perc = (st*100)/wh
// console.log('The percentage is '+perc);
  if (perc >= 25 && perc < 50) {
      $('.letter').text('A');
    }
  else if (perc >= 52 && perc < 80) {
      $('.letter').text('L');
    }
  else if (perc >= 85 && perc < 100) {
    $('.letter').text('T');
    }
   else if (perc <= 25) {
     $('.letter').text('S');  
    }
});

</script>
{% endblock %}


