{% extends "base.html" %}
{% load static %}
{% block content %}

<head>
	<style type="text/css">


.page-section {
		height: 480px;
		width: 50%;		
		margin-left: 20%;
		margin-top: 8%;
		padding: 5em 3em;
		color: black;
}

.navigation {
  	position: fixed;
	margin-left: 2%;
  	color: black;
}
	
.navigation__link {
	display: block;
	color: black; 
	text-decoration: none;
	padding: 0.25em 0.75em;
}

.navigation__link:hover {
	color: white;
	background-color: black;
}
		
.navigation__link.active {
	color: white;
	background-color: black;
}


	</style>
</head>


<div class="container-fluid" style="margin-top: 10%;">

<nav class="navigation" id="mainNav">
			<a class="navigation__link" href="#buy">Как продать</a>
			<a class="navigation__link" href="#sell">Как купить</a>
			<a class="navigation__link" href="#delivery">Как получить</a>
			<a class="navigation__link" href="#return">Как вернуть</a>
<!-- 				<a class="navigation__link" href="#5">Section 5</a>
				<a class="navigation__link" href="#6">Section 6</a>
				<a class="navigation__link" href="#7">Section 7</a> -->
</nav>

<div class="page-section" id="buy">
			<p class="sub-heading" style='border-bottom: 1px solid #e8eaef'>ПРОДАЖА</p></br>
			<p>- Выстави свои айтемы на продажу в разделе SELL</p>
			<p>- После того, как кто-то купит твой айтем, отправь его на адрес покупателя</p> 
			<p>- Деньги придут на твою карту, как только покупатель получит и подтвердит соответствие айтема в своем профиле</p>
			<p>- Комиссия SALT 3%</p>
</div>
<div class="page-section" id="sell">
			<p class="sub-heading" style='border-bottom: 1px solid #e8eaef'>ПОКУПКА</p></br>
			<p>- Выбери понравившийся айтем и нажми на кнопку КУПИТЬ БЕЗОПАСНО</p>
			<p>- Введи свои данные и выбери адрес ближайшего отделения Нова Пошта</p>
			<p>- Проверь стоимость товара и доставки, затем нажми на ОПЛАТИТЬ</p>
			<p>- На сайте LiqPay ты сможешь безопасно ввести данные карты (ПриватБанк, Visa, MasterCard), и все — сделка совершена</p>
			<p>- Продавцу придет оповещение о покупке и твои данные для отправки</p>
			<p>- Когда получишь товар, проверь его на соответствие и подтверди получение в разделе ЗАКАЗЫ</p>
</div>
<div class="page-section" id="delivery">
			<p class="sub-heading" style='border-bottom: 1px solid #e8eaef'>ДОСТАВКА</p></br>
			<p>- Для жителей Украины доставка осуществляется через Нова Пошта</p>
			<p>- Просто выбери подходящее для тебя отделение из предложенных</p> 
			<p>- Сроки доставки зависят от регионов отправки и получения </p>
</div>
<div class="page-section" id="return">
			<p class="sub-heading" style='border-bottom: 1px solid #e8eaef'>ВОЗВРАТ</p></br>
			<p>- Если полученный айтем не соответствует представленному на сайте, ты можешь пожаловаться в разделе ЗАКАЗЫ</p>
			<p>- Мы свяжемся с тобой и рассмотрим конкретный случай</p>
			<p>- В случае подтверждения несоответствия мы вернем тебе деньги за покупку </p>
</div>
<!-- <div class="page-section" id="5">
			<h1>Section Five</h1>
</div>
<div class="page-section" id="6">
			<h1>Section Six</h1>
</div>
<div class="page-section" id="7">
			<h1>Section Seven</h1>
</div> -->

</div>


<script type="text/javascript">

$(document).ready(function() {
		$('a[href*="#"]').bind('click', function(e) {
			console.log(e)
				e.preventDefault(); // prevent hard jump, the default behavior

				var target = $(this).attr("href"); // Set the target as variable

				// perform animated scrolling by getting top-position of target-element and set it as scroll target
				$('html, body').stop().animate({
						scrollTop: $(target).offset().top 
						
				}, 500, function() {
						location.hash = target; //attach the hash (#jumptarget) to the pageurl
				});
				console.log($(target).offset().top)

				return false;
		});
});

$(window).scroll(function() {
		var scrollDistance = $(window).scrollTop();

		// Show/hide menu on scroll
		//if (scrollDistance >= 850) {
		//		$('nav').fadeIn("fast");
		//} else {
		//		$('nav').fadeOut("fast");
		//}
	
		// Assign active class to nav links while scolling
		$('.page-section').each(function(i) {
				if ($(this).position().top <= scrollDistance) {
						$('.navigation a.active').removeClass('active');
						$('.navigation a').eq(i).addClass('active');
				}
		});
}).scroll();

</script>



{% endblock %}
