{% extends "base.html" %}

{% load static %}
{% block content %}

<head>
	<style type="text/css">

/*body {
  position: relative !important;;
}*/

.list-group-item.active {
    z-index: 2;
    color: #fff !important;
    background-color: black;
    border-color: black;
}

.list-group-item {
    position: relative;
    display: block;
    padding: 1rem 1.25rem;
    margin-bottom: -1px;
    border: none;
    color: black;
}


.list-group-item-action:hover {
color:black;
}


	</style>
</head>



<div class="container-fluid">
<div class='row'>


<div class='col-2 pl-5' > <!-- ТОЛЬКО ДЛЯ БОЛЬШИК ЭКРАНОВ 3 рем. ДЛЯ АЙПАДОВ НИКАКОГО. ДЛЯ ТЕЛЕФОНОВ ЭТОЙ КОЛОНКИ ВООБЩЕ НЕТ -->
<div id="list-example" class="list-group position-fixed">
  <a class="list-group-item list-group-item-action" href="#buy">Как купить</a>
  <a class="list-group-item list-group-item-action" href="#sell">Как продать</a>
  <a class="list-group-item list-group-item-action" href="#delivery">Как получить</a>
  <a class="list-group-item list-group-item-action" href="#return">Как вернуть</a>
</div>
</div>


<div class='col-9 offset-md-1 p-0' style='max-width: 680px'> <!-- ДЛЯ МОБАЙЛ СДЕЛАТЬ КОЛ 12 ПАДИНГ ЛЕФТ РАЙТ 3 + сделать айнхайтлих для оферты и тд -->
<div data-spy="scroll" data-target="#list-example" data-offset="" class="scrollspy-example">
<span class='heading text-center'>FAQ</span>
  <p id="buy" class='pt-5 sub-heading'>Как купить</p> <!-- ТОЛЬКО ДЛЯ БОЛЬШИК ЭКРАНОВ 3рем. ДЛЯ АЙПАДОВ 5 рем. ДЛЯ ТЕЛЕФОНОВ НОЛЬ	 -->
   			<p>- Выбери понравившийся айтем и нажми на кнопку КУПИТЬ БЕЗОПАСНО</p>
			<p>- Введи свои данные и выбери адрес ближайшего отделения Нова Пошта</p>
			<p>- Проверь стоимость товара и доставки, затем нажми на ОПЛАТИТЬ</p>
			<p>- На сайте LiqPay ты сможешь безопасно ввести данные карты (ПриватБанк, Visa, MasterCard), и все — сделка совершена</p>
			<p>- Продавцу придет оповещение о покупке и твои данные для отправки</p>
			<p>- Когда получишь товар, проверь его на соответствие и подтверди получение в разделе ЗАКАЗЫ</p>
			<p>- Если полученный айтем не соответствует представленному на сайте, ты можешь пожаловаться в разделе ЗАКАЗЫ</p>
			<p>- Мы свяжемся с тобой и рассмотрим конкретный случай</p>
			<p>- В случае подтверждения несоответствия мы вернем тебе деньги за покупку </p>
			<p>- Если полученный айтем не соответствует представленному на сайте, ты можешь пожаловаться в разделе ЗАКАЗЫ</p>
			<p>- Мы свяжемся с тобой и рассмотрим конкретный случай</p>
			<p>- В случае подтверждения несоответствия мы вернем тебе деньги за покупку </p>
  
  <p id="sell" class='pt-5 sub-heading'>Как продать</p>
  			<p>- Выстави свои айтемы на продажу в разделе SELL</p>
			- После того, как кто-то купит твой айтем, отправь его на адрес покупателя</p> 
			<p>- Деньги придут на твою карту, как только покупатель получит и подтвердит соответствие айтема в своем профиле</p>
			<p>- Комиссия SALT 3%</p>
			<p>- Если полученный айтем не соответствует представленному на сайте, ты можешь пожаловаться в разделе ЗАКАЗЫ</p>
			<p>- Мы свяжемся с тобой и рассмотрим конкретный случай</p>
			<p>- В случае подтверждения несоответствия мы вернем тебе деньги за покупку </p>

  <p id="delivery" class='pt-5 sub-heading'>Как получить</p>
			<p>- Для жителей Украины доставка осуществляется через Нова Пошта</p>
			<p>- Просто выбери подходящее для тебя отделение из предложенных</p> 
			<p>- Сроки доставки зависят от регионов отправки и получения </p>
			<p>- Если полученный айтем не соответствует представленному на сайте, ты можешь пожаловаться в разделе ЗАКАЗЫ</p>
			<p>- Мы свяжемся с тобой и рассмотрим конкретный случай</p>
			<p>- В случае подтверждения несоответствия мы вернем тебе деньги за покупку </p>
			<p>- Если полученный айтем не соответствует представленному на сайте, ты можешь пожаловаться в разделе ЗАКАЗЫ</p>
			<p>- Мы свяжемся с тобой и рассмотрим конкретный случай</p>
			<p>- В случае подтверждения несоответствия мы вернем тебе деньги за покупку </p>
			<p>- Если полученный айтем не соответствует представленному на сайте, ты можешь пожаловаться в разделе ЗАКАЗЫ</p>
			<p>- Мы свяжемся с тобой и рассмотрим конкретный случай</p>
			<p>- В случае подтверждения несоответствия мы вернем тебе деньги за покупку </p>
			<p>- Если полученный айтем не соответствует представленному на сайте, ты можешь пожаловаться в разделе ЗАКАЗЫ</p>
			<p>- Мы свяжемся с тобой и рассмотрим конкретный случай</p>
			<p>- В случае подтверждения несоответствия мы вернем тебе деньги за покупку </p>
  <p id="return" class='pt-5 sub-heading'>Как вернуть<p>
			<p>- Если полученный айтем не соответствует представленному на сайте, ты можешь пожаловаться в разделе ЗАКАЗЫ</p>
			<p>- Мы свяжемся с тобой и рассмотрим конкретный случай</p>
			<p>- В случае подтверждения несоответствия мы вернем тебе деньги за покупку </p>
			<p>- Если полученный айтем не соответствует представленному на сайте, ты можешь пожаловаться в разделе ЗАКАЗЫ</p>
			<p>- Мы свяжемся с тобой и рассмотрим конкретный случай</p>
			<p>- В случае подтверждения несоответствия мы вернем тебе деньги за покупку </p>
			<p>- Если полученный айтем не соответствует представленному на сайте, ты можешь пожаловаться в разделе ЗАКАЗЫ</p>
			<p>- Мы свяжемся с тобой и рассмотрим конкретный случай</p>
			<p>- В случае подтверждения несоответствия мы вернем тебе деньги за покупку </p>
			<p>- Если полученный айтем не соответствует представленному на сайте, ты можешь пожаловаться в разделе ЗАКАЗЫ</p>
			<p>- Мы свяжемся с тобой и рассмотрим конкретный случай</p>
			<p>- В случае подтверждения несоответствия мы вернем тебе деньги за покупку </p>
</div>
</div>


</div>
</div>

<script type="text/javascript">


    // $('.list-group-item').click(function(event) {
    //     event.preventDefault();
    //     $($(this).attr('href'))[0].scrollIntoView();
    //     scrollBy(0, -offset);
    // });

$('body').scrollspy({ target: '#list-example', offset: 82})




</script>



{% endblock %}