{% url 'contact' as contact_url %}
{% load static %}

<footer class="page-footer font-small my-4">
    <div class="container-fluid">
      <div class="row">
        <div class="col-7 my-4 text-right">
          <a href="" class="text-body mr-3">About</a>
          <a href="" class="text-body mx-3">Help</a>
          <a href='{% url "contact" %}' class="text-body mx-3">Contact</a>
        </div>
        <div class="col my-4 text-right">
          <div class="footer-copyright">© 2019 Envision Outfit</div>
        </div>
</footer>