{% load static %}
	{% include 'base/js_templates.html' %}
<!-- django Secure AJAX  -->
	<script src='{% static "js/csrf.ajax.js" %}'></script>
<!-- ecommerce Custom JS -->
	<script src='{% static "js/ecommerce.js" %}'></script>
<!-- ecommerce Custom JS -->
	<script src='{% static "js/ecommerce.main.js" %}'></script>
<!-- ecommerce Custom JS -->
	<script src='{% static "js/categories.js" %}'></script>
<!-- ecommerce Custom JS -->
	<script src='{% static "js/images_upload_create.js" %}'></script>

  	<script src="{% static 'js/jquery.slidereveal.min.js' %}"></script>

<!-- SOL -->
<script src="{% static 'js/sol.js' %}"></script>

