{% load i18n %}
{% load for_loop_extras %}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% get_language_info_list for LANGUAGES as languages %}

<div class="btn-group">
    <button type="button" class="btn btn-lang-display buy-sell" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <small class=''>{% if LANGUAGE_CODE|upper == 'UK' %}UA{% else %}{{ LANGUAGE_CODE|upper }}{% endif %}</small>
    </button>
    <div class="dropdown-menu m-0 p-0 dropdown-lang">
        <form method='POST' action="{% url 'set_language_custom' %}">{% csrf_token %}
        <input type="hidden" name="next" value='{{ redirect_to }}'>
        {% for language in languages %}
            <button class="btn dropdown-item-lang {% if language.code == LANGUAGE_CODE %} activated {% endif %}"type='submit' name="language" value="{{ language.code }}"><small>{{ language.name_local }}</small></button><br/>
        {% endfor %}
        </form>
    </div>
</div>
