{% url 'home' as home_url %}
{% url 'contact' as contact_url %}
{% url 'products:list' as product_list_url %}
{% url 'login' as login_url %}
{% url 'logout' as logout_url %}
{% url 'register' as register_url %}
{% url 'carts:home' as cart_url %}
{% url 'accounts:home' as account_url %}
{% url 'products:create' as products_create_url %}
{% url 'accounts:wish-list' as wish_list %}
{% url 'categories:filter' as filter_url %}

{% load notifications %}
{% load static %}

<link href="https://fonts.googleapis.com/css?family=Archivo:500&display=swap" rel="stylesheet">

<style type="text/css">



@media only screen and (max-width: 768px) { 

   .dual-collapse2, #navbar-desktop {
    visibility: hidden; 
    display: none; 
  } 

  #navbar-mobile {
    display: inline-block;
    width: 30%;
  }

  .navbar-mb{
    margin-bottom: 0px;
  }
}

@media only screen and (min-width: 768px) { 
   #lang-mobile, #navbar-mobile {
    visibility: hidden; 
    display: none; 
  } 
}

@media only screen and (min-width: 768px) { 

   #buttons {
    visibility: hidden; 
    display: none; 
  } 
}


#lang-button, #search-button {
    opacity: 0.85;
}

#wishlist-button, #user-button {
    opacity: 0.75;
}

#lang-button:hover, #wishlist-button:hover, #user-button:hover, #search-button:hover {
    opacity: 1;
}

.avatar-navbar{
    width:30px !important;
    height:30px !important;
}


.notifications{
    height: 5px;
    width: 5px;
    position: absolute;
    background-color: red;
    text-align: right;
    border-radius: 50% !important;
}

.logo-font{
  font-family: 'Archivo' ;
  font-size: 30px !important;
}


</style>




{% if request.session.language == 'RU' %}

{% include 'languages/navbar-ru.html' %}  

{% elif request.session.language == 'UA' %}

{% include 'languages/navbar-ua.html' %}  
 
{% else %}

{% include 'languages/navbar-en.html' %}  

{% endif %}