{% load for_loop_extras %}
<style type="text/css">
.trenn{
	margin: 0px;
}
.custom-select{
	width: 40% !important;

}
#btn-filters{
	font-size: 9pt;
	width: 40%;
	border: 1px solid #ced4da;
	background-color: white;
}
#btn-filters:hover{
	background-color: #f5f5f5;
}
/*[hide='false']{

}*/
#result-text{
	font-size: 13pt;
}
.hide{
	display: none
}

@media only screen and (max-width: 768px) {
	.filters-desktop {
		visibility: hidden;
		display: none;
	}

	#btn-filters, .custom-select {
		width: 70% !important;
	}
}
@media only screen and (min-width: 768px) {
	.filters-mobile {
		visibility: hidden;
		display: none;
	}
}

</style>
<script type="text/javascript">
	
</script>
<hr class="trenn mb-3">
<div class="row m-0">
	<div class="col-6 col-md-4 text-left p-0">
		<button class="btn" hide='true' id='btn-filters'>
			<i class="fas fa-sliders-h mr-2"></i><span id='text-for-hide-show'>Hide Filters</span>
		</button>
	</div>

	<div class="col-4 text-center my-auto p-0 filters-desktop heading" id='result-text'>
		<b>Result: <span id='items_count'>{{ object_list.paginator.count }}</span> Items</b>
	</div>

	<div class='col-6 col-md-4 text-right p-0'>
	<select class='input-for-filters custom-select custom-select-sm' name='sort' form='form_checkboxes'>
	    <option value="" disabled selected>Sort by</option>
		<option value='new'>New</option>
		<option value='high'>Price to high</option>
		<option value='low'>Price to low</option>
	</select>
	</div>	


	<div class="col-12 text-left mt-2 p-0 filters-mobile heading" id='result-text'>
		<b>Result: <span id='items_count'>{{ object_list.paginator.count }}</span> Items</b>
	</div>

</div>
<hr class="trenn mt-2">
<div class="container-fluid ajax-search">
	<div class='row'>
		<div class='col-3 custom-box' id='slider_filters' style="background-color: rgb(255,255,255); overflow: scroll; ">
			{% include 'categories/snippets/filter-box.html' with instance=obj %}
		</div>
		<div class='col-9' id='container-filters-update' style="overflow: scroll">
			{% include 'products/snippets/languages/product_lists_cont.html' %}
		</div>
	</div>
</div>

<script type="text/javascript">
	$(document).ready(



		function(){

	if ($(window).width() < 768){
	 $("#slider_filters").slideReveal({
              trigger: $("#btn-filters"),
              push: false,
              overlay: true,
              overlayColor:'rgba(0,0,0,0.5)',
              width:'768px',
            });
           //card
           hideShowText.html('Show Filters')

}
        }
        )//if we hide filters mobile
</script>





