{% load for_loop_extras %}
<style type="text/css">
.trenn{
	margin: 0px;
}
.custom-select{
	width: 40% !important;

}
#btn-filters{
	font-size: 9pt;
	width: 35%
}
/*[hide='false']{

}*/
#result-text{
	font-size: 13pt;
}
.hide{
	display: none
}
</style>
<hr class="trenn mb-3">
<div class="row">
	<div class="col-3 text-center">
		<button class="btn btn-light" hide='true' id='btn-filters'>
			<i class="fas fa-sliders-h mr-2"></i><span id='text-for-hide-show'>Hide Filters</span>
		</button>
	</div>
	<div class="col-md-1"></div>
	<div class="col-4 text-center my-auto p-0" id='result-text'>
		<b>Result: <span id='items_count'>{{ object_list.count }}</span> Items</b>
	</div>
	<div class="col-md-1"></div>
	<div class='col-3 text-center p-0'>
	<select class='ml-3 input-for-filters custom-select custom-select-sm' name='sort' form='form_checkboxes'>
		<option value='new'>New</option>
		<option value='high'>Price to high</option>
		<option value='low'>Price to low</option>
	</select>
	</div>	
</div>
<hr class="trenn mt-3">
<div class="container-fluid ajax-search">
	<div class='row'>
		<div class='col-3 col-md-3 custom-box' id='slider' style="background-color: rgb(255,255,255); overflow: scroll; ">
			{% include 'categories/snippets/filter-box.html' with instance=obj %}
		</div>
		<div class='col-9' id='container-filters-update' style="overflow: scroll">
			{% include 'products/snippets/languages/product_lists_cont.html' %}
		</div>
	</div>
</div>