{% load static %}
{% load i18n %} 
{% load crispy_forms_tags %}
{% load compress %}

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Первый украинский маркетплейс брендовой одежды. Здесь только отборные бренды, нет фейков и безопасная покупка. Заходи и увидишь все сам_а.">
  <title>SALT | Terms </title>
  <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  {% compress css %}
  <link href="{% static 'css/all.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'css/themes-base-jquery-ui.css' %}" rel="stylesheet" type="text/css">
  {% endcompress %}
  <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  <style type="text/css">
		.list-group-item.active {
		    z-index: 2;
		    color: #fff !important;
		    background-color: black;
		    border-color: black;
		}

		.list-group-item {
		    position: relative;
		    display: block;
		    padding: 1rem 1.25rem;
		    margin-bottom: -1px;
		    border: none;
		    color: black;
		}


		.list-group-item-action:hover {
		color:black;
		}

		.faq-side {
			padding-left: 3rem;
		}

		/*For mobile */
		@media only screen and (max-width: 767px) {
			.faq-side {
				visibility: hidden;
				display: none;
			}

			.faq-text {
				padding-left: 2rem !important;
				padding-right: 2rem !important;
			}

			.faq-sub-heading {
				padding-top: 3rem !important;
			}
		}

		/*For tablets*/
		@media only screen and (min-width: 767px) and (max-width: 1025px) {
			.faq-side {
				padding-left: 0 !important;
			}

			.faq-sub-heading {
				padding-top: 5rem !important;
			}
			.faq-text {
				padding-left: 6.5rem !important;
				padding-right: 2rem !important;
			}

		}
		p {
		  white-space: pre-wrap;
		/*  font-family: monospace;*/
		}
  </style>
</head>
<body>
     {% include 'mobile/navbar.html' %}
     <div class='container-fluid main-wrapper'>



<div class="container-fluid">
<div class='row' style='overflow-wrap: break-word;'>


<div class='col-2 pl-5 faq-side'> 
<div id="list-example" class="list-group position-fixed">
  <a class="list-group-item list-group-item-action" href="#buy">{% trans 'BUYERS' %}</a>
  <a class="list-group-item list-group-item-action" href="#sell">{% trans 'SELLERS' %}</a>
</div>
</div>


<div class='col-12 col-xl-9 offset-md-1 p-0 faq-text' style='max-width: 680px'> 
<div data-spy="scroll" data-target="#list-example" data-offset="" class="scrollspy-example">
<span class='heading text-center'>FAQ</span>



  <p id="buy" class='pt-5 sub-heading faq-sub-heading'>{% trans 'BUYERS' %}</p> 



<p>

<strong>{% trans 'There is a secure purchase system on SALT. That means that the seller receives payment only after the buyer confirms the successful delivery of the item.' %}</strong>

<strong>{% trans 'I want to buy an item on SALT. Hmm ... How do I do this?' %}</strong>
{% blocktrans %}
- Choose on the item you want to purchase and click on BUY SECURE
- Enter your details and select the address of the nearest office of Nova Poshta
- Check the cost of goods and delivery, then click on PAY
- On the LiqPay website, enter the card details safely (PrivatBank, Visa, MasterCard), and that's it - the item was bought!
{% endblocktrans %}

<strong>{% trans "Payment completed. What's next?" %} </strong>
{% blocktrans %}
- The seller receives a notification of the purchase and shippment data for sending the item
- Once the item has been sent, in the ORDERS section you can track delivery by the tracking number
- When the item is delivered, confirm the delivery in the ORDERS section.
{% endblocktrans %}

<strong>{% trans "When am I gonna receive the item? I can't wait!" %}</strong>
{% blocktrans %}
- For the residents of Ukraine, delivery is carried out through Nova Posta
- The exact delivery time depends on the regions of the sender and recipient. Usually it is 1-2 days from the moment of sending
- You can calculate delivery times here: https://novaposhta.ua/en/onlineorder/estimatedate
{% endblocktrans %}

<strong>{% trans 'Is SALT free?' %} </strong>
{% blocktrans %}
- Yes, shopping on SALT is absolutely free. And also - 100%% <a style="text-decoration: underline" href="https://www.saltish.co/about/#safe">safe</a> 
{% endblocktrans %}

<strong>{% trans 'I received the item, but ... it does not match the description. What do I do?' %} </strong>
{% blocktrans %}
- In the ORDERS section, click on REPORT and we will contact you within 24 hours to double-check
- If the item, indeed, does not match the description, we will refund you money on the specified card
{% endblocktrans %}
</p>


  
  <p id="sell" class='pt-5 sub-heading faq-sub-heading'>{% trans 'SELLERS' %}</p>

<p>
<strong>{% trans 'I found a nice item in my closet. How to sell it on SALT?' %} </strong>
{% blocktrans %}
- First, enter your card details in the profile settings (so that customers can transfer you <a href="https://www.youtube.com/watch?v=cC3Kn9Y-cC4"> money </a>!)
- Click on SELL and fill out a simple form
- That's it - the item is uploaded and available in the section MY ITEMS
- After (successful) two-factor verification, it will be visible to everyone in the general catalogue
{% endblocktrans %}

<strong>{% trans 'Someone purchased my item. When will I get the money?' %}</strong>
{% blocktrans %}
- Don’t worry - the money has already been debited from the buyer's card
- Therefore, you should immediately ship the item and add tracking in the ORDERS section
- As soon as the buyer confirms the successful delivery, the money will come to your card within 24 hours
- The buyer has 7 days to confirm the successful  delivery 
- In case the buyer does not confirm the delivery (or did not contact us) after 7 days, the money is transferred to your card automatically
{% endblocktrans %}

<strong>{% trans 'What is the SALT commission for each transaction?' %} </strong>
{% blocktrans %}
- As for now - none. We will keep this platform free for as long as possible
{% endblocktrans %}
</p>

</div>
</div>


</div>
</div>



    {% include 'mobile/footer.html' %}
  	</div>
	<script type="text/javascript">


	// $('.list-group-item').click(function(event) {
	//     event.preventDefault();
	//     $($(this).attr('href'))[0].scrollIntoView();
	//     scrollBy(0, -offset);
	// });

	$('body').scrollspy({ target: '#list-example', offset: 82})




	</script>
 	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-150733918-1"></script>
    {% compress js file base %} 
    <script type="application/javascript" src="{% static 'js/jquery-ui.min.js' %}"></script>
    <script type="application/javascript" src='{% static "js/ecommerce-mobile.js" %}'></script>
    <script type="application/javascript" src="{% static 'js/jsrender.min.js' %}"></script>
    <script type="application/javascript" src='{% static "js/csrf.ajax.js" %}'></script>
    <script type="application/javascript" defer src="{% static 'fontawesome/js/all.js' %}"></script>
    <script type="application/javascript" src="{% static 'js/jquery.slidereveal.min.js' %}"></script>
    {% endcompress %}
</body>
</html>