{% extends "base.html" %}
{% block content %}
{% load crispy_forms_tags %}
{% load i18n %}
<head>
<style type="text/css">
    .psw_change {
        width: 60%;
        margin-left: 20%;
    }

    @media only screen and (max-width: 768px) { 
       #trigger {
        visibility: hidden; 
        display: none; 
      } 
}

</style>
</head>

<div class="container-fluid">
    <div class='row'>
        <div class='col-xs-12 col-md-7 mx-auto'>
            <div class='text-center'>
                <p class="heading">{% trans 'Change password' %}</p>
            </div>
            <form class="psw_change" method='post' action=''>{% csrf_token %}
            {{ form|crispy }}
            <span style='margin-bottom: 0.8em;'></span>
            <button type="submit" class='btn button-black hover-button large-button btn-block'>{% trans 'Save' %}</button>
            </form>
        </div>
    </div>
</div>





{% endblock %}
