{% load static %}
{% load i18n %} 
{% load crispy_forms_tags %}
{% load compress %}

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Первый украинский маркетплейс брендовой одежды. Здесь только отборные бренды, нет фейков и безопасная покупка. Заходи и увидишь все сам_а.">
  <title>SALT | Privacy </title>
  <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  {% compress css %}
  <link href="{% static 'css/all.css' %}" rel="stylesheet" type="text/css">
  {% endcompress %}
  <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  <style type="text/css">
	.container-privacy{
		width:70%;
	}

	/*For mobile */
	@media only screen and (max-width: 767px) {
	.container-privacy{
		width:90%;
	}
	}
  </style>
</head>
<body>
     {% include 'mobile/navbar.html' %}
     <div class='container-fluid main-wrapper'>


{% blocktrans %}
<div class="container container-privacy">
	<p class="heading text-center">Personal Data Processing Policy</p>
	<p>
	  <br>
	</p>
	<p class="sub-heading">1. General Terms</p>
	<p>This personal data processing policy is drawn up in accordance with the requirements of the Federal Law of 07.27.2006. No. 152-ФЗ "On Personal Data" and determines the procedure for processing personal data and measures to ensure the security of personal data SALT (hereinafter - the Operator).</p>
	<p>- The operator sets as his most important goal and condition for the implementation of his activities the observance of the rights and freedoms of man and citizen when processing his personal data, including protecting the rights to privacy, personal and family secrets.</p>
	<p>- This Operator's policy regarding the processing of personal data (hereinafter - the Policy) applies to all information that the Operator can receive about visitors to the website http://saltish.co.&nbsp;</p>
	<p>
	  <br>
	</p>
	<p class="sub-heading">2. Key Concepts Used in Politics</p>
	<p>- Automated processing of personal data - processing of personal data using computer technology;</p>
	<p>- Blocking of personal data - temporary termination of the processing of personal data (unless the processing is necessary to clarify personal data);</p>
	<p>- Website - a set of graphic and information materials, as well as computer programs and databases, ensuring their availability on the Internet at a network address http://saltish.co;</p>
	<p>- Personal data information system - a set of personal data contained in databases, and information technologies and technical means that ensure their processing;</p>
	<p>- Anonymization of personal data - actions, as a result of which it is impossible to determine without the use of additional information the belonging of personal data to a specific User or other personal data subject;</p>
	<p>- Personal data processing - any action (operation) or a set of actions (operations) performed using automation tools or without using such tools with personal data, including collection, recording, systematization, accumulation, storage, clarification (updating, changing), retrieval, use, transfer (distribution, provision, access), depersonalization, blocking, deletion, destruction of personal data;</p>
	<p>- Operator - a state body, municipal body, legal or natural person, independently or jointly with other persons organizing and (or) processing personal data, as well as determining the purposes of processing personal data, the composition of personal data to be processed, actions (operations) performed with personal data;</p>
	<p>- Personal data - any information relating directly or indirectly to a specific or determined Website User http://saltish.co;</p>
	<p>- User - any visitor to the website http://saltish.co;</p>
	<p>- Provision of personal data - actions aimed at the disclosure of personal data to a specific person or a certain circle of persons;</p>
	<p>- Dissemination of personal data - any actions aimed at disclosing personal data to an undefined circle of people (transfer of personal data) or familiarizing oneself with personal data of an unlimited circle of people, including disclosing personal data in the media, posting on information and telecommunication networks or providing access to personal data in any other way;</p>
	<p>- Cross-border transfer of personal data - the transfer of personal data to the territory of a foreign state to a foreign state authority, a foreign individual or foreign legal entity;</p>
	<p>- Destruction of personal data - any actions as a result of which personal data is permanently destroyed with the impossibility of further restoration of the content of personal data in the personal data information system and (or) as a result of which material carriers of personal data are destroyed.</p>
	<p>
	  <br>
	</p>
	<p class="sub-heading">3. The Operator may process the following personal data of the User</p>
	<p>- Full Name;</p>
	<p>- Email address;</p>
	<p>- Photo;</p>
	<p>The site also collects and processes anonymized data about visitors (including cookies) using Internet statistics services (Google Analytics and others).</p>
	<p>The above data are further incorporated in the text of the Policy by the general concept of Personal Data.</p>
	<p>
	  <br>
	</p>
	<p class="sub-heading">4. Purpose of processing personal data</p>
	<p>- The purpose of processing the User’s personal data is to inform the User by sending emails; providing the User with access to services, information and / or materials contained on the website.</p>
	<p>- The Operator also has the right to send notifications to the User about new products and services, special offers and various events. The user can always refuse to receive information messages by sending the Operator an email to info@saltish.co e-mail with the note “Refusal of notifications of new products and services and special offers”.</p>
	<p>- Anonymized user data collected using the Internet statistics services is used to collect information about the actions of users on the site, improve the quality of the site and its content.&nbsp;</p>
	<p>
	  <br>
	</p>
	<p class="sub-heading">5. Legal basis for the processing of personal data</p>
	<p>- The Operator processes the User’s personal data only if it is filled and / or sent by the User independently through special forms located on the website http://saltish.co. By filling out the appropriate forms and / or sending your personal data to the Operator, the User expresses his consent to this Policy.</p>
	<p>- The operator processes anonymized data about the User if it is allowed in the settings of the User’s browser (the storage of cookies and the use of JavaScript technology are enabled).&nbsp;</p>
	<p>
	  <br>
	</p>
	<p class="sub-heading">6. The procedure for the collection, storage, transfer and other types of processing of personal data</p>
	<p>The security of personal data processed by the Operator is ensured through the implementation of legal, organizational and technical measures necessary to fully comply with the requirements of the current legislation in the field of personal data protection.</p>
	<p>- Оператор обеспечивает сохранность персональных данных и принимает все возможные меры, исключающие доступ к персональным данным неуполномоченных лиц.</p>
	<p>- The User’s personal data will never, under any circumstances, be transferred to third parties, with the exception of cases related to the implementation of applicable law.</p>
	<p>- In case of inaccuracies in personal data, the User can update them independently by sending a notification to the Operator to the Operator’s email address info@saltish.co marked "Updating personal data".</p>
	<p>- The processing time for personal data is unlimited. The user can withdraw his consent to the processing of personal data at any time by sending a notification to the Operator by e-mail to the operator’s email address info@saltish.co marked "Revocation of consent to the processing of personal data".</p>
	<p>
	  <br>
	</p>
	<p class="sub-heading">7. Cross-border transfer of personal data</p>
	<p>- The operator, prior to the start of the cross-border transfer of personal data, is obliged to make sure that the foreign state into whose territory it is supposed to transfer personal data provides reliable protection of the rights of subjects of personal data.</p>
	<p>- Cross-border transfer of personal data on the territory of foreign states that do not meet the above requirements can be carried out only if there is a written consent of the personal data subject to the cross-border transfer of his personal data and / or the execution of the contract to which the personal data subject is a party.</p>
	<p>
	  <br>
	</p>
	<p class="sub-heading">8. Final terms</p>
	<p>- The user can get any clarification on issues of interest regarding the processing of his personal data by contacting the Operator via e-mail info@saltish.co.</p>
	<p>- This document will reflect any changes in the policy of processing personal data by the Operator. The policy is valid indefinitely until it is replaced with a new version.</p>
	<p>- The current version of the Policy in the public domain is located on the Internet at http://saltish.co/privacy.</p>
</div>	
{% endblocktrans %}


     {% include 'mobile/footer.html' %}
  	</div>
 	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-150733918-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-150733918-1');
    </script>
    {% include 'base/js.html' %}
    {% compress js file base %} 
    <script type="application/javascript" src="{% static 'js/jsrender.min.js' %}"></script>
    <script type="application/javascript" src='{% static "js/csrf.ajax.js" %}'></script>
    <script type="application/javascript" defer src="{% static 'fontawesome/js/all.js' %}"></script>
    {% endcompress %}
    {% if request.user.is_authenticated %}
    {% compress js file base %} 
    <script type="application/javascript" src="{% static 'js/jquery.slidereveal.min.js' %}"></script>
    {% endcompress %}
    {% endif %}
</body>
</html>