{% extends "base.html" %}
{% load static %}



{% block content %}

  

    <form
        method="POST"
        enctype="multipart/form-data"
        id="example-form"
    >
        {% csrf_token %}
        {{ form }}
        <input class="btn btn-primary" type="submit" value="Save" />
    </form>

    {% include 'django_file_form/upload_template.html' %}

    {% if use_ajax %}

        <script>
            $(function() {
                initUploadFields($('#example-form'), { prefix: 'example' });
            });
        </script>
    {% endif %}
{% endblock %}