{% load static %}
<style type="text/css">
.span {
  color: red;
}
</style>

<div class="card position-relative">
  {% if instance.images %}
  {% with instance.images.all|first as image %}
   <div class="wish-div">
        <img class="card-img-top" src="{{ image.image.url }}"  alt="..." onerror=this.src="{% static 'img/Oops.png' %}">
          <a class="like-center">{% include 'accounts/wish-list-update.html' with product=instance %}</a>

</div>

  {% endwith %}
  {% endif %}
  <div class="card-body position-relative">
    <a href="{{ instance.get_absolute_url }}">
      <div class="row position-relative poloska font-weight-bold">
        <div class="col position-static text-left">
          {{ instance.category }}
        </div>
        <div class="col position-static text-center">
          {{ instance.sex }}
        </div>
        <div class="col position-static text-right">
          {{ instance.price }}
        </div>
      </div>
      <div class="row position-relative">
        <div class="col position-static one-line">
          {{ instance.title }}
        </div>
      </div>
    </a>
  </div>
</div>



