
<div class="card text-center">

  <div class="card-body w-25">
      <a href="{{ instance.get_absolute_url }}">


                    <class="card-title w25">{{ instance.title }}</class="card-title>
                      {% if instance.images %}
                        {% with instance.images.all|first as image %}
                        <img src="{{ image.image.url }}" class="card-img-top w-75" alt="...">
                        {% endwith %}
                      {% endif %}
          

                    {% if request.user.is_authenticated %}
                    {% include 'products/wish-list-update.html' with product=instance %}
                    {% endif %}

</a>
  </div>

</div>


