{% load static %}
{% load for_loop_extras %}
<style type="text/css">
  .card-img-top {
    min-height: 9em;
    min-width: 9em;
    max-height: 9em;
    max-width: 9em;    
  }
</style>



  {% if instance.thumbnail %}
  {% with instance.thumbnail.all|first as thumbnail %}

    <div class="wish-div" style='display:flex, justify-content: center'>
      <img link_for_click ="{{ instance.get_absolute_url }}"class=" card-img-top my-auto " data-src="{{ thumbnail.thumbnail.url }}"  alt="..." onerror=this.src="{% static 'img/Oops.png' %}">
     
    </div>
  {% endwith %}
  {% endif %}
    {% include 'products/snippets/card_image_script.html' %}  


<script>


  </script>