
<a href="{{ instance.get_absolute_url_for_update }}" class="btn btn-primary">Update</a>



<form class='delete-product-ajax' method='POST' action='{% url "products:delete" %}' data-endpoint='{% url "products:delete" %}' class="form"> {% csrf_token %}
	<input type='hidden' name='product_id' value='{{ instance.id }}' />
	<input type='hidden' name='user_product' value='{{ instance.user }}' />
	<span class='submit-span'>
		<button type='submit' class='btn btn-dark'>Delete</button>
	</span>
</form>


