{% load for_loop_extras %}
{% load i18n %}
<style type="text/css">


  html,body{
  padding-bottom: 0px;
  }

  @media only screen and (max-width: 768px) { 
    .pd-bt {
      padding-bottom: 20% !important;
    }
  }

  .custom-control-label:before{
      background-color:white;

  } 

  .custom-checkbox .custom-control-input:checked~.custom-control-label::before{
      background-color:black;
      border-color: black;

  }
  .custom-checkbox .custom-control-input:disabled:checked~.custom-control-label::before{
      background-color:black;
      border-color: white;

  }
  .custom-checkbox .custom-control-input:disabled:checked~.custom-control-label{
      color: black

  }
  .custom-checkbox .custom-control-input:disabled:checked~.custom-control-label::after{
      background-image:url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='white' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E");
  }
  .custom-checkbox .custom-control-input:checked~.custom-control-label::after{
      background-image:url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='white' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E");
  }
  .custom-control-input:active~.custom-control-label::before{
      background-color:green;
  }

  /** focus shadow pinkish **/
  .custom-checkbox .custom-control-input:focus~.custom-control-label::before{
      box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem white; 
  }



  #brand-select{
    width: 70%
  }
  #title_gender{
    display: none
  }
  #title_category{
    display: none
  }
  #title_size{
    display: none
  }
  #gender-filter-box > div > div{
    display: none
  }
  #category-filter-box > div > div{
    display: none
  }
  #size-filter-box > div > div{
    display: none
  }

[data-toggle="collapse"] .fa-w:before {  
  content: "\f078";
  font-family: "Font Awesome 5 Free"; /* This is the correct font-family*/
  font-size: 10px;
  color: black;
  font-weight: 900;
  font-style: normal !important;
  text-decoration: none !important;
}

[data-toggle="collapse"].collapsed .fa-w:before {
  content: "\f054";
  font-family: "Font Awesome 5 Free"; /* This is the correct font-family*/
  color: black;
  font-weight: 900;
  font-style: normal !important;
  text-decoration: none !important;
}

[data-toggle="collapse"] .fa-fw:before {  
  content: "\f077";
  font-family: "Font Awesome 5 Free"; /* This is the correct font-family*/
  font-size: 10px;
  color: black;
  font-weight: 900;
  font-style: normal !important;
  text-decoration: none !important;
}

[data-toggle="collapse"].collapsed .fa-fw:before {
  content: "\f078";
  font-family: "Font Awesome 5 Free"; /* This is the correct font-family*/
  color: black;
  font-weight: 900;
  font-style: normal !important;
  text-decoration: none !important;
}

.btn-link:hover {
    color: black !important;
    text-decoration: none !important;
  }
.btn-link {
    color: black !important;
    text-decoration: none !important;
    padding-bottom: 10px !important;
  }




.mains-btn{
  width: 100%;
}
hr{
  margin: 5px;
}
.input-price-styling{
  background-color: black; 
  color: white; 
  font-weight: bold;
  border-color: black
}

.price-label{
  align-items: center;
  display: flex;
  font-size: 0.8em;
  padding: 0em 0em 0em 0.75em;
  color: #6b757d;
}

</style>
<form method ='GET'  id='form_checkboxes' action='{% url "products:list" %}'>
<div id='filter-boxes'>
  <div class="col-12 mt-2" id='overcategory-filter-box'>  
    <button type='button' class="btn collapsed text-left mains-btn" data-toggle="collapse" data-target="#overcategory_collaplse" aria-expanded="true" aria-controls="overcategory_collaplse">
      <div class="row">
        <div class="col-6 text-left">
          {{ overcategory }}
        </div>
        <div class="col-6 text-right">
          <i class="fa-fw ml-5" aria-hidden="false"></i>
        </div>
      </div>
    </button>
    <div class="collapse {% if overcategory_instance %} show {% endif %}" id="overcategory_collaplse">
      {% for overcategory in fields_overcategory %}
      <div class=" ml-3 custom-control custom-checkbox">
        <input type="checkbox" {% if overcategory.id|stringify in overcategory_instance %} checked {% endif %}class="custom-control-input input-for-filters radioOvercategorie" id="customCheckOvercategory{{ forloop.counter|add:'1' }}" data_for_gender="{{ overcategory }}" name='overcategory' value='{{ overcategory.id }}'>
        <label class="custom-control-label" name='overcategory' for="customCheckOvercategory{{ forloop.counter|add:'1' }}"><small>
          {% trans overcategory.overcategory_eng|capfirst %}
        </small></label>
      </div>
      {% endfor %}
    </div>
  </div>
  <div class="col-12" id='gender-filter-box'>
    <div id='title_gender' {% if overcategory_instance %} style="display: block" {% endif %}>
      <hr/>
      <button type='button' class="btn collapsed text-left mains-btn" data-toggle="collapse" data-target="#gender_collaplse" aria-expanded="true" aria-controls="gender_collaplse">
        <div class="row">
          <div class="col-6 text-left">
            {{ gender }}
          </div>
          <div class="col-6 text-right">
            <i class="fa-fw ml-5" aria-hidden="false"></i>
          </div>
        </div>
      </button>
    </div>
    <div class="collapse {% if gender_instance %} show {% endif %}" id="gender_collaplse" >
      {% for overcategory in fields_overcategory %}
        <div id='{{ overcategory }}-gender-checkbox'{% if overcategory.id|stringify in overcategory_instance %} style="display: block" {% endif %} >
          {% for gender in fields_gender %}
            {% if overcategory == gender.gender_for %}
              <div class=" ml-3 custom-control custom-checkbox">
                <input type="checkbox" {% if gender.id|stringify in gender_instance %} checked {% endif %} class="custom-control-input input-for-filters radioGender" data_for_category="{{ gender.gender_for}}-{{ gender }}" id="customCheckGender{{ forloop.counter|add:'1' }}" name='gender' value='{{ gender.id }}'>
                <label class="custom-control-label" for="customCheckGender{{ forloop.counter|add:'1' }}"><small>
                {% trans gender.gender_eng|capfirst|capfirst %}
          </small></label>
              </div>
            {% endif %}
          {% endfor %}
        </div>
      {% endfor %}
    </div>
  </div>
  <div class="col-12" id='category-filter-box'>
    <div id='title_category'{% if gender_instance %} style="display: block" {% endif %}>
      <hr/>
      <button type='button' class="btn collapsed text-left mains-btn" data-toggle="collapse" data-target="#category_collaplse" aria-expanded="true" aria-controls="category_collaplse">
      <div class="row">
        <div class="col-6 text-left">
          {{ category }}
        </div>
        <div class="col-6 text-right">
          <i class="fa-fw ml-5" aria-hidden="false"></i>
        </div>
      </div>
      </button>
    </div>
    <div class="collapse {% if undercategory_instance or category_instance %} show {% endif %}" id="category_collaplse">
      {% for gender in fields_gender %}
        <div class='row' id='{{ gender.gender_for}}-{{ gender }}-category-checkbox' {% if gender.id|stringify in gender_instance %} style="display: block" {% endif %}>
          {% for category in fields_category %}
            {% if gender == category.category_for %}
              <div class="ml-3 pl-0 custom-control custom-checkbox undercategory-for-check">
                <small class="ml-2">
                {% trans category.category_eng %}
                </small><button type='button' class="btn btn-link {% if not category in category_arr %} collapsed {% endif %}" data-toggle="collapse" data-target="#collapse{{ category.id }}" aria-expanded="true" aria-controls="collapse{{ category.id }}"><i class="fa-w mb-2 unterhaupt" aria-hidden="false"></i></button>
                <input type="checkbox" class="pl-5 text-right custom-control-input input-for-filters" id="customCheckCategory{{ forloop.counter|add:'1' }}"  name='category' {% if category.id|stringify in category_instance %} checked {% endif %} value='{{ category.id }}'data_for_category="{{ gender.gender_for}}-{{ gender }}" data_for_size="{{ gender.gender_for }}-{{ gender }}-{{ category }}-size">
                <label class="mt-2 text-right custom-control-label mr-4" style="float: right; " for="customCheckCategory{{ forloop.counter|add:'1' }}"><small>{{ all }}</small></label>
                <div id='collapse{{ category.id }}' class='collapse div1 {% if category.id|stringify in category_instance %} show {% endif %}{% for undercategory in actual_undercategory_instances %}
                {% if undercategory.undercategory_for == category %} show {% endif %} {% endfor %}'>
                  {% for undercategory in fields_undercategory %}
                    {% if category == undercategory.undercategory_for %}
                      <div class="custom-control custom-checkbox">
                        <input hidden type="checkbox" {% if undercategory.id|stringify in undercategory_instance %} checked {% endif %} {% if undercategory.undercategory_for.id|stringify in category_instance %} checked {% endif %} class="custom-control-input input-for-filters" data_for_category="{{ gender.gender_for}}-{{ gender }}" data_for_size="{{ gender.gender_for }}-{{ gender }}-{{ category }}-size" id="customCheckUndercategory{{ forloop.counter|add:'1' }}" name='undercategory' value='{{ undercategory.id }}'>
                        <label class="custom-control-label undercategory_for_disabled_checkbox_lable ml-3" for="customCheckUndercategory{{ forloop.counter|add:'1' }}"><small>
                        {% trans undercategory.undercategory_eng|capfirst %}
              </small></label>
                      </div>
                    {% endif %}
                  {% endfor %}
                </div>
              </div>
            {% endif %}
          {% endfor %}
        </div>
      {% endfor %}
    </div>
  </div>
  <div class="col-12" id='size-filter-box'>
    <div id='title_size'{% if gender_instance %} style="display: block" {% endif %}>
      <hr/>
      <button type='button' class="btn collapsed text-left mains-btn" data-toggle="collapse" data-target="#size_collaplse" aria-expanded="true" aria-controls="size_collaplse">
      <div class="row">
        <div class="col-6 text-left">
          {{ size }}
        </div>
        <div class="col-6 text-right">
          <i class="fa-fw ml-5" aria-hidden="false"></i>
        </div>
      </div>
      </button>
    </div>
    <div class="collapse {% if size_instance %} show {% endif %}" id="size_collaplse">
      {% for gender in fields_gender %}
        <div class='row' id='{{ gender.gender_for}}-{{ gender }}-size-checkbox'{% if gender.id|stringify in gender_instance %} style="display: block"{% endif %}>
          {% for category in fields_category %}
            {% if gender == category.category_for %}
              <div class="ml-3 pl-0 custom-control custom-checkbox size_for_initial"  active='false' id='{{ gender.gender_for }}-{{ gender }}-{{ category }}-size' activated=''>
                <small class="ml-2">
                  {% trans category.category_eng %}
                </small><button type='button' class="{% if not category in category_arr %} collapsed {% endif %} btn btn-link" data-toggle="collapse" data-target="#collapse-size-{{ category.id }}" aria-expanded="true" aria-controls="collapse-size-{{ category.id }}"><i class="fa-w mb-2 unterhaupt" aria-hidden="false"></i></button>
                <input type="checkbox" class="text-right custom-control-input input-for-filters" id="customCheckCategorySize{{ forloop.counter|add:'1' }}" name='category-size' value="{{ category.category }}">
                <label class="mt-2 text-right custom-control-label mr-4" style="float: right;" for="customCheckCategorySize{{ forloop.counter|add:'1' }}"><small>{{ all }}</small></label>
                <div id='collapse-size-{{ category.id }}' class='collapse {% if category.category_for.id|stringify in gender_instance %}{% for size in actual_size_instances %}{% if size.size_for == category.category %} show {% endif %} {% endfor %} {% endif %} div1'>
                  {% for size in fields_size %}
                    {% if category.category == size.size_for %}
                        <div class=" ml-3 custom-control custom-checkbox {{ size.size_type }}_size_input size_adults_kids" {% if overcategory_instance %}{% if size.size_type != category.category_for.gender_for %} style="display: none" {% endif %}{% endif %}{% if not overcategory_instance %} style="display: none" {% endif %}>
                          <input hidden type="checkbox" class="custom-control-input input-for-filters" id="customCheckSize{{ gender.gender_for }}-{{ gender }}-{{ category }}-{{ forloop.counter|add:'1' }}" {% if category.category_for.id|stringify in gender_instance %}{% if size.id|stringify in size_instance %} checked {% endif %} {% endif %} name='size' value='{{ size.id }}'>
                          <label class="custom-control-label size_for_disabled_checkbox_lable" for="customCheckSize{{ gender.gender_for }}-{{ gender }}-{{ category }}-{{ forloop.counter|add:'1' }}"><small>{{ size.size }}</small></label>
                        </div>
                    {% endif %}
                  {% endfor %}
                </div>
              </div>
            {% endif %}
          {% endfor %}
        </div>
      {% endfor %}
    </div>
  </div>
  <div class="col-12" id='condition-filter-box'>
      <hr/>
      <button type='button' class="btn collapsed text-left mains-btn" data-toggle="collapse" data-target="#condition_collapse" aria-expanded="true" aria-controls="condition_collapse">
      <div class="row">
        <div class="col-6 text-left">
          {{ condition }}
        </div>
        <div class="col-6 text-right">
          <i class="fa-fw ml-5" aria-hidden="false"></i>
        </div>
      </div>
      </button>
      <div class="collapse {% if condition_instance %} show {% endif %}" id="condition_collapse">
        {% for condition in fields_condition %}
          <div class=" ml-3 custom-control custom-checkbox">
            <input type="checkbox" {% if condition.id|stringify in condition_instance %} checked {% endif %} class="custom-control-input input-for-filters" id="customCheckCondition{{ forloop.counter|add:'1' }}" name='condition' value='{{ condition.id }}'>
            <label class="custom-control-label" for="customCheckCondition{{ forloop.counter|add:'1' }}"><small>
              {% trans condition.condition_eng %}
              </small></label>
          </div>
        {% endfor %}
      </div>
    </div>
  <div class="col-12" id='condition-filter-box'>
      <hr/>
      <button type='button' class="btn collapsed text-left mains-btn" data-toggle="collapse" data-target="#brand_collapse" aria-expanded="true" aria-controls="brand_collapse">
      <div class="row">
        <div class="col-6 text-left">
          {{ brand }}
        </div>
        <div class="col-6 text-right">
          <i class="fa-fw ml-5" aria-hidden="false"></i>
        </div>
      </div>
      </button>
      <div class="collapse {% if brand_instance %} show {% endif %}" id="brand_collapse">
        <select class='ml-5 mt-3 mb-3' id="brand-select" name="brand" multiple="multiple" brand_placeholder_trans="{% trans 'Select a brand' %}">
          {% for brand in fields_brand %}
            <option {% if brand.id|stringify in brand_instance %} selected {% endif %} value="{{ brand.id }}">{{ brand.brand_name }}</option>
          {% endfor %}
        </select>
      </div>
    </div>
  <div class="col-12 pd-bt" id='price-filter-box'>
      <hr/> 
      <button type='button' class="btn collapsed text-left mains-btn" data-toggle="collapse" data-target="#price_collapse" aria-expanded="true" aria-controls="price_collapse">
      <div class="row">
        <div class="col-6 text-left">
          {{ price }}
        </div>
        <div class="col-6 text-right">
          <i class="fa-fw ml-5" aria-hidden="false"></i>
        </div>
      </div>
      </button>
      <div class="collapse {% if price_min or price_max %} show {% endif %}" id="price_collapse">
        <div class="">
          <div class="row ml-2 mr-2 mt-2">
            <div class="col-6 text-center">
            <div class="input-group input-group-sm mb-3" style="border: 1px solid #DDD;">
                     <div class="price-label" name='price' id="inputGroup-sizing-sm">{% if request.user.is_authenticated and request.user.region %}{{ request.user.region.currency }}{% else %}{{ default_currency }}{% endif %}</div>
                <input type="number" style="border: none;" min='0' placeholder="min"  {% if price_min %} value='{{ price_min }}'{% endif %} name='price' class="form-control input-for-filters" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
              </div>
            </div>
            <div class="col-6 text-center">
               <div class="input-group input-group-sm mb-3" style="border: 1px solid #DDD;">
                      <div class="price-label" name='price' id="inputGroup-sizing-sm">{% if request.user.is_authenticated and request.user.region %}{{ request.user.region.currency }}{% else %}{{ default_currency }}{% endif %}</div>
                <input type="number" style="border: none;" name='price' min='0' placeholder="max" {% if price_max %} value='{{ price_max }}'{% endif %}class="form-control input-for-filters" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div> 
</form>







