{% load accounts_tags %}
{% load i18n %}


{% get_user_region as user_region %}

<style type="text/css">


    html,body{
    padding-bottom: 0px;
    }

    @media only screen and (max-width: 768px) { 
      .pd-bt {
        padding-bottom: 20% !important;
      }
    }

    .custom-control-label:before{
        background-color:white;

    } 

    .custom-checkbox .custom-control-input:checked~.custom-control-label::before{
        background-color:black;
        border-color: black;

    }
    .custom-checkbox .custom-control-input:disabled:checked~.custom-control-label::before{
        background-color:black;
        border-color: white;

    }
    .custom-checkbox .custom-control-input:disabled:checked~.custom-control-label{
        color: black

    }
    .custom-checkbox .custom-control-input:disabled:checked~.custom-control-label::after{
        background-image:url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='white' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E");
    }
    .custom-checkbox .custom-control-input:checked~.custom-control-label::after{
        background-image:url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='white' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E");
    }
    .custom-control-input:active~.custom-control-label::before{
        background-color:green;
    }

    /** focus shadow pinkish **/
    .custom-checkbox .custom-control-input:focus~.custom-control-label::before{
        box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem white; 
    }



    #brand-select{
      width: 70%
    }
    #title_gender{
      display: none
    }
    #title_category{
      display: none
    }
    #title_size{
      display: none
    }
    #gender-filter-box > div > div{
      display: none
    }
    #category-filter-box > div > div{
      display: none
    }
    #size-filter-box > div > div{
      display: none
    }

    [data-toggle="collapse"] .fa-w:before {  
      content: "\f078";
      font-family: "Font Awesome 5 Free"; /* This is the correct font-family*/
      font-size: 10px;
      color: black;
      font-weight: 900;
      font-style: normal !important;
      text-decoration: none !important;
    }

    [data-toggle="collapse"].collapsed .fa-w:before {
      content: "\f054";
      font-family: "Font Awesome 5 Free"; /* This is the correct font-family*/
      color: black;
      font-weight: 900;
      font-style: normal !important;
      text-decoration: none !important;
    }

    [data-toggle="collapse"] .fa-fw:before {  
      content: "\f077";
      font-family: "Font Awesome 5 Free"; /* This is the correct font-family*/
      font-size: 10px;
      color: black;
      font-weight: 900;
      font-style: normal !important;
      text-decoration: none !important;
    }

    [data-toggle="collapse"].collapsed .fa-fw:before {
      content: "\f078";
      font-family: "Font Awesome 5 Free"; /* This is the correct font-family*/
      color: black;
      font-weight: 900;
      font-style: normal !important;
      text-decoration: none !important;
    }

    .btn-link:hover {
        color: black !important;
        text-decoration: none !important;
      }
    .btn-link {
        color: black !important;
        text-decoration: none !important;
        padding-bottom: 10px !important;
      }




    .mains-btn{
      width: 100%;
    }
    hr{
      margin: 5px;
    }
    .input-price-styling{
      background-color: black; 
      color: white; 
      font-weight: bold;
      border-color: black
    }

    .price-label{
      align-items: center;
      display: flex;
      font-size: 0.8em;
      padding: 0em 0em 0em 0.75em;
      color: #6b757d;
    }


</style>
<form method ='GET'  id='form_checkboxes' action='{% url "products:list" %}'>
<div id='filter-boxes'>
  <div class="col-12 mt-2" id='overcategory-filter-box'>  
    <button type='button' class="btn collapsed text-left mains-btn" data-toggle="collapse" data-target="#overcategory_collapse" aria-expanded="true" aria-controls="overcategory_collapse">
      <div class="row">
        <div class="col-6 text-left">
          {{ overcategory }}
        </div>
        <div class="col-6 text-right">
          <i class="fa-fw ml-5" aria-hidden="false"></i>
        </div>
      </div>
    </button>
    <div class="collapse" id="overcategory_collapse">
      {% for overcategory in fields_overcategory %}
      <div class=" ml-3 custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input input-for-filters radioOvercategorie" id="customCheckOvercategory{{ forloop.counter|add:'1' }}" data_for_gender="{{ overcategory }}" name='overcategory' value='{{ overcategory.id }}'>
        <label class="custom-control-label" name='overcategory' for="customCheckOvercategory{{ forloop.counter|add:'1' }}"><small>
          {% trans overcategory.overcategory_eng|capfirst %}
        </small></label>
      </div>
      {% endfor %}
    </div>
  </div>
  <div class="col-12" id='gender-filter-box'>
    <div id='title_gender'>
      <hr/>
      <button type='button' class="btn collapsed text-left mains-btn" data-toggle="collapse" data-target="#gender_collapse" aria-expanded="true" aria-controls="gender_collapse">
        <div class="row">
          <div class="col-6 text-left">
            {{ gender }}
          </div>
          <div class="col-6 text-right">
            <i class="fa-fw ml-5" aria-hidden="false"></i>
          </div>
        </div>
      </button>
    </div>
    <div class="collapse" id="gender_collapse" >
      {% for overcategory in fields_overcategory %}
        <div id='{{ overcategory }}-gender-checkbox' id2='{{ overcategory.id }}'>
          {% for gender in fields_gender %}
            {% if overcategory == gender.gender_for %}
              <div class=" ml-3 custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input input-for-filters radioGender" data_for_category="{{ gender.gender_for}}-{{ gender }}" id="customCheckGender{{ forloop.counter|add:'1' }}" name='gender' value='{{ gender.id }}' real_overcat_name='{{ gender.gender_for }}'>
                <label class="custom-control-label" for="customCheckGender{{ forloop.counter|add:'1' }}"><small>
                {% trans gender.gender_eng|capfirst|capfirst %}
          </small></label>
              </div>
            {% endif %}
          {% endfor %}
        </div>
      {% endfor %}
    </div>
  </div>
  <div class="col-12" id='category-filter-box'>
    <div id='title_category'>
      <hr/>
      <button type='button' class="btn collapsed text-left mains-btn" data-toggle="collapse" data-target="#category_collapse" aria-expanded="true" aria-controls="category_collapse">
      <div class="row">
        <div class="col-6 text-left">
          {{ category }}
        </div>
        <div class="col-6 text-right">
          <i class="fa-fw ml-5" aria-hidden="false"></i>
        </div>
      </div>
      </button>
    </div>
    <div class="collapse" id="category_collapse">
      {% for gender in fields_gender %}
        <div class='row' id='{{ gender.gender_for}}-{{ gender }}-category-checkbox' id2='{{ gender.id }}'>
          {% for category in fields_category %}
            {% if gender == category.category_for %}
              <div class="ml-3 pl-0 custom-control custom-checkbox undercategory-for-check">
                <small class="ml-2">
                {% trans category.category_eng %}
                </small><button type='button' class="btn btn-link" data-toggle="collapse" data-target="#collapse{{ category.id }}" aria-expanded="true" aria-controls="collapse{{ category.id }}"><i class="fa-w mb-2 unterhaupt" aria-hidden="false"></i></button>
                <input type="checkbox" class="pl-5 text-right custom-control-input input-for-filters" id="customCheckCategory{{ forloop.counter|add:'1' }}"  name='category' value='{{ category.id }}'data_for_category="{{ gender.gender_for}}-{{ gender }}" data_for_size="{{ gender.gender_for }}-{{ gender }}-{{ category }}-size">
                <label class="mt-2 text-right custom-control-label mr-4" style="float: right; " for="customCheckCategory{{ forloop.counter|add:'1' }}"><small>{{ all }}</small></label>
                <div id='collapse{{ category.id }}' class='collapse div1'>
                  {% for undercategory in fields_undercategory %}
                    {% if category == undercategory.undercategory_for %}
                      <div class="custom-control custom-checkbox">
                        <input hidden type="checkbox" class="custom-control-input input-for-filters" data_for_category="{{ gender.gender_for}}-{{ gender }}" data_for_size="{{ gender.gender_for }}-{{ gender }}-{{ category }}-size" id="customCheckUndercategory{{ forloop.counter|add:'1' }}" name='undercategory' value='{{ undercategory.id }}' category_for_size_linked='{{ category.id }}'>
                        <label class="custom-control-label undercategory_for_disabled_checkbox_lable ml-3" for="customCheckUndercategory{{ forloop.counter|add:'1' }}"><small>
                        {% trans undercategory.undercategory_eng|capfirst %}
              </small></label>
                      </div>
                    {% endif %}
                  {% endfor %}
                </div>
              </div>
            {% endif %}
          {% endfor %}
        </div>
      {% endfor %}
    </div>
  </div>
  <div class="col-12" id='size-filter-box'>
    <div id='title_size'>
      <hr/>
      <button type='button' class="btn collapsed text-left mains-btn" data-toggle="collapse" data-target="#size_collapse" aria-expanded="true" aria-controls="size_collapse">
      <div class="row">
        <div class="col-6 text-left">
          {{ size }}
        </div>
        <div class="col-6 text-right">
          <i class="fa-fw ml-5" aria-hidden="false"></i>
        </div>
      </div>
      </button>
    </div>
    <div class="collapse" id="size_collapse">
      {% for gender in fields_gender %}
        <div class='row' id='{{ gender.gender_for}}-{{ gender }}-size-checkbox' id2='{{ gender.id }}'>
          {% for category in fields_category %}
            {% if gender == category.category_for %}
              <div class="ml-3 pl-0 custom-control custom-checkbox size_for_initial gendered_size_for_link"  active='false' id='{{ gender.gender_for }}-{{ gender }}-{{ category }}-size' activated='' category_for_size_linked='{{ category.id }}' gender_for_size_linked = '{{ gender.id }}'>
                <small class="ml-2">
                  {% trans category.category_eng %}
                </small><button type='button' class="btn btn-link" data-toggle="collapse" data-target="#collapse-size-{{ category.id }}" aria-expanded="true" aria-controls="collapse-size-{{ category.id }}"><i class="fa-w mb-2 unterhaupt" aria-hidden="false"></i></button>
                <input type="checkbox" class="text-right custom-control-input input-for-filters" id="customCheckCategorySize{{ forloop.counter|add:'1' }}" name='category-size' value="{{ category.category }}">
                <label class="mt-2 text-right custom-control-label mr-4" style="float: right;" for="customCheckCategorySize{{ forloop.counter|add:'1' }}"><small>{{ all }}</small></label>
                <div id='collapse-size-{{ category.id }}' class='collapse div1'>
                  {% for size in fields_size %}
                    {% if category.category == size.size_for %}
                        <div class=" ml-3 custom-control custom-checkbox {{ size.size_type }}_size_input size_adults_kids" style="display: none" id3='{{ size.size_type }}'>
                          <input hidden type="checkbox" class="custom-control-input input-for-filters" id="customCheckSize{{ gender.gender_for }}-{{ gender }}-{{ category }}-{{ forloop.counter|add:'1' }}" name='size' value='{{ size.id }}'>
                          <label class="custom-control-label size_for_disabled_checkbox_lable" for="customCheckSize{{ gender.gender_for }}-{{ gender }}-{{ category }}-{{ forloop.counter|add:'1' }}"><small>{{ size.size }}</small></label>
                        </div>
                    {% endif %}
                  {% endfor %}
                </div>
              </div>
            {% endif %}
          {% endfor %}
        </div>
      {% endfor %}
    </div>
  </div>
  <div class="col-12" id='condition-filter-box'>
      <hr/>
      <button type='button' class="btn collapsed text-left mains-btn" data-toggle="collapse" data-target="#condition_collapse" aria-expanded="true" aria-controls="condition_collapse">
      <div class="row">
        <div class="col-6 text-left">
          {{ condition }}
        </div>
        <div class="col-6 text-right">
          <i class="fa-fw ml-5" aria-hidden="false"></i>
        </div>
      </div>
      </button>
      <div class="collapse" id="condition_collapse">
        {% for condition in fields_condition %}
          <div class=" ml-3 custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input input-for-filters" id="customCheckCondition{{ forloop.counter|add:'1' }}" name='condition' value='{{ condition.id }}'>
            <label class="custom-control-label" for="customCheckCondition{{ forloop.counter|add:'1' }}"><small>
              {% trans condition.condition_eng %}
              </small></label>
          </div>
        {% endfor %}
      </div>
    </div>
  <div class="col-12" id='brand-filter-box'>
      <hr/>
      <button type='button' class="btn collapsed text-left mains-btn" data-toggle="collapse" data-target="#brand_collapse" aria-expanded="true" aria-controls="brand_collapse">
      <div class="row">
        <div class="col-6 text-left">
          {{ brand }}
        </div>
        <div class="col-6 text-right">
          <i class="fa-fw ml-5" aria-hidden="false"></i>
        </div>
      </div>
      </button>
      <div class="collapse" id="brand_collapse">
        <select class='ml-5 mt-3 mb-3' id="brand-select" name="brand" multiple="multiple" brand_placeholder_trans="{% trans 'Select a brand' %}">
          {% for brand in fields_brand %}
            <option value="{{ brand.id }}">{{ brand.brand_name }}</option>
          {% endfor %}
        </select>
      </div>
    </div>
  <div class="col-12 pd-bt" id='price-filter-box'>
      <hr/> 
      <button type='button' class="btn collapsed text-left mains-btn" data-toggle="collapse" data-target="#price_collapse" aria-expanded="true" aria-controls="price_collapse">
      <div class="row">
        <div class="col-6 text-left">
          {{ price }}
        </div>
        <div class="col-6 text-right">
          <i class="fa-fw ml-5" aria-hidden="false"></i>
        </div>
      </div>
      </button>
      <div class="collapse {% if price_min or price_max %} show {% endif %}" id="price_collapse">
        <div class="">
          <div class="row ml-2 mr-2 mt-2">
            <div class="col-6 text-center">
            <div class="input-group input-group-sm mb-3" style="border: 1px solid #DDD;">
                     <div class="price-label" name='price' id="inputGroup-sizing-sm">{% if user_region %}{{ user_region.currency }}{% else %}{{ default_currency }}{% endif %}</div>
                <input type="number" style="border: none;" min='0' placeholder="min" name='price' class="form-control input-for-filters" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
              </div>
            </div>
            <div class="col-6 text-center">
               <div class="input-group input-group-sm mb-3" style="border: 1px solid #DDD;">
                      <div class="price-label" name='price' id="inputGroup-sizing-sm">{% if user_region %}{{ user_region.currency }}{% else %}{{ default_currency }}{% endif %}</div>
                <input type="number" style="border: none;" name='price' min='0' placeholder="max" {% if price_max %} value='{{ price_max }}'{% endif %}class="form-control input-for-filters" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div> 
</form>



<script type="text/javascript">
  $(document).ready(function(){
    var url = (window.location.pathname).split('/')
    var currentUrl = url.slice(-1)[0]
    var urlParam = new URLSearchParams(currentUrl)
    var overcategory_params = urlParam.get('overcategory')
    var gender_params = urlParam.get('gender')
    var undercategory_params = urlParam.get('undercategory')
    var size_params = urlParam.get('size')
    var condition_params = urlParam.get('condition')
    var brand_params = urlParam.get('brand')
    var price_params = urlParam.get('price')
    if (overcategory_params != null){
      $('#overcategory_collapse').addClass('show')
      $('#overcategory_collapse').find("input[name='overcategory'][value='"+overcategory_params+"']").prop('checked', true)
      $('#title_gender').show()
      $('#gender_collapse').find("div[id2='"+overcategory_params+"']").show()
    }//if overcategory
    if (gender_params != null){
      $('#gender_collapse').addClass('show')
      $('#gender_collapse').find("input[name='gender'][value='"+gender_params+"']").prop('checked', true)
      var realGenderName = $('#gender_collapse').find("input[name='gender'][value='"+gender_params+"']").attr('real_overcat_name')
      $('#title_category').show()
      $('#title_size').show()
      $('#size_collapse').find("div[id2='"+gender_params+"']").show()
      $('#size_collapse').find("div[id3='"+realGenderName+"']").show()
      $('#category_collapse').find("div[id2='"+gender_params+"']").show()
    }//if gender
    if (undercategory_params != null){
      undercategory_params = undercategory_params.split(' ')
      $('.size_for_initial').hide()
      $.each(undercategory_params, function(index, value){
        $('#category_collapse').addClass('show')
        $('#category_collapse').find("input[name='undercategory'][value='"+value+"']").parent().parent().addClass('show')
        $('#category_collapse').find("input[name='undercategory'][value='"+value+"']").prop('checked', true)
        var cat = $('#category_collapse').find("input[name='undercategory'][value='"+value+"']").attr('category_for_size_linked')

        $('#size_collapse').find("div[category_for_size_linked='"+cat+"']").show()
        $('.div1').find("div[category_for_size_linked='"+cat+"']").attr('active', true)
      })
    }//if undercategory
    if (size_params != null){
      size_params = size_params.split(' ')
      $.each(size_params, function(index, value){
        $('#size_collapse').addClass('show')
        $('#size_collapse').find("input[name='size'][value='"+value+"']").parent().parent().addClass('show')
        $('#size_collapse').find("input[name='size'][value='"+value+"']").prop('checked', true)
      })
    }//if size
  })//doc ready
</script>



