{% extends "base.html" %}
{% load crispy_forms_tags %} 

{% block content %}

<head>
<style type="text/css">

.change-ava{
  min-width:155px;
}


#trigger {
    visibility: hidden; 
    display: none; 
  } 

</style>
</head>



<input type="hidden" id='language' name="language" value='EN'>
  <div class="container-fluid">
  <div class="row">
    
    <div hidden class='col-5 col-md-2 custom-box' id='slider' style="background-color: rgb(255,255,255); overflow: scroll; ">
      {% include "sidebar.html" %}
    </div>

  <div class="col-xs-12 col-md-7 mx-auto">
  {% if title %}
  <p class="lead" style='font-size: 30px;'>{{ title }}</p>
  {% endif %}

<form action="" method="POST" role="form" enctype='multipart/form-data'>
  {% csrf_token %}
  {{ form|crispy }}
    <a href='{% url "password_change" %}' class="btn  hover-button button-white medium-button" role="button" aria-pressed="true">{{ password_btn }}</a>
    <button type="submit" class="mt-3 btn button-black hover-button  large-button btn-block">{{ save_btn }}</button>
    <a href='{% url "logout" %}' class="mt-3 btn btn-outline-danger hover-button  btn-block" role="button" aria-pressed="true">{{ logout_btn }}</a>
  
</form>
            
  </div>
  </div>
  </div>



<script>
  var currentPath = window.location.href
  if (currentPath.indexOf("details") != -1){

      var languageOption = $('#language').val()
      var avatar = $('.avatar-upload-button')
      avatar.hide()
      if (languageOption=='RU'){
        avatar.parent().prepend('<label for="avatar_custom" class="bt  hover-button button-white medium-button m-0">Обновить</label>')
        }//if rus
      else {
        avatar.parent().prepend('<label for="avatar_custom" class="btn  hover-button button-white medium-button m-0">Change picture</label>')
        }//if not rus

      $(".avatar-upload-button").change(function (){
          var fieldVal = event.target.files[0].name;
          if (fieldVal != undefined || fieldVal != ""){
            if ($(".filepath")[0]) {
              $(".filepath").text(fieldVal);
            }
            else{
              avatar.parent().append("<small><span class='filepath'>" + fieldVal + "</span></small>")
            }
          }
        });
  };

</script>

{% endblock %}



