{% extends "base.html" %}
{% load crispy_forms_tags %} 

{% block content %}
{% if request.session.language == 'RU' %}
  <div class='col-12 text-left p-0'>
      <button class='btn btn-filter' id='trigger'><i class="far fa-arrow-alt-circle-left fa-2x"></i></button>
  </div>

  <div class="container-fluid">

  <div class="row">
    
    <div class='col-5 col-md-2 custom-box' id='slider' style="background-color: rgb(255,255,255); overflow: scroll; ">
      {% include "sidebar.html" %}
    </div>

  <div class="col-xs-12 col-md-7 mx-auto">

  {% if title %}
  <h2>{{ title }}</h2>
  {% endif %}

  <form action="" method="POST" role="form" enctype='multipart/form-data'>
      {% csrf_token %}

      {% if update_in_action %}
            {{ form|crispy }}

            {% if object.profile_foto %}
                  <div class="media">
                  <img src="{{ object.profile_foto.url }}" class="mr-1" alt="..." style="width: 200px;">
                  <div class="media-body">
                    <h5 class="mt-0">Фото профиля:</h5>
                  </div>
                  </div>
            {% endif %}

            <label for='email'>Email</label>
            <input type="text" id='email' class="form-control disabled" value="{{ request.user.email }}" disabled="disabled" /><small class='text-muted'>Нельзя поменять email</small><br/>
            <a href='{% url "password_change" %}' class="btn btn-outline-dark" role="button" aria-pressed="true">Изменить пароль</a>
            <button type="submit" class="mt-3 btn btn-dark btn-lg btn-block">Сохранить</button>
            <a href='{% url "marketing-pref" %}' class="mt-3 btn btn-outline-danger btn-lg btn-block" role="button" aria-pressed="true">Отписаться</a>
            <a href='{% url "logout" %}' class="mt-3 btn btn-outline-danger btn-lg btn-block" role="button" aria-pressed="true">Выйти</a>


      {% endif %}

      {% if marketing_in_action %}
            {{ form }}
            <button type="submit" class="mt-3 btn btn-dark btn-lg btn-block">Сохранить</button>
      {% endif %}

  </form>
            


  </div>
  </div>

  </div>
{% else %}
  <div class='col-12 text-left p-0'>
      <button class='btn btn-filter' id='trigger'><i class="far fa-arrow-alt-circle-left fa-2x"></i></button>
  </div>

  <div class="container-fluid">

  <div class="row">
    
    <div class='col-5 col-md-2 custom-box' id='slider' style="background-color: rgb(255,255,255); overflow: scroll; ">
      {% include "sidebar.html" %}
    </div>

  <div class="col-xs-12 col-md-7 mx-auto">

  {% if title %}
  <h2>{{ title }}</h2>
  {% endif %}

  <form action="" method="POST" role="form" enctype='multipart/form-data'>
      {% csrf_token %}

      {% if update_in_action %}
            {{ form|crispy }}

            {% if object.profile_foto %}
                  <div class="media">
                  <img src="{{ object.profile_foto.url }}" class="mr-1" alt="..." style="width: 200px;">
                  <div class="media-body">
                    <h5 class="mt-0">Profile Foto</h5>
                  </div>
                  </div>
            {% endif %}

            <label for='email'>Email</label>
            <input type="text" id='email' class="form-control disabled" value="{{ request.user.email }}" disabled="disabled" /><small class='text-muted'>Cannot change email</small><br/>
            <a href='{% url "password_change" %}' class="btn btn-outline-dark" role="button" aria-pressed="true">Change password</a>
            <button type="submit" class="mt-3 btn btn-dark btn-lg btn-block">Save</button>
            <a href='{% url "marketing-pref" %}' class="mt-3 btn btn-outline-danger btn-lg btn-block" role="button" aria-pressed="true">Unsubscribe</a>
            <a href='{% url "logout" %}' class="mt-3 btn btn-outline-danger btn-lg btn-block" role="button" aria-pressed="true">Logout</a>


      {% endif %}

      {% if marketing_in_action %}
            {{ form }}
            <button type="submit" class="mt-3 btn btn-dark btn-lg btn-block">Save</button>
      {% endif %}

  </form>
            


  </div>
  </div>

  </div>
{% endif %}



{% endblock %}



