{% extends "base.html" %}


{% block content %}

<head>
<style type="text/css">

@media only screen and (max-width: 768px) { 
   #trigger {
    visibility: hidden; 
    display: none; 
  } 
}

</style>
</head>


<div class='col-12 text-left p-0'>
    <button class='btn btn-filter' id='trigger'><i class="far fa-arrow-alt-circle-left fa-2x"></i></button>
</div>

<div class="row"> 

    <div class='col-5 col-md-2 custom-box' id='slider' style="background-color: rgb(255,255,255); overflow: scroll; ">
    {% include "sidebar.html" %}
  	</div>

</div>


{% endblock %}



