{% extends "base.html" %}
{% load static %}
{% load pagination_tags %}	
{% block content %}

<head>
<style type="text/css">

#trigger {
	visibility: hidden; 
	display: none; 
} 

</style>
</head>


		<div class="container-fluid">
			<div class='row'>
				<div hidden class='col-5 col-md-2 custom-box' id='slider' style="background-color: rgb(255,255,255); overflow: scroll;">
				  		{% include "sidebar.html" %}
				</div>

			<div class='col-12 text-center'>
				{% if object.profile_foto %}
		        <img src="{{ object.profile_foto.url }}"  class=" avatar  ml-2" alt="..." style="width:80px; height: 80px">
		        {% else %}
		        <img src="{% static 'img/user_noname.png' %}" class="avatar"  style="width:80px; height: 80px">
		        {% endif %}
			</div>
		</div>
		<div class='row mt-2'>
			<div class='col-xs-12 col-md-12 mx-auto text-center'>	
				<p class="heading">{{ object.username }}</p>
			</div>
			<div class='col-xs-12 col-md-12 mx-auto text-center'>	
				<p class="">{{ object.region }}</p>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12 col-md-3 mx-auto text-center">
				{% include 'accounts/snippets/begin-chat.html' %}
			</div>
		</div>


		<div class='row'>
			<div class='col-12'><br>

					<p class="heading" id="products-by-user" >{{ items_title }}</p>

			</div>
		</div>



<div class="container">
<div class='row'>
	{% autopaginate products %}
	{% if products|length > 0 %}
	{% for obj in products %}
		<div class='col-xs-12 card-full  col-sm-6  col-md-6 col-lg-3  position-relativ p-0'>
			{% include 'products/snippets/card.html' with instance=obj %}
			{% if forloop.counter|divisibleby:4 %}
				</div>
				</div>
				<div class='row'>
				<div class='col-12'>
				</div>
			{% else %}
				</div>
			{% endif %}
	{% endfor %}
</div>
</div>

<div class = "row pagination justify-content-center">
	<div class = "col-auto">
		{% paginate using "pagination_custom.html" %}
	</div>
</div>


	{% else %}
	
<div class='col mx-auto'>
		<div class="heading text-center" style='color:#aeacac;'>{{ no_items }}</div>
</div>
	{% endif %}


{% endblock %}