{% extends "base.html" %}
{% block content %}


<div class="container" style="width:1500px; padding:0px;">
<div class='row'>
	<div class='col-1,5 mx-auto'>
		{% if object.profile_foto %}
		<img src="{{ object.profile_foto.url }}" class="avatar"/>
		{% endif %}
	</div>
</div>
<div class='row'>
	<div class='col-1,5 mx-auto'>	
		<h1 class="display-4">{{ object.username }}</h1>
	</div>
</div>

<div class="row">
	<div class="col-3 mx-auto">
		{% include 'accounts/snippets/begin-chat.html' %}
	</div>
</div>


<div class='row'>
	<div class='col-12'><br>
		<h6 class="font-weight-bold" id="products-by-user">Products By:</h6>
	</div>
</div>

<div class='row'>
	{% for obj in products %}
		<div class='col-3 position-relative'>
			{% include 'products/snippets/card.html' with instance=obj %}
			{% if forloop.counter|divisibleby:4 %}
				</div>
				</div>
				<div class='row'>
				<div class='col-12'>
				</div>
			{% else %}
				</div>
			{% endif %}

	{% endfor %}
</div>
</div>





		
{% endblock %}