{% extends "base.html" %}
{% block content %}

<div class='row'>
	<div class='col-12 col-md-6'>
		<h1>{{ object.title }}</h1>
		{{ object.description|linebreaks }} <br/>
		{{ object.username }}
		{% if object.profile_foto %}
			<img src="{{ object.profile_foto.url }}" class = 'img-fluid'/>
		{% endif %}
	</div>
	<div>
		{% if request.user.username == object.username %}
			<a href="{% url 'accounts:user-update' %}" class="btn btn-primary">Update your profile</a>
		{% else %}
		<form method="POST">
	    {% csrf_token %}
		    <input type="hidden" name="next" value="{% url 'home' %}">
		    <button class="btn btn-primary" type="submit">Begin Chat</button>
		</form>
		{% endif %}
	</div>

		
{% endblock %}