{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}
{% if request.session.language == 'RU' %}
<div class="container-fluid">
	<div class='row'>
        <div class="mx-auto col-xs-12 col-md-7">
            <div class="text-center">

					<p class="lead" style='font-size: 30px;'>Войти / Зарегаться:</p>
					<form method = 'POST'> {% csrf_token %}
							{{ form|crispy }}
							<button type="submit" class="btn btn-dark btn-lg btn-block">ОК</button><br>
					</form>

						<p class="lead" style='font-size: 30px;'>Или:</p>
<!-- 			        <a href="{% url 'social:begin' 'vk-oauth2' %}">  <button class="btn btn-outline-dark btn-block">
			             <i class="fab fa-vk ml-1 mr-1"></i>
			            </button>
			            </a>
			        <br> -->

			        <a href="{% url 'social:begin' 'google-oauth2' %}"> <button class="btn btn-outline-dark btn-block">
						<i class="fab fa-google"></i>
			        </button>
			        </a>

			        <br><small><a href='{% url "password_reset" %}'>Забыли пароль?</a></small>
			</div>
		</div>
	</div>
</div>
{% else %}
<div class="container-fluid">
	<div class='row'>
        <div class="mx-auto col-xs-12 col-md-7">
            <div class="text-center">

					<p class="lead" style='font-size: 30px;'>Login / Register</p>
					<form method = 'POST'> {% csrf_token %}
							{{ form|crispy }}
							<button type="submit" class="btn btn-dark btn-lg btn-block">Submit</button><br>
					</form>

						<p class="lead" style='font-size: 30px;'>Or log in with:</p>
<!-- 			        <a href="{% url 'social:begin' 'vk-oauth2' %}">  <button class="btn btn-outline-dark btn-block">
			             <i class="fab fa-vk ml-1 mr-1"></i>
			            </button>
			            </a>
			        <br> -->

			        <a href="{% url 'social:begin' 'google-oauth2' %}"> <button class="btn btn-outline-dark btn-block">
						<i class="fab fa-google"></i>
			        </button>
			        </a>

			        <br><small><a href='{% url "password_reset" %}'>Forgot Password?</a></small>
			</div>
		</div>
	</div>
</div>

{% endif %}




{% endblock %}