{% extends "base.html" %}
{% block content %}

<head>
<style type="text/css">

   #trigger {
    visibility: hidden; 
    display: none; 
  } 


</style>
</head>

<div class="container">
	<div hidden class='col-5 col-md-2 custom-box' id='slider' style="background-color: rgb(255,255,255); overflow: scroll;">
	  		{% include "sidebar.html" %}
	</div> 

	<div class='row'>
		<div class='col-12'>
			{% if title %}<p class="heading" id="products-by-user">{{ title }}</p>{% endif %}
		</div>
	</div>


<div class='row'>
	{% if wishes|length > 0 %}
	{% for obj in wishes %}
		<div class='col-xs-12 bla  col-sm-6  col-md-6 col-lg-3  position-relativ p-0'>
			{% include 'products/snippets/card.html' with instance=obj %}
			{% if forloop.counter|divisibleby:4 %}
				</div>
				</div>
				<div class='row'>
				<div class='col-12'>
				</div>
			{% else %}
				</div>
			{% endif %}


	{% endfor %}
</div>
</div>







	{% else %}

<div class='col mx-auto'>
	<div class="heading text-center" style='color:#aeacac;'>{{ emptiness }}</div>
</div>


{% endif %}



</div>


{% endblock %}