<form class='form-product-ajax-wishlist-detail ml-auto' method='POST' action='{% url "accounts:wish-list-update" %}' data-endpoint='{% url "accounts:wish-list-update" %}' class="form"> {% csrf_token %}
	<input type='hidden' name='product_id' value='{{ product.id }}' />

	<span class='submit-span-wishlist'>


		{% if product in request.user.wishes.all %}
					<button type='submit' class='hidden-button hidden-button-outline'><i class='fas fa-heart fa-2x'></i></button>
		{% else %}
					<button type='submit' class='hidden-button hidden-button-outline'><i class='far fa-heart fa-2x'></i></button>
		{% endif %}



	</span>
</form>