{% extends "base.html" %}
{% block content %}

<head>
<style type="text/css">

   #trigger {
    visibility: hidden; 
    display: none; 
  } 


</style>
</head>

<div class="container">
	<div hidden class='col-5 col-md-2 custom-box' id='slider' style="background-color: rgb(255,255,255); overflow: scroll;">
	  		{% include "sidebar.html" %}
	</div> 

	<div class='row'>
		<div class='col-12'>
			{% if title %}<p class="lead" id="products-by-user" style='font-size: 30px;'>{{ title }}</p>{% endif %}
		</div>
	</div>


<div class='row'>
	{% if wishes|length > 0 %}
	{% for obj in wishes %}
		<div class='col-xs-12 bla  col-sm-6  col-md-6 col-lg-3  position-relativ p-0'>
			{% include 'products/snippets/card.html' with instance=obj %}
			{% if forloop.counter|divisibleby:4 %}
				</div>
				</div>
				<div class='row'>
				<div class='col-12'>
				</div>
			{% else %}
				</div>
			{% endif %}


	{% endfor %}
</div>
</div>



 {% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}

                    <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                       <a href="?page={{ page_obj.next_page_number }}">Next</a>
                {% endif %}
            </span>
        </div>
    {% else %}
          <h4> pagination not working</h4>
    {% endif %}





	{% else %}

<div class='col mx-auto'>
	<div class="lead text-center" style='font-size: 30px;color:#aeacac;'>{{ emptiness }}</div>
</div>


{% endif %}



</div>


{% endblock %}