{% extends "base.html" %}
{% block content %}


<div class='row'>
	<div class='col-2 text-left p-0'>
		<button class='btn btn-filter' id='trigger'><i class="far fa-arrow-alt-circle-left fa-2x"></i></button>
	</div>

	<div class='col-10 text-center'>
		{% if title %}<p class="lead" style='font-size: 30px; padding-right:270px'>{{ title }}</p>{% endif %}
	</div>
</div>



<div class="container-fluid ajax-search">

<div class='row'>



	<div class='col-5 col-md-2 custom-box' id='slider' style="background-color: rgb(255,255,255); overflow: scroll;">
	  		{% include "sidebar.html" %}
	</div> 

			
	<div class='col'>

		<div class='row mx-md-4'>
			{% for obj in object_list %}
				<div class='col-xs-12 col-md-3 position-relative'>
					{% include 'products/snippets/card.html' with instance=obj %}
					{% if forloop.counter|divisibleby:4 %}
						</div>
						</div>
						<div class='row'>
						<div class='col-12'>
						</div>
					{% else %}
						</div>
					{% endif %}

			{% endfor %}
	</div>
	
</div>

</div>


{% endblock %}