{% load static %}
{% load sass_tags %}
{% load for_loop_extras %}
{% load checked_time %}

<div id="left-section-desktop" class="row" style="position: fixed; margin-top: 150px; left: 3%; right: 80%;">
	<div class="col-12  pb-3 uppercase-title" >{{ object.title }}</div>
	<div class="col-6 uppercase">{{ size }}</div>
	<div class="col-6  my-auto" style='font-size: 12px; padding-bottom:1px'>{{ object.size }}</div>
	<div class="col-6 uppercase">{{ condition }}</div>
	<div class="col-6  my-auto" style='font-size: 12px; padding-bottom:4px'>{{ object.condition }}</div>
	<div class="col-12 uppercase">{{ description }}</div>
	<div class="col-12  b-description_readmore js-description_readmore" style='font-size: 12px; overflow-wrap: break-word;'>{{ object.description|linebreaks }}</div>
</div>

<div id="right-section-desktop" class="row" style="position: fixed; margin-top: 150px; left: 80%; right: 3%;">
	<div class="col-9  uppercase-brand">{{ object.brand }}</div>
	<div class="col-3 text-center" style="font-size: 12px; ">{% include 'accounts/wish-list-update-detail.html' with product=object %}</div>
	<div class="col-9 pb-3 uppercase-brand">${{ object.price }}</div>
	<div class="col-3 pb-3 text-center my-auto" style="font-size: 12px; ">{{ likes }}</div>
	<div class="col-12 uppercase-btn pb-2">
		{% if request.user.is_authenticated and request.user == object.user %}
			{% include 'products/snippets/logged-user-update-card.html' with instance=object %}
		{% else %}
			{% include 'accounts/snippets/begin-chat.html' %} 
		{% endif %}
	</div>
	<div class="col-8 my-auto">
		<div class="flip-card" style="width: 100%">

			{% if object.authentic == 'authentic' %}
		        <div class=" flip-card-inner">
					<div class="flip-card-front my-auto uppercase-btn pt-1"><i class="fas fa-shield-alt fa-1x my-auto"></i><span> {{authentic}}</span></div>
		                <div class="flip-card-back">
			                <div class="row">
				            	<div class="col my-auto mr-2 ml-2" style="line-height: 1"><small>{{ verified }} {{ object.timestamp| print_timestamp }}</small></div>

			              	</div>
		            	</div>
		        </div>


		    {% elif object.authentic == 'fake' %}
		        <div class=" flip-card-inner">
					<div class="flip-card-front my-auto uppercase-btn pt-1"><i class="fas fa-shield-alt fa-1x my-auto"></i><span> {{ fake }}</span></div>
		                <div class="flip-card-back">
			                <div class="row">
				            	<div class="col my-auto mr-2 ml-2"><small>{{ checked_on }} {{ object.timestamp| print_timestamp }}</small></div>

			              	</div>
		            	</div>
		        </div>

		    {% else %}
		        <div class=" flip-card-inner">
					<div class="flip-card-front my-auto uppercase-btn pt-1"><i class="fas fa-shield-alt fa-1x my-auto"></i><span> {{ ai_checked }}</span></div>
		                <div class="flip-card-back">
			                <div class="row">
				            	<div class="col my-auto mr-2 ml-2" style="line-height: 1"><small>{{ to_be_approved }}</small></div>

			              	</div>
		            	</div>
		        </div>
	        {% endif %}

       	</div>
	</div>

	<div class="col-4 my-auto">
		<div class="flip-card" style="width: 100%;">
        <div class=" flip-card-inner">
			<div class="flip-card-front my-auto uppercase-btn pt-1"><i class="fas fa-flag my-auto fa-1x"></i><span></span>
			</div>
            <div class="flip-card-back pt-0">
		        {% include 'products/snippets/product-report.html' with product=object report=report %}  
	        </div>
            </div>
        </div>
   	</div>

	<div class="col-12 pt-4">
		<div class="row">
			<div id="published-line" class="col-8 my-auto">
				<small class="text">{{ posted }} {{ object.timestamp|timesince }} {{ ago }} 
				</small>
			</div>
			<div class="col-4 pl-2 text-right">
				{% if object.user.profile_foto %}
					<a href='{{ object.user.get_absolute_url }}'><img  src="{{ object.user.profile_foto.url }}"  class=" avatar-pdv  ml-2" alt="..." ></a>
				{% else %}
					<a href='{{ object.user.get_absolute_url }}'><img src="{% static 'img/user_noname.png' %}" class="avatar-pdv ml-2" ></a>
				{% endif %}
			</div>
		</div>
	</div>

</div>





<div id="mobile" class="row mx-5 mt-3">
	<div class="col-10 uppercase-brand">{{ object.brand }}</div>
	<div class="col-2  text-center pl-1" style="font-size: 12px;">{% include 'accounts/wish-list-update-detail.html' with product=object %}</div>
	<div class="col-10 pb-3 uppercase-brand">${{ object.price }}</div>
	<div class="col-2 pb-3 pl-1  text-center my-auto" style="font-size: 12px; ">{{ likes }}</div>
	<div class="col-12 uppercase-btn pb-2">
		{% if request.user.is_authenticated and request.user == object.user %}
			{% include 'products/snippets/logged-user-update-card.html' with instance=object %}
		{% else %}
			{% include 'accounts/snippets/begin-chat.html' with btn_title='Contact seller' %} 
		{% endif %}
	</div>
	<div class="col-10 uppercase-btn">
		<div class="flip-card-2" style="width: 100%;">
			{% if object.authentic == 'authentic' %}
	        	<div class=" flip-card-2-inner">
					<div class="flip-card-2-front text-left"><i class="fas fa-shield-alt fa-1x my-auto"></i><span> {{ authentic }}</span></div>
				</div>
			{% elif object.authentic == 'fake' %}
	        	<div class=" flip-card-2-inner">
			    	<div class="flip-card-2-front text-left"><i class="fas fa-shield-alt fa-1x my-auto"></i><span> {{ fake }}</span></div>
			    </div>
			{% else %}
	        	<div class=" flip-card-2-inner">
			    	<div class="flip-card-2-front text-left"><i class="fas fa-shield-alt fa-1x my-auto"></i><span> {{ ai_checked }}</span></div>
			    </div>
			{% endif %}
       	</div>
	</div>

	<div class="col-2">
		<div class="flip-card" style="width: 100%;">
	        <div class=" flip-card-inner">
				<div class="flip-card-front my-auto uppercase-btn">{% include 'products/snippets/product-report.html' with product=object %} 
				</div>
	        </div>
	    </div>
    </div>

		<div class="col-12 pt-3 pb-3 uppercase-title" >{{ object.title }}</div>
	<div class="col-3 uppercase">{{size}}</div>
	<div class="col-9  my-auto text-right" style='font-size: 12px; padding-bottom:1px'>{{ object.size }}</div>
	<div class="col-3 uppercase">{{ condition }}</div>
	<div class="col-9  my-auto text-right" style='font-size: 12px; padding-bottom:4px'>{{ object.condition }}</div>
	<div class="col-12 uppercase">{{ description }}</div>
	<div class="col-12  b-description_readmore js-description_readmore" style='font-size: 12px; overflow-wrap: break-word;'>{{ object.description|linebreaks }}</div>

	<div class="col-12 pt-3">
		<div class="row">
			<div id="published-line" class="col-8 my-auto">
				<small class="text">{{posted}} {{ object.timestamp|timesince }} {{ago}}
				</small>
			</div>
			<div class="col-4 text-right">
				{% if object.user.profile_foto %}
					<a href='{{ object.user.get_absolute_url }}'><img  src="{{ object.user.profile_foto.url }}"  class=" avatar-pdv  ml-2" alt="..." ></a>
				{% else %}
					<a href='{{ object.user.get_absolute_url }}'><img src="{% static 'img/user_noname.png' %}" class="avatar-pdv ml-2" ></a>
				{% endif %}
			</div>
		</div>
	</div>
</div>