{% load i18n %}
{% load for_loop_extras %}


{% if 'test'|get_chat_options == 'include' %}
	{% if request.user.username == object.username %}
		<a href="{% url 'accounts:user-update' %}" class="btn hover-button button-black medium-button btn-block">{% trans 'Update profile' %}</a>
	{% else %}
		{% if object.user %}
			<a href="/messages/{{ object.user.username }}/{{ object.slug }}" class="btn hover-button button-black medium-button btn-block">{% trans 'Contact' %}</a>

		{% else %}
			{% if object.user %}
				<a href="/messages/{{ object.user.username }}/{{ object.slug }}" class="btn hover-button button-black medium-button btn-block">{% trans 'Contact' %}</a>
			{% else %}
				<a href="/messages/{{ object.username }}" class="btn hover-button button-black medium-button btn-block">{% trans 'Contact' %}</a>
			{% endif %}
		{% endif %}
	{% endif %}

{% else %}
	{% if request.user.username == object.username %}
		<a href="{% url 'accounts:user-update' %}" class="btn hover-button button-black medium-button btn-block">{% trans 'Update profile' %}</a>
	{% else %}

		{% if object.user %}
		<a href="/messages/{{ object.user.username }}" class="btn hover-button button-black medium-button btn-block">{% trans 'Contact' %}</a>
		{% else %}
		<a href="/messages/{{ object.username }}" class="btn hover-button button-black medium-button btn-block">{% trans 'Contact' %}</a>
		{% endif %}

	{% endif %}

{% endif %}