{% load crispy_forms_tags %} 
{% load static %}
{% load checked_time %}
{% load format_decimal %}
{% load i18n %}
{% load compress %}

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" />
  <meta name="description" content="Первый украинский маркетплейс брендовой одежды. Здесь только отборные бренды, нет фейков и безопасная покупка. Заходи и увидишь все сам_а.">
  <title>SALT | Checkout </title>
  <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  {% compress css %}
  <link href="{% static 'fontawesome/css/all.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'css/selectize.default.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'css/all.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'css/themes-base-jquery-ui.css' %}" rel="stylesheet" type="text/css">
  {% endcompress %}
  <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  <style type="text/css">

    .card-list-img {
      min-height: 7em;
      min-width: 7em;
      max-height: 7em;
      max-width: 7em;  
      object-fit: contain;
      align-items: center;
      cursor: pointer;
      display: inline-block;
      border-radius: 5px !important;
    }


    .selectize-input:focus-within {
      border-color: #000000 !important;
    }


    .selectize-control.single .selectize-input{
    background-image: linear-gradient(to bottom, #ffffff, #ffffff);
    }

    .option .selected .active:hover{
    background-color: transparent;
    }


    .selectize-control.plugin-remove_button [data-value] {
      position: relative;
      padding-right: 0px !important;

    }
    .selectize-control{
      padding-left: 9px;
      padding-bottom: 6px;
    }
  </style>
</head>
<body>
    {% include 'mobile/navbar.html' %}
    <div class='container-fluid main-wrapper'>

      <div id='information' class="row">
              <p class="col-12 text-center heading pb-5 mb-0" style="">{% trans 'Safe deal' %}</p>
              <div class="col-12 buyer-protection pb-5">
                <div class='row' style='padding-bottom: 2rem!important'>
                <div class='col-3 col-md-2 icons-buyer-protection'>
                  <div class=''>
                    <img data-src="{% static 'icons/authentic2.png' %}" class="double-shield">
                  </div>
                </div>
              <div class='col-9 col-md-9  p-0'>
                  <div>
                    <strong>{% trans '100% buyer protection' %}</strong></div>
                    <div>{% trans 'Every transaction on SALT is protected' %}</div>
                  </div>
              </div>
              <div class='row' style='padding-bottom: 2rem!important'>
                  <div class='col-3 col-md-2 icons-buyer-protection' style=''>
                    <div class=''>
                      <img data-src="{% static 'icons/novaposhta.png' %}" class="novaposhta">
                    </div>
                  </div>
                  <div class='col-9 col-md-9 p-0'>
                    <div><strong>{% trans 'Delivery and check at Nova Poshta' %}</strong></div>
                    <div>{% trans "Full refund if item didn't arrive" %}</div>
                  </div>
              </div>
              <div class='row pb-0'>
                  <div class='col-3 col-md-2 icons-buyer-protection' style=''>
                    <div class=''>
                      <img data-src="{% static 'icons/authentic.png' %}" class="authentic">
                    </div>
                </div>
                <div class='col-9 col-md-9 p-0'>
                    <div><strong>{% trans 'Authentic items only' %}</strong></div>
                    <div>{% trans 'Every item is being checked its authenticity' %}</div>
                </div>
                </div>
              </div>
      </div>

      <form class='checkout-form' action="" method="POST" role="form" enctype='multipart/form-data'  action_url="{% url 'products:checkout' product.id %}">{% csrf_token %}
        {% with form.address_form as address_form %}
          <div id='form-row' class="row">

            <div id='address' class="col-12 pb-4" style='min-height:235px'>
                    <p class="col-12 mb-0 pl-0" style="">{% trans 'Your address' %}</p>
                    <div class="row address-info hidden">
                      <div class="col-xs-12 col-md-12 ">
                      <div class="row">
                        <div class="col-12 labels-placement" style="padding-bottom: .75rem">
                          <span class=''> {{address_form.post_office}} </span>
                            {% if address_form.post_office.errors %}
                                {% for error in address_form.post_office.errors %}
                                  <div class='col post-office-errors'>{{ error|escape }}</div>
                                {% endfor %}
                            {% endif %}
                        </div>  
                      </div>
                      </div>
                      <div class="col-xs-12 col-md-12  ">
                      <div class="row">
                        <div class="col-12">
                          {{address_form.name|as_crispy_field}}
                        </div>   
                      </div>
                      </div>
                      <div class="col-xs-12 col-md-12  ">
                      <div class="row">
                        <div class="col-12">
                          {{address_form.phone|as_crispy_field}}
                        </div>   
                      </div>
                      </div>
                    </div>
            </div>

            <a id='product-img' class='col-4 field-name pb-3' href="{{ product.get_absolute_url }}">
              {% if product.thumbnail %}{% with product.thumbnail.all|first as thumbnail %}
              <img class="card-list-img" style='margin-bottom: 0.3rem' data-src="{{ thumbnail.thumbnail.url }}"  alt="..." onerror=this.src="{% static 'img/Oops.png' %}">
              {% endwith %}{% endif %}
              <span><i class="fas fa-shield-alt fa-1x"></i> {% trans 'Authentic' %}</span>
            </a>


            <div id='product-info' class="col-8 pb-3" style="display: flex; align-items: center; font-size: 14px; text-transform: uppercase;">
              <div class="row">
                <div class="col-12 pb-3" style="display: grid; font-weight: bold;">
                  <span class="ellipsis">{{ product.title }}</span>
                </div>

              <div class="col-12 space-between pb-1" style="display: flex;">
                  <span class="" style="padding-right: 0.2rem;">{% trans 'Seller:' %}</span>
                  <span style="display: grid; text-transform: none !important;"><a class="ellipsis" href="{{ product.user.get_absolute_url }}">{{ product.user.username }}</a></span>
                </div>

              <div class="col-12 space-between pb-1">
                <span class=''>{% trans 'Price:' %}</span>
                <span>{{ product.price_original }} грн</span>
              </div>
              <div class="col-12 space-between pb-1">
                <span class=''>{% trans 'Shipping:' %}</span>
                <span>{{ product.national_shipping|format_decimal }} грн</span>
              </div>
              </div>
            </div>


            <div id='total-btn' class="col-12">
                <div class='row' style='padding-top: 0.5em; font-size: 14px; text-transform:uppercase; font-weight: 600; border-top: 1px dashed #e1e1e1; padding-top: 1rem; '>
                    <div class="col-12 space-between">
                      <span>{% trans 'To pay:' %}</span>
                      <span>{{ product.make_total|format_decimal }} грн</span>
                    </div>
                    <div class="col-12 text-center" style=''>
                        <button type="submit" class="mt-3 btn pdv button-black btn-block" style='width:100%;'>{{ buy_btn }}</button>
                    </div>
                    <div class="col-12 text-center" style='padding-top: 1rem'>
                      <div class='payment-icon p-0 p-xl-3'><img data-src="{% static 'icons/liqpay.svg' %}" class="liqpay"></div>
                      <div class='payment-icon p-0 p-xl-3'><img data-src="{% static 'icons/privat2.svg' %}" class="privat"></div>
                      <div class='payment-icon p-0 p-xl-3'><img data-src="{% static 'icons/visa2.png' %}" class="visa">
                      </div>
                      <div class='payment-icon p-0 p-xl-3'><img data-src="{% static 'icons/mastercard.svg' %}" class="mastercard">
                      </div>
                    </div>
                </div>
            </div>

          </div>
        {% endwith %}
      </form>


    {% include 'mobile/footer.html' %}
    </div>
    <script>

        $(document).ready(
          function(){

        $(".address-info").removeClass("hidden");
        // $(".address-info").fadeTo(200, 0);
        // $(".address-info").fadeTo(2000, 100);


        // selectize 
        sel = $('#id_address_form-post_office').selectize({
          create: false,
          persist: false,
          maxOptions: 50,
        });


        $('.selectize-input input').focus(function(){
          sel[0].selectize.clear()
        })

        })
    </script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-150733918-1"></script>
    {% compress js file base %} 
    <script type="application/javascript" src="{% static 'js/jquery.lazyloadxt.min.js' %}"></script>
    <script type="application/javascript" src="{% static 'js/jquery.lazyloadxt.bootstrap.min.js' %}"></script>
    <script type="application/javascript" src="{% static 'js/jquery.lazyloadxt.jquerymobile.min.js' %}"></script>
    <script type="application/javascript" src="{% static 'js/selectize.js' %}"></script>
    <script type="application/javascript" src="{% static 'js/jsrender.min.js' %}"></script>
    <script type="application/javascript" src="{% static 'js/jquery-ui.min.js' %}"></script>
    <script type="application/javascript" src='{% static "js/ecommerce-mobile.js" %}'></script>
    <script type="application/javascript" src='{% static "js/csrf.ajax.js" %}'></script>
    <script type="application/javascript" defer src="{% static 'fontawesome/js/all.js' %}"></script>
    <script type="application/javascript" src="{% static 'js/jquery.slidereveal.min.js' %}"></script>
    {% endcompress %}
</body>
</html>








