{% load i18n %}
{% load static %}
{% load for_loop_extras %}
{% load checked_time %}

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Первый украинский маркетплейс брендовой одежды. Здесь только отборные бренды, нет фейков и безопасная покупка. Заходи и увидишь все сам_а.">
  <title>SALT | {{ object.title }} </title>
  <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" />
  
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
 	 <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

	<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'css/main.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'css/card.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'css/fonts.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'css/buttons.css' %}" rel="stylesheet" type="text/css">


	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>


  <style type="text/css">
			html, body {
			    max-width: 100%;
			}

			.username-text {
				overflow: hidden; 
				white-space: nowrap; 
				text-overflow: ellipsis;
			}

			.zoomImg{
				cursor: zoom-in!important;
			}
			.zoomedInCursor{
				cursor: zoom-out!important;
			}

			.user-input{
				font-size: 12px;
			}


			#published-line {
				line-height: 1;
			}

			.avatar-pdv{
				width: 50px;
			    height: 50px;
			    object-fit: cover;
			    border-radius: 100% !important;
			}

			p { 
			    margin-block-end: 0em !important;
			}


			/*For not popping up...*/
			.fixed-top, .sticky-top{
			    padding-bottom: 0!important;
			    margin-bottom: :0!important;
			}

			/* for django messages be not on top */
			.alert-success {
		    top: 70px !important;
			}

			img {
				max-width: 320px !important;
				max-height: 240px !important;
			}

			._rotate-right {
			    transform: rotate(270deg);
			}

			.underline {
				text-decoration: underline;
			}

			.detail-likes {
				font-size: 12px;
			}

			.brand-name {
				text-overflow: ellipsis;
				white-space: nowrap;
				overflow: hidden;
				text-decoration: underline;
				font-size: 14px;
			}

			.location svg, .share svg {
				width: 12px !important;
				height: 14px;
			}

			.submit-span-wishlist button svg {
				width: 16px;
				height: 16px;
			}

			.uppercase-font {
				text-transform: uppercase;
				font-size: 12px;
			}

  </style>
</head>
<body>
    {% include 'mobile/navbar.html' %}
    <div class='container-fluid' style="margin-bottom: 2.3rem;">


		<div class='row'>
			<div class="col-12 pb-2 user-input" style="margin-top: 80px;"> 
				<a class='underline' href="{{ object.sex.get_absolute_url }}">{% trans object.sex.gender_eng %}</a>
					<svg class="-arrow  _rotate-right" height="5px" width="10px" viewBox="0 0 10 7" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10 1.16667L8.83333 0L5 3.83333L1.16667 0L0 1.16667L5 6.16667L10 1.16667Z" fill="black"></path></svg>
					<a class='underline' href="{{ object.category.get_absolute_url }}">{% trans object.category.category_eng %}</a>
					<svg class="-arrow  _rotate-right" height="5px" width="10px" viewBox="0 0 10 7" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10 1.16667L8.83333 0L5 3.83333L1.16667 0L0 1.16667L5 6.16667L10 1.16667Z" fill="black"></path></svg>
					<a class='underline' href="{{ object.undercategory.get_absolute_url }}">{% trans object.undercategory.undercategory_eng %}
				</a>
			</div>
			<div class='col' style="display: flex; justify-content: center;">
				{% if object.images.all %}
				<div id="carouselIndicators" class="carousel slide" data-interval="false" data-ride="carousel">
					<div class="carousel-inner" style='min-height: 240px'>
						{% for image in images %}
							{% if image.image_order == 1 %}
								<div class="carousel-item active" class="carousel slide" data-interval="false">
									<img class="pdv-img" data-src="{{ image.image.url }}" alt="...">
								</div>
							{% endif %}
						{% endfor %}

						{% for image in images %}
							{% if not image.image_order == 1 %}
								<div class="carousel-item" data-interval="false">
									<img class="pdv-img" data-src="{{ image.image.url }}" alt="...">
								</div>
							{% endif %}
						{% endfor %}
					</div>
				</div>
				<div class="arrows">
					<a class="carousel-control-prev" href="#carouselIndicators" role="button" data-slide="prev" style="position: absolute; top: 50%; bottom: 50%;">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="sr-only">Previous</span>
					</a>
					<a class="carousel-control-next" href="#carouselIndicators" role="button" data-slide="next" style="position: absolute; top: 50%; bottom: 50%;">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="sr-only">Next</span>
					</a>
				</div>
				{% endif %}
			</div>
		</div>

		<div class="row mt-4">
			<div class="col-12 pb-4">
				<div class="row">
					<div class="col-10">
						<div class="row">
							<div class="col-12 brand-name">{{ object.brand }}</div>
							<div class="col-12" style="font-size: 14px;">
								{{ object.price|to_user_currency:request }}
							</div>
						</div>
					</div>
					<div class="col-2 detail-likes">
						<div class="row">
							<div class="col-12 text-center pl-0">
								{% include 'accounts/snippets/wish-list-update-detail.html' with product=object %}
							</div>
							<div class="col-12 text-center pl-0">{{ likes }}</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-12 pb-0">
				{% if not object.is_paid %}
					{% if request.user.is_authenticated and request.user == object.user %}
						{% include 'products/snippets/logged-user-update-card.html' with instance=object %}
					{% elif request.user.is_authenticated and request.user.is_admin %}
						{% include 'products/snippets/logged-user-update-card.html' with instance=object %}
						{% include 'products/snippets/buy.html' with btn_title='Contact seller' %} 
					{% else %}
						{% include 'accounts/snippets/begin-chat.html' %} 
						{% include 'products/snippets/buy.html' with btn_title='Contact seller' %} 
					{% endif %}
				{% endif %}
			</div>
			<div class="col-12">
				<div class="row">
					<div class="col-8 uppercase-font" style="padding-top: 0.15rem;">
						{% if object.authentic == 'authentic' %}
							<i class="fas fa-shield-alt fa-1x"></i><span> {{ authentic }}</span>
					    {% elif object.authentic == 'fake' %}
							<i class="fas fa-shield-alt fa-1x"></i><span> {{ fake }}</span>
					    {% else %}
							<i class="fas fa-shield-alt fa-1x"></i><span> {{ ai_checked }}</span>
					    {% endif %}
					</div>
					<div class="col-4">
						<div class="row">
							<div class="col-12">
								<div class="row">
									<div class="col-6 text-right pr-0 share" title="Share"><i class="fas fa-share-alt"></i></div>
									<div class="col-6">
										{% include 'products/snippets/product-report.html' with product=object %}
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class='container share-to-hide pl-0 pr-0' style='display:none'>
				<div class='col-12 share-icons pt-2' style='display: flex; flex-direction: row;justify-content: space-between;'>
					<a href="http://twitter.com/share?url={{request.build_absolute_uri}}&amp;text={{object.title}}" target="_blank" title="Share on Twitter">
					<i class="fab fa-twitter"></i>
					</a>

					<a href="whatsapp://send?text={{request.build_absolute_uri}}" target="_blank" title="Share with Whatsapp">
					<i class="fab fa-whatsapp-square"></i>
					</a>

					<a href="https://telegram.me/share/url?url={{request.build_absolute_uri}}&amp;text={{object.title}}" target="_blank" title="Share on Telegram">
					<i class="fab fa-telegram-plane"></i>
					</a>

					<a href="http://vk.com/share.php?url={{request.build_absolute_uri}}&amp;title={{object.title}}&amp;comment={{object.decription}}" target="_blank" title="Share on VK">
					<i class="fab fa-vk"></i>
					</a>

					<a href="http://www.facebook.com/share.php?u={{request.build_absolute_uri}}&amp;t={{object.title}}" target="_blank" title="Share on Facebook">
					<i class="fab fa-facebook"></i>
					</a>

					<a href="https://www.facebook.com/dialog/send&amp;link={{request.build_absolute_uri}}" target="_blank" title="Share with Messenger">
					<i class="fab fa-facebook-messenger"></i>
					</a>
				</div>
			</div>
			<div class="col-12 pt-4 pb-4 uppercase-title" style="font-weight: bold; font-size: 14px;">{{ object.title }}</div>

			<div class="col-4 field-name uppercase">{{ size }}</div>
			<div class="col-8  my-auto" style='font-size: 12px; padding-bottom:1px'>{{ object.size.size }}</div>
			<div class="col-4 field-name uppercase">{{ condition }}</div>
			<div class="col-8  my-auto" style='font-size: 12px; padding-bottom:4px'>{% trans object.condition.condition_eng %}</div>
			<div class="col-4 field-name uppercase">Доставка:</div>
			<div class="col-8  my-auto" style='font-size: 12px; padding-bottom:4px'>100 грн</div>

			<div class="col-12 pt-4">
				<span class="field-name uppercase" style="font-weight: bold;">{{ description }}</span>
				<span class="my-auto" style='font-size: 12px; overflow-wrap: break-word; line-height: 1.25;'>{{ object.description|linebreaks }}</span>
			</div>

			<div id="published-line" class="col-12 pt-3">
				<span class='user-input text' style="color: gray;">{{ posted }} {{ object.timestamp|timesince|generalize }} {{ ago }}
				</span>
			</div>


			<div class="col-12 pt-4">
				<div class="row">
					<div class="col-3 pr-0">
						{% if object.user.profile_foto %}
							<a href='{{ object.user.get_absolute_url }}'><img  data-src="{{ object.user.profile_foto.url }}"  class=" avatar-pdv" alt="..." ></a>
						{% else %}
							<a href='{{ object.user.get_absolute_url }}'><img data-src="{% static 'img/user_noname.png' %}" class="avatar-pdv" ></a>
						{% endif %}
					</div>
					<div class="col-9 pl-0">
						<div class="row">
							<div class="col-12 pl-0 username-text">{{ object.user.username }}</div>
							<div class="col-12 pl-0" style="display: flex; align-items: center;">
								<span class="location"><i class="fas fa-map-marker-alt"></i></span>
								<span class='user-input pl-1'>{{ region }}</span>
							</div>
						</div>
					</div>
				</div>
			</div>
<!-- 			<div id="published-line" class="col-12 pt-4">
				<span class='user-input text'>{{ posted }} {{ object.timestamp|timesince|generalize }} {{ ago }}
				</span>
			</div> -->
		</div>

        {% include 'mobile/footer.html' %}
    </div>
        {% block script %}{% endblock %}
    {% include 'base/js.html' %}
	<script type="application/javascript" src="{% static 'js/jquery.zoom.js' %}"></script>
	<script type="text/javascript">

		$('.for_zoom').wrap('<span style="display:inline-block"></span>').css('display', 'block').parent().
		zoom({
			on:'click',
			onZoomIn:function(){
				$(this).addClass('zoomedInCursor')
			},//onZoomIn
			onZoomOut:function(){
				$(this).removeClass('zoomedInCursor')
			}//onZoomOut
		});//zoom


		$(document).ready(function(){
		  $(".share").click(function(){
		    $(".share-to-hide").toggle();
		  });
		});

		var currentPath = window.location.href
		if ((currentPath.indexOf("products/view") != -1) && ($(window).width() < 1200)){
			$('.sticky-top').addClass('fixed-top').removeClass('sticky-top');
		} else {
			$('.sticky-top').addClass('fixed-top').removeClass('sticky-top bg-white');		
		}
	</script>	
    <script type="application/javascript" src="{% static 'js/jquery.lazyloadxt.min.js' %}"></script>
    <script type="application/javascript" src="{% static 'js/jquery.lazyloadxt.bootstrap.min.js' %}"></script>
    <script type="application/javascript" src="{% static 'js/jquery.lazyloadxt.jquerymobile.min.js' %}"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-150733918-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-150733918-1');
    </script>
    <script type="application/javascript" src="{% static 'js/jsrender.min.js' %}"></script>
    <script type="application/javascript" src='{% static "js/csrf.ajax.js" %}'></script>
    <script type="application/javascript" src='{% static "js/ecommerce.js" %}'></script>
    <script type="application/javascript" defer src="{% static 'fontawesome/js/all.js' %}"></script>
    {% if request.user.is_authenticated %}
    <script type="application/javascript" src="{% static 'js/jquery.slidereveal.min.js' %}"></script>
    {% endif %}
</body>
</html>