<div style="text-align: center; padding-bottom: 16px; font-family: sans-serif; padding: 32px 32px;">
  <a href="https://www.saltish.co/" style="text-decoration: none; color: black; font-size: 36px">SALT</a>
</div>

<div style="background-color: #eaeaea4f; font-family: sans-serif;text-align: center; padding: 32px 32px;">


		<div style="font-size: 20px; text-align: left !important;">
			<p>Будь ласка, активуй {{email}}, натиснувши на:</p>

			<p><a href='{{ path }}'>{{ path }}</a></p>

			<p>Після цього можеш користуватися аккаунтом.</p>

			<p>Дякуємо,
			<br> SALT</p>
		</div>




	<div>
		<a href="https://vk.com/saltmarketplace" ><img style='width: 20px; height: 20px; margin: 0 4px;' src="https://image.flaticon.com/icons/png/512/2175/2175348.png"></a>
		<a href="https://www.instagram.com/saltish.co/" ><img style='width: 20px; height: 20px; margin: 0 4px;' src="https://image.flaticon.com/icons/png/512/2175/2175198.png"></a>
		<a href="https://www.linkedin.com/company/saltish-co/about/"" ><img style='width: 20px; height: 20px; margin: 0 4px;' src="https://image.flaticon.com/icons/png/512/2168/2168311.png"></a>
	</div>

</div>
