{% load static %}
{% load pagination_tags %}
{% load i18n %}	
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Первый украинский маркетплейс брендовой одежды. Здесь только отборные бренды, нет фейков и безопасная покупка. Заходи и увидишь все сам_а.">
  <title>SALT | {{ object.username }}</title>
  <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link href="{% static 'css/all.css' %}" rel="stylesheet" type="text/css">
  <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  <style type="text/css">
		.share svg {
		width: 12px !important;
		height: 14px;
		}
			.avatar-pdv{
				width: 50px;
			    height: 50px;
			    object-fit: cover;
			    border-radius: 100% !important;
			}
			.location svg {
				width: 12px !important;
				height: 14px;
			}

			.share svg {
				width: 14px !important;
			}

			.username-text {
				overflow: hidden; 
				white-space: nowrap; 
				text-overflow: ellipsis;
			}
			.region{
				font-size: 12px;
			}
			.bio{
				font-size: 14px;
			}

  </style>
</head>
<body>
    {% include 'mobile/navbar.html' %}
	<div class='container-fluid' style="margin-bottom: 2.3rem;">

		<div class='row mt-3'>
			<div class="col-3 pr-0">
				{% if object.user.profile_foto %}
					<a href='{{ object.get_absolute_url }}'><img  data-src="{{ object.profile_foto.url }}"  class=" avatar-pdv" alt="..." ></a>
				{% else %}
					<a href='{{ object.get_absolute_url }}'><img data-src="{% static 'img/user_noname.png' %}" class="avatar-pdv" ></a>
				{% endif %}
			</div>
			<div class="col-6 pl-0">
				<div class="row">
					<div class="col-12 pl-0 username-text">{{ object.username }}</div>
					<div class="col-12 pl-0" style="display: flex; align-items: center;">
						<span class="location"><i class="fas fa-map-marker-alt"></i></span>
						<span class='region pl-1'>{{ object.region }}</span>
					</div>
				</div>
			</div>
			<div class="col-3 text-right share" title="Share"><i class="fas fa-external-link-alt"></i></div>
			<div class='container share-to-hide pl-0 pr-0' style='display:none'>
			<div class='col-12 share-icons pt-2' style='display: flex; flex-direction: row;justify-content: space-between;'>
			<a href="http://twitter.com/share?url={{request.build_absolute_uri}}&amp;text={{object.title}}" target="_blank" title="Share on Twitter">
			<i class="fab fa-twitter"></i></a>
			<a href="whatsapp://send?text={{request.build_absolute_uri}}" target="_blank" title="Share with Whatsapp">
			<i class="fab fa-whatsapp-square"></i></a>
			<a href="https://telegram.me/share/url?url={{request.build_absolute_uri}}&amp;text={{object.title}}" target="_blank" title="Share on Telegram">
			<i class="fab fa-telegram-plane"></i></a>
			<a href="http://vk.com/share.php?url={{request.build_absolute_uri}}&amp;title={{object.title}}&amp;comment={{object.decription}}" target="_blank" title="Share on VK">
			<i class="fab fa-vk"></i></a>
			<a href="http://www.facebook.com/share.php?u={{request.build_absolute_uri}}&amp;t={{object.title}}" target="_blank" title="Share on Facebook">
			<i class="fab fa-facebook"></i></a>
			<a href="https://www.facebook.com/dialog/send&amp;link={{request.build_absolute_uri}}" target="_blank" title="Share with Messenger">
			<i class="fab fa-facebook-messenger"></i></a>
			<input hidden type="text" value="{{request.build_absolute_uri}}" id="currentUrl">
			<a onclick="copyUrl()"><i class="fas fa-copy"></i></a>
			</div>
			</div>
			
			<div class='col-12 bio pt-3 pb-2'>
			{% if object.bio %}
			<span class="field-name" style='font-weight: bold'>{% trans 'Bio:' %}</span>	
			{{object.bio|linebreaks}}
			{% endif %}
			</div>	
			
		</div>

		<div class="row">
			<div class="col-xs-12 col-md-2 mx-auto text-center">
				{% include 'accounts/snippets/begin-chat.html' %}
			</div>
		</div>

		<div class='row'>
			<div class='col-12'><br>
				<p class="heading" id="products-by-user" >{% trans 'Items:' %}</p>
			</div>
		</div>

		<div class="container">
			<div class='row'>
			{% autopaginate products %}
			{% if products|length > 0 %}
				{% for obj in products %}
				<div class='col-xs-12 card-full text-center  col-sm-6  col-md-6 col-lg-3  position-relativ p-0'>
				{% include 'products/snippets/card.html' with instance=obj %}
				{% if forloop.counter|divisibleby:4 %}
					</div>
					</div>
					<div class='row'>
					<div class='col-12'>
					</div>
				{% else %}
					</div>
				{% endif %}
				{% endfor %}
				</div>
				</div>
				<div class = "row pagination justify-content-center">
				<div class = "col-auto">
				{% paginate using "base/pagination_custom.html" %}
				</div>
				</div>
			{% else %}
				<div class='col mx-auto'>
					<div class="heading text-center" style='color:#aeacac;'>{% trans 'No items yet' %}</div>
				</div>
			{% endif %}

		<!--Footer (+ padding for it-->
		<div class="row fluid info" style='padding-top: 76px; '>
		</div>
		{% include 'mobile/footer.html' %}
	</div>
	<script type='application/javascript'>
		$(document).ready(function(){
		$(".share").click(function(){
		$(".share-to-hide").toggle();
		});
		});

		function copyUrl() {
		var copyText = document.getElementById("currentUrl");
		copyText.select();
		copyText.setSelectionRange(0, 99999)
		document.execCommand("copy");
		alert("Copied: " + copyText.value);
		}
	</script>
    <script type="application/javascript" src="{% static 'js/jquery.lazyloadxt.min.js' %}"></script>
    <script type="application/javascript" src="{% static 'js/jquery.lazyloadxt.bootstrap.min.js' %}"></script>
    <script type="application/javascript" src="{% static 'js/jquery.lazyloadxt.jquerymobile.min.js' %}"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-150733918-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-150733918-1');
    </script>
    <script type="application/javascript" src="{% static 'js/jsrender.min.js' %}"></script>
    <script type="application/javascript" src='{% static "js/ecommerce.js" %}'></script>
    <script type="application/javascript" src='{% static "js/csrf.ajax.js" %}'></script>
    <script type="application/javascript" defer src="{% static 'fontawesome/js/all.js' %}"></script>
    {% if request.user.is_authenticated %}
    <script type="application/javascript" src="{% static 'js/jquery.slidereveal.min.js' %}"></script>
    {% endif %}
</body>
</html>
