{% load static %}
{% load pagination_tags %}
{% load i18n %}	
{% load compress %}

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Первый украинский маркетплейс брендовой одежды. Здесь только отборные бренды, нет фейков и безопасная покупка. Заходи и увидишь все сам_а.">
  <title>SALT | Wishlist </title>
  <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  {% compress css %}
  <link href="{% static 'css/all.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'css/themes-base-jquery-ui.css' %}" rel="stylesheet" type="text/css">
  {% endcompress %}
  <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  <style type="text/css">
 </style>
</head>
<body>
    {% include 'mobile/navbar.html' %}
	<div class='container-fluid main-wrapper'>

		<div class='row'>
			<div class='col-12'>
				<p class="heading" id="products-by-user">{% trans 'Wishlist:' %}</p>
			</div>
		</div>

		{% autopaginate wishes %}
			{% if wishes|length > 0 %}
				{% include 'products/snippets/mobile/card-wishlist.html' with object_list=wishes %}
				<div class = "row pagination justify-content-center">
					<div class = "col-auto">
					{% paginate using "base/pagination_custom.html" %}
					</div>
				</div>
			{% else %}
				<div class='col mx-auto'>
					<div class="text-center" style='color:#aeacac;'>{% trans 'No items yet' %}</div>
				</div>
			{% endif %}
			{% include 'mobile/footer.html' %}
	</div>

 <script async src="https://www.googletagmanager.com/gtag/js?id=UA-150733918-1"></script>
	{% compress js file base %}	
    <script type="application/javascript" src="{% static 'js/jquery.lazyloadxt.min.js' %}"></script>
    <script type="application/javascript" src="{% static 'js/jquery.lazyloadxt.bootstrap.min.js' %}"></script>
    <script type="application/javascript" src="{% static 'js/jquery.lazyloadxt.jquerymobile.min.js' %}"></script>
    <script type="application/javascript" src="{% static 'js/jsrender.min.js' %}"></script>
    <script type="application/javascript" src="{% static 'js/jquery-ui.min.js' %}"></script>
    <script type="application/javascript" src='{% static "js/ecommerce-mobile.js" %}'></script>
    <script type="application/javascript" src='{% static "js/csrf.ajax.js" %}'></script>
    <script type="application/javascript" defer src="{% static 'fontawesome/js/all.js' %}"></script>
    <script type="application/javascript" src="{% static 'js/jquery.slidereveal.min.js' %}"></script>
    {% endcompress %}
</body>
</html>
