{% extends "base.html" %}
{% load static %}
{% url 'products:create' as products_create_url %}
{% url 'products:list' as product_list_url %}
{% block content %}

<head>
<style type="text/css">

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
  padding-bottom: 25px;
}


@media only screen and (min-width: 768px) {
  #hanger {
    margin-right: 75px;
  }
}



</style>
</head>


<div class="row">
  <div class="col">

    <div class="row fluid hanger" style="height: 465px;">
    	<div class="col-12 pt-5" style="display: flex; justify-content: center;">
        <p class="heading text-center" >What is S A L T ?</p>
    	</div>
    	<div class="col-12" style="display: flex; justify-content: center;">
    		<p class="text-center">Описание</p>
    	</div>


    	<div class="col-12" id='back-elem' style="display: flex; justify-content: flex-end; position: fixed; top:200px;">
    		<img id="hanger" style='height:200px; width:200px;' src="{% static 'img/S.png' %}">
    	</div>



    </div>

    	<div id="safe" class="row fluid text-center">
        <div class="col fluid" style="padding-left: 0px; padding-right: 0px;">
          <div class="bg">
      		  <div class="jumbotron jumbotron p-0 m-0" style=" background:transparent;  background-color:transparent; color:black; ">

          		<div id="safe" class="row fluid pt-5 pb-5" style="background-image: url('{% static 'img/white-waves.png' %}'); height: 565px;">
                <div class="col-xs-12 col-md-4 fluid">
                 <div class="flip-card mx-auto">
                    <div class=" flip-card-inner">
                      <div class="flip-card-front">
                       <h3><p class="my-auto text pt-5">Safe</p></h3>
                        <i class=" my-auto fas fa-user-shield fa-3x"></i>
                      </div>                      
                    </div>
                  </div> 
                </div>
                <div class="col-xs-12 col-md-8">
                	<p>Текст о том, как наши модераторы проверяют каждую вещь перед публикацией, что создает защиту от фейковых товаров.</p>
                </div>
              </div>

              <br>
              <br>

          		<div id="ai" class=" row fluid pt-5 pb-5" style="background-color: white; height: 565px;">
          			<div class="col-xs-12 col-md-8">
              	 		<p>Текст о модели AI, которая совершенствуется с каждым новым артикулом, и также способствует проверке фейков.</p>
                	</div>
                <div class="col-xs-12 col-md-4 fluid">
                 <div class="flip-card mx-auto">
                    <div class=" flip-card-inner">
                      <div class="flip-card-front">
                       <h3><p class="my-auto text pt-5">AI-Powered</p></h3>
                        <i class="fas fa-brain fa-3x"></i>
                      </div>                      
                    </div>
                  </div> 
                </div>        
              </div>

              <br>
              <br>

              <div id="simple" class="row fluid pt-5 pb-5" style="background-image: url('{% static 'img/white-waves.png' %}'); height: 565px;">
                <div class="col-xs-12 col-md-4 fluid">
                 <div class="flip-card mx-auto">
                    <div class=" flip-card-inner">
                      <div class="flip-card-front">
                       <h3><p class="my-auto text pt-5">Simple</p></h3>
                        <i class="fas fa-hand-holding-heart fa-3x"></i>
                      </div>                      
                    </div>
                  </div> 
                </div>
                <div class="col-xs-12 col-md-8">
                  <p>Красивый текст о минимализме, лёгкости и функциональности сайта.</p>
                </div>
              </div>


            </div>
          </div>
        </div>
      </div>	




  </div>
</div>

{% endblock %}

{% block script %}
<script>


// $(window).scroll(function(){



//    else if ($(window).scrollTop() >= 600) {
//    console.log('over 1000')
//      // change target to number
//       // $('.hanger img').attr("src","/static/img/Oops.jpg");
//     }

//   // else if ($(window).scrollTop() >= 500) {  // change target to number
//   //     $("#back-elem_2").css('position', 'relative');
//   //     $("#back-elem_2").css('visibility', 'visible');
//   //     $('.chat_window img').attr("src","img/Test2.jpg");
//   //  }

    
// });

$(window).on('scroll', function() {
   var st = $(this).scrollTop();
   // var wh = $(document).height();
   var wh = $(document).height() - $(window).height();

var perc = (st*100)/wh

console.log('The percentage is '+perc);


   if (perc >= 35 && perc < 63) {
   console.log('over 35')
      $('.hanger img').attr("src","/static/img/A.png");
    }

  else if (perc >= 60 && perc < 92) {
   console.log('over 58')
      $('.hanger img').attr("src","/static/img/L.png");
    }

      else if (perc >= 95 && perc < 100) {
   console.log('over 93')
      $('.hanger img').attr("src","/static/img/L.png");
    }

   else if (perc <= 33) {
   console.log('over 58')
      $('.hanger img').attr("src","/static/img/S.png");
    }

});



</script>
{% endblock %}


