<form action='{% url "search:query" %}' class="search-form form my-2 my-lg-0 ">
	<div class='input-group'>
		<input class="form-control border-right-0 pt-0 mr-n1 pb-0" id='searchAutoComplete' type="text" placeholder=
		{% if request.session.language == 'RU' %}
			"Поиск" name='q' value='{{ request.GET.q }}' aria-label="Search"
		{% else %}
			"Search" name='q' value='{{ request.GET.q }}' aria-label="Search"
		{% endif %}
		>
		<div class="input-group-append">
			<button class="btn btn-dark" style="margin-left: 5px;" type='submit'><i class="fa fa-search"></i></button>
		</div>
	</div>
</form>
