{% load i18n %}

<style type="text/css">

@media only screen and (min-width: 760px) { 
.input-group:focus-within{
	border-bottom: 1px solid #404040 !important;
}

.search-form input::placeholder{
        font-size: 90%;
        opacity: 100% !important;
}

}

.input-group{
	border-bottom: 1px solid white !important;
}




#searchAutoComplete{
	border:none;
	width: 80px !important;
	height: 30px;
	margin-top: 1px; 
}

#searchAutoComplete:focus{
	border:none;
	width: 239px !important;
}

.search-btn{
		font-size: 1em; 
		padding: 7px 0px 0px 0px; 
		color: #404040;
}

.search-btn:hover{
		color: black !important;
}

</style>



<form action='{% url "search:query" %}' class="search-form form my-2 my-lg-0 ">
	<div class='input-group'>
		<div class="">
			<button class="btn search-btn" type='submit'>
				<i class="fa fa-search fa-1x align-top">
				</i>
			</button>   
		</div>
		<input class="form-control border-right-0 pt-0  pb-0" id='searchAutoComplete' type="text" style="" placeholder="{% trans 'Search' %}" name='q' value='{{ request.GET.q }}' aria-label="Search">
	</div>
</form>

