{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}
{% if request.session.language == 'RU' %}
  <div class='text-center'>
    <p class="lead" style='font-size: 30px;'>Свяжитесь с нами</p>
  </div>

  <div class='container-fluid'>
    <div class='row'>
        <div class='col-xs-12 col-md-7 mx-auto'>
          <form class ='contact-form' method = 'POST' action='{% url "contact" %}'> {% csrf_token %}
            <input type="hidden" name="popchik" value="{{ user_email }}">
            <input type="hidden" name="contact_lan" value="{{ request.session.language }}">
            <input type="hidden" name="language" id='language' value='{{ request.session.language }}'>
             {{ form|crispy }}
             <button type="submit" class="btn btn-dark btn-lg btn-block">Отправить</button>
          </form>
          <br>
        </div>  
    </div>
  </div>
{% else %}
  <div class='text-center'>
    <p class="lead" style='font-size: 30px;'>Contact Page</p>
  </div>

  <div class='container-fluid'>
    <div class='row'>
        <div class='col-xs-12 col-md-7 mx-auto'>
          <form class ='contact-form' method = 'POST' action='{% url "contact" %}'> {% csrf_token %}
            <input type="hidden" name="language" id='language' value='{{ request.session.language }}'>
            <input type="hidden" name="popchik" value="{{ user_email }}">
            <input type="hidden" name="contact_lan" value="{{ request.session.language }}">
             {{ form|crispy }}
             <button type="submit" class="btn btn-dark btn-lg btn-block">Submit</button>
          </form>
          <br>
        </div>  
    </div>
  </div>
{% endif %}

{% endblock %}




