{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block css %}
    {{ block.super }}
    <link href="{% static 'django_private_chat/css/django_private_chat.css' %}" rel="stylesheet" type="text/css" media="all">
{% endblock css %}

{% block content %}

<div class="container" style="min-width:1349px; max-width:1349px; padding:0px; margin:0px;">
<input id="owner_username" type="hidden" value="{{ request.user.username }}">
    <div class='row position-relative' style="padding: 0; margin:0; height:600px; max-width:1349px; ">
    <div class="col position-relative" style="padding: 0; margin:0;">


            <div class='row position-relative d-flex mx-0 ' style="height: 75px; padding: 0; margin: 0; border-bottom: 1px solid #e8eaef; border-top: 1px solid #e8eaef;"> 


                <div class="col-2 position-static d-flex align-items-center" style="border-right: 1px solid #e8eaef; padding: 0; margin: 0;" >
                    {% if owner_picture %}
                    <img src="{{ owner_picture.url }}"  class="img-thumbnail mx-auto" alt="..." style="width:60px; height: 60px">
                    {% else %}
                    <img src="{% static 'img/user_noname.png' %}" " class="img-thumbnail mx-auto" alt="..." style="width:60px; height: 60px">
                    {% endif %}
                </div>



                <div class='col-4 position-static d-flex align-items-center' style="padding: 0; margin:0;">
                    
                   {% if opponent_picture %}
                        <img src="{{ opponent_picture.url }}" id="opponent-pic" class="img-thumbnail" alt="..." style="width:60px; height: 60px; margin-left: 390px;">
                    {% else %}
                        <img src="{% static 'img/user_noname.png' %}" id="opponent-pic" class="img-thumbnail" alt="..." style="width:60px; height: 60px; margin-left: 390px;">
                    {% endif %} 
                    
                </div>

                <div id="opponent-name" class="col-6 position-static d-flex align-items-center" style="padding: 0px 10px; margin: 0;">
                    
                            {{ opponent_username }}

                </div>
            </div>
                       

            <div class="row position-relative" style="padding: 0; margin: 0;">

                <div class="col-2 position-relative" style="border-right: 1px solid #e8eaef; padding: 0; margin: 0; height: 430px; min-width: 225px; max-width: 225px;">
                    <div id="table-scroll" class="row my-custom-scrollbar position-relative" style="height: 429px; padding: 0; margin:0; min-width: 225px; max-width: 225px;">
                        <table class="table position-relative" style="padding: 0; margin: 0; height: 430px;">
                            <tbody class="user-list-div position-relative" style="padding: 0; margin: 0;">
                                {% for dialog in object_list %}
                                    <tr class="position-relative" style="padding: 0; margin: 0;">
                                        <td id="conversations" class='user-table position-static' style="padding: 0; margin: 0;">
                                        {% if dialog.owner == request.user %}
                                            {% with dialog.opponent.username as username %}
                                                <a href="{% url 'dialogs_detail' username %}" id="user-{{ username }}" class="btn text-left conv-user" style="padding: 5px 20px; margin: 0;">{% trans "" %} {{ username }}</a>
                                            {% endwith %}
                                        {% else %}
                                                {% with dialog.owner.username as username %}
                                                <a href="{% url 'dialogs_detail' username %}" id="user-{{ username }}" class="btn text-left conv-user" style="padding: 5px 20px; margin: 0;">{% trans "" %} {{ username }}</a>
                                                {% endwith %}
                                        {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody> 
                        </table>
                    </div>
                </div>                    
                        
                                 
            
                <div class="col-9 my-custom-scrollbar position-relative" style="padding:0; margin: 0; min-width: 1124px;">
                    <div class="row position-relative" style="padding:0; margin: 0;">
                        <div class="col  position-relative" style="min-height: 350px; max-height: 350px; padding:0; margin: 0;">
                                 <div id="messages" class="messages position-relative" style="padding:5px 0px; margin-left:25px;">
                                    {% for msg in active_dialog.messages.all %}
                                    <div class="row position-static {% if msg.read %}msg-read{% else %}msg-unread{% endif %}" data-id="{{ msg.id }}" style="padding:0; margin: 0;" id="mssg-text">
                                        <p class="{% if msg.sender == request.user %}pull-left{% else %}pull-right{% endif %}" style="min-width: 1000px; max-width: 1000px;">
                                        <span class="username mx-auto">{{ msg.sender.username }}:
                                        </span>
                                        {{ msg.text }}
                                        <span class="timestamp">&ndash; 
                                            <span data-livestamp="{{ msg.get_formatted_create_datetime }}">{{ msg.get_formatted_create_datetime }}</span>
                                        </span>
                                        </p>
                                    </div>

                                    {% endfor %}
                                </div>
                        </div>
                    </div>                           



                    <div class="row position-relative add-message mt-0" id="align-items-chat" style="padding:0; margin: 0;">
                        <div class="col-11 p-0 position-static" style="padding:0; margin: 0;">
                            <div class="form-group" style="padding:0; margin: 0px 25px;">
                                <textarea id="chat-message" class="form-control message" placeholder="{% trans 'Write a message' %}" style="padding:0; margin: 0;">
                                </textarea>
                           </div>
                        </div>

                        <div class="col-1 mx-auto d-flex align-items-center position-static" style="padding:0; margin: 0;">
                            <div class="form-group clearfix">
                                <i id="btn-send-message" class="fas fa-paper-plane fa-2x pull-right send-message pointer" value="{% trans 'Send' %}" >                                  
                                </i>
                            </div>
                        </div>
                    </div>
                                   
                </div> 
            </div> 


    </div>
    </div> 

</div>
{% endblock %}

{% block extra_js %}
    {{ block.super }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/scrollmonitor/1.2.0/scrollMonitor.js"
            integrity="sha256-BseZlDlA+yL4qu+Voi82iFa5aaifralQEXIjOjaXgeo=" crossorigin="anonymous"></script>
    <script>
        //Scrolling
        const myCustomScrollbar = document.querySelector('.my-custom-scrollbar');
        const ps = new PerfectScrollbar(myCustomScrollbar, {
            wheelSpeed: 1,
            wheelPropagation: false,
            swipeEasing: true,
            suppressScrollX: true,
            // minScrollbarLength: 10,
            // maxScrollbarLength: 10

        });

        var scrollbarY = myCustomScrollbar.querySelector('.ps.ps--active-y>.ps__scrollbar-y-rail');


        
        var base_ws_server_path = "{{ ws_server_path }}";
        $(document).ready(function () {
            var websocket = null;
            var monitor = null;

            function initReadMessageHandler(containerMonitor, elem) {
                var id = $(elem).data('id');
                var elementWatcher = containerMonitor.create(elem);
                elementWatcher.enterViewport(function () {
                    var opponent_username = getOpponnentUsername();
                    var packet = JSON.stringify({
                        type: 'read_message',
                        session_key: '{{ request.session.session_key }}',
                        username: opponent_username,
                        message_id: id
                    });
                    $(elem).removeClass('msg-unread').addClass('msg-read');
                    websocket.send(packet);
                });
            }

            function initScrollMonitor() {
                var containerElement = $("#messages");
                var containerMonitor = scrollMonitor.createContainer(containerElement);
                $('.msg-unread').each(function (i, elem) {
                    if ($(elem).hasClass('opponent')){
                        initReadMessageHandler(containerMonitor, elem);
                    }

                });
                return containerMonitor
            }

            function getOpponnentUsername() {
                return "{{ opponent_username }}";
            }

            // TODO: Use for adding new dialog
            function addNewUser(packet) {
                $('#user-list').html('');
                packet.value.forEach(function (userInfo) {
                    if (userInfo.username == getUsername()) return;
                    var tmpl = Handlebars.compile($('#user-list-item-template').html());
                    $('#user-list').append(tmpl(userInfo))
                });
            }

            function addNewMessage(packet) {
                var msg_class = "";
                if (packet['sender_name'] == $("#owner_username").val()) {
                    msg_class = "pull-left";
                } else {
                    msg_class = "pull-right";
                }
                var msgElem =
                    $('<div class="row msg-unread" data-id="' + packet.message_id + '">' +
                        '<p class="' + msg_class + '">' +
                        '<span class="username">' + packet['sender_name'] + ': </span>' +
                        packet['message'] +
                        ' <span class="timestamp">&ndash; <span data-livestamp="' + packet['created'] + '"> ' + packet['created'] + '</span></span> ' +
                        '</p> ' +
                        '</div>');
                $('#messages').append(msgElem);
                scrollToLastMessage()
            }

            function scrollToLastMessage() {
                var $msgs = $('#messages');
                $msgs.animate({"scrollTop": $msgs.prop('scrollHeight')})
            }

            function generateMessage(context) {
                var tmpl = Handlebars.compile($('#chat-message-template').html());
                return tmpl({msg: context})
            }

            function setUserOnlineOffline(username, online) {
                var elem = $("#user-" + username);
                if (online) {
                    elem.attr("class", "btn btn-dark");
                } else {
                    elem.attr("class", "btn btn-danger");
                }
            }

            function gone_online() {
                $("#offline-status").hide();
                $("#online-status").show();
            }

            function gone_offline() {
                $("#online-status").hide();
                $("#offline-status").show();
            }

            function flash_user_button(username) {
                var btn = $("#user-" + username);
                btn.fadeTo(700, 0.1, function () {
                    $(this).fadeTo(800, 1.0);
                });
            }

            function setupChatWebSocket() {
                var opponent_username = getOpponnentUsername();
                websocket = new WebSocket(base_ws_server_path + '{{ request.session.session_key }}/' + opponent_username);

                websocket.onopen = function (event) {
                    var opponent_username = getOpponnentUsername();

                    var onOnlineCheckPacket = JSON.stringify({
                        type: "check-online",
                        session_key: '{{ request.session.session_key }}',
                        username: opponent_username
                        
                    });
                    var onConnectPacket = JSON.stringify({
                        type: "online",
                        session_key: '{{ request.session.session_key }}'

                    });

                    console.log('connected, sending:', onConnectPacket);
                    websocket.send(onConnectPacket);
                    console.log('checking online opponents with:', onOnlineCheckPacket);
                    websocket.send(onOnlineCheckPacket);
                    monitor = initScrollMonitor();
                };


                window.onbeforeunload = function () {

                    var onClosePacket = JSON.stringify({
                        type: "offline",
                        session_key: '{{ request.session.session_key }}',
                        username: opponent_username,
                        
                    });
                    console.log('unloading, sending:', onClosePacket);
                    websocket.send(onClosePacket);
                    websocket.close();
                };


                websocket.onmessage = function (event) {
                    var packet;

                    try {
                        packet = JSON.parse(event.data);
                        console.log(packet)
                    } catch (e) {
                        console.log(e);
                    }

                    switch (packet.type) {
                        case "new-dialog":
                            // TODO: add new dialog to dialog_list
                            break;
                        case "user-not-found":
                            // TODO: dispay some kind of an error that the user is not found
                            break;
                        case "gone-online":
                            if (packet.usernames.indexOf(opponent_username) != -1) {
                                gone_online();
                            } else {
                                gone_offline();
                            }
                            for (var i = 0; i < packet.usernames.length; ++i) {
                                setUserOnlineOffline(packet.usernames[i], true);
                            }
                            break;
                        case "gone-offline":
                            if (packet.username == opponent_username) {
                                gone_offline();
                            }
                            setUserOnlineOffline(packet.username, false);
                            break;
                        case "new-message":
                            if (packet['sender_name'] == opponent_username || packet['sender_name'] == $("#owner_username").val()) {
                                addNewMessage(packet);
                                if (packet['sender_name'] == opponent_username) {
                                    initReadMessageHandler(monitor, $("div[data-id='" + packet['message_id'] + "']"));
                                }
                            } else {
                                flash_user_button(packet['sender_name']);
                            }
                            break;
                        case "opponent-typing":
                            var typing_elem = $('#typing-text');
                            if (!typing_elem.is(":visible")) {
                                typing_elem.fadeIn(500);
                            } else {
                                typing_elem.stop(true);
                                typing_elem.fadeIn(0);
                            }
                            typing_elem.fadeOut(3000);
                            break;
                        case "opponent-read-message":
                            if (packet['username'] == opponent_username) {
                                $("div[data-id='" + packet['message_id'] + "']").removeClass('msg-unread').addClass('msg-read');
                            }
                            break;

                        default:
                            console.log('error: ', event)
                    }
                }
            }

            function sendMessage(message) {
                var opponent_username = getOpponnentUsername();
                var newMessagePacket = JSON.stringify({
                    type: 'new-message',
                    session_key: '{{ request.session.session_key }}',
                    username: opponent_username,
                    message: message
                });
                websocket.send(newMessagePacket)
            }

            function sendImage(image){


                
            }


            $('#chat-message').keypress(function (e) {
                if (e.which == 13 && this.value) {
                    sendMessage(this.value);
                    this.value = "";
                    return false
                } else {
                    var opponent_username = getOpponnentUsername();
                    var packet = JSON.stringify({
                        type: 'is-typing',
                        session_key: '{{ request.session.session_key }}',
                        username: opponent_username,
                        typing: true
                    });
                    websocket.send(packet);
                }
            });

            $('#btn-send-message').click(function (e) {
                var $chatInput = $('#chat-message');
                var msg = $chatInput.val();
                if (!msg) return;
                sendMessage($chatInput.val());
                $chatInput.val('')
            });

            setupChatWebSocket();
            scrollToLastMessage();
        });



    </script>
{% endblock %}
