{% extends "base.html" %}
{% block content %}
{% load crispy_forms_tags %}
{% load i18n %}

<style type="text/css">
	.psw-new {
		width: 37%;
		margin-left: 32%;
	}
</style>

<div class="container">
	<div class='row'>
	    <div class='col-xs-12 col-md-7 mx-auto text-center'>
	        <p class="heading">{% trans 'Set your new password' %}</p>
        </div>
        <form class="psw-new" method='post' action=''>{% csrf_token %}
        {{ form|crispy }}
        <span style='margin-bottom:0.8em;'></span>
        <button type="submit" class='btn button-black hover-button large-button btn-block'>{% trans 'Submit' context 'save_new_password' %}</button>
        </form>
	</div>
</div>
{% endblock %}


