{% load i18n %}
{% blocktrans %}
<p>Hey,</p> 


<div style="text-align: center; padding-bottom: 16px; font-family: sans-serif; padding: 32px 32px;">
  <a href="https://www.saltish.co/" style="text-decoration: none; color: black; font-size: 36px">SALT</a>
</div>

<div style="background-color: #eaeaea4f; font-family: sans-serif;text-align: center; padding: 32px 32px;">


 
		<div style="font-size: 20px; text-align: left !important;">
			<p>Your order <b>{{ order_id }}</b> has not been paid. Reason: <b>{{ error }}</b> .</p>
			<p>You can go to <b>Orders</b> and <b>delete</b> this order. After that, please, try again.</p>



			<p>Thank you,
			<br> SALT</p>
		</div>




	<div>
		<a href="https://vk.com/saltmarketplace" ><img style='width: 20px; height: 20px; margin: 0 4px;' src="https://image.flaticon.com/icons/png/512/2175/2175348.png"></a>
		<a href="https://www.instagram.com/saltish.co/" ><img style='width: 20px; height: 20px; margin: 0 4px;' src="https://image.flaticon.com/icons/png/512/2175/2175198.png"></a>
	</div>

</div>

<p>SALT</p>

{% endblocktrans %}

