{% load i18n %}

<div style="text-align: center; padding-bottom: 16px; font-family: sans-serif; padding: 32px 32px;">
  <a href="https://www.saltish.co/" style="text-decoration: none; color: black; font-size: 36px">SALT</a>
</div>

<div style="background-color: #eaeaea4f; font-size: 20px; font-family: sans-serif;text-align: center; padding: 32px 32px;">

	<p>Congratulations!</p> 
 
	<p>Your order <b>{{ order_id }}</b> has been successfully paid. We have informed the seller to send your item in {{ time }} hours.</p>

	<div style="text-align: center; margin: 32px 32px;">
		<button style="border: 1px solid black; background-color: black; padding: 15px 15px;">
			<a href="{{ orders_url }}" style="text-decoration: none; color: white; font-size: 16px">GO TO YOUR ORDERS</a>
		</button>
	</div>

	<p>Thank you,
	<p>SALT</p>


	<div>
		<a href="https://vk.com/saltmarketplace" ><img style='width: 20px; height: 20px; margin: 0 4px;' src="https://image.flaticon.com/icons/png/512/2175/2175348.png"></a>
		<a href="https://www.instagram.com/saltish.co/" ><img style='width: 20px; height: 20px; margin: 0 4px;' src="https://image.flaticon.com/icons/png/512/2175/2175198.png"></a>
		<a href="https://www.linkedin.com/company/saltish-co/about/" ><img style='width: 20px; height: 20px; margin: 0 4px;' src="https://image.flaticon.com/icons/png/512/2168/2168311.png"></a>
	</div>

</div>
