{% load i18n %}


<div style="text-align: center; padding-bottom: 16px; font-family: sans-serif; padding: 32px 32px;">
  <a href="https://www.saltish.co/" style="text-decoration: none; color: black; font-size: 36px">SALT</a>
</div>

<div style="background-color: #eaeaea4f; font-size: 20px; font-family: sans-serif;text-align: center; padding: 32px 32px;">
	{% blocktrans %}
	<p>Hey!</p> 

	<p>Reset your password on {{ domain }} for {{ user }}:</p>
	{% endblocktrans %}
	<p><a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
">{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
</a></p>

	{% blocktrans %}
	<p>Thank you!</p>
	<p>SALT</p>
	{% endblocktrans %}
	
	<div>
		<a href="https://vk.com/saltmarketplace" ><img style='width: 20px; height: 20px; margin: 0 4px;' src="https://image.flaticon.com/icons/png/512/2175/2175348.png"></a>
		<a href="https://www.instagram.com/saltish.co/" ><img style='width: 20px; height: 20px; margin: 0 4px;' src="https://image.flaticon.com/icons/png/512/2175/2175198.png"></a>
	</div>

</div>
