{% load static %}
{% load to_user_currency %}

<style type="text/css">
  
  .card-list-img {
    min-width: 162px;
    max-height: 162px;
    min-height: 162px;
    max-width: 162px;
    object-fit: contain;
    align-items: center;
    cursor: pointer;
    display: inline-block;
    border-radius: 5px !important;
  }

  .card-list-info {
      font-size: 12px;
      font-weight: 600;
      padding: 0.5em 1.5em;  /*OR 1 em to be even*/
  }  

  .product-col{
    padding: 0.5rem 0;
  }

  /*   for iphone 5/5SE*/
  @media screen and (device-aspect-ratio: 40/71) {
  .card-list-img {
    min-width: 150px;
    max-height: 150px;
    min-height: 150px;
    max-width: 150px;
    }
  }

</style>


<div class="row text-center">
  {% for obj in object_list %}
    <a class='col-6 product-col' href="{{ obj.get_absolute_url }}">
        {% if obj.thumbnail %}{% with obj.thumbnail.all|first as thumbnail %}
        <img class="card-list-img" data-src="{{ thumbnail.thumbnail.url }}"  alt="..." onerror=this.src="{% static 'img/Oops.png' %}">
        {% endwith %}{% endif %}
        <div class='row m-0 card-list-info'>
          <div class='col-9 p-0 one-line text-left' style='padding-right: .5rem !important'>{{ obj.brand }}</div>
            <div class='col-3 p-0 one-line text-right' style='padding-right: .2rem !important'>{{ obj.size.size }}</div>
            <div class='col-6 p-0 one-line text-left' style=''>{{ obj.price|to_user_currency:request }}</div>
            <div class="col-6 p-0 text-right" style="font-size: 7px; padding-top: .2em !important; ">
              <form class='form-product-ajax-wishlist-detail ml-auto' method='POST' action='{% url "accounts:wish-list-update" %}' data-endpoint='{% url "accounts:wish-list-update" %}' class="form"> {% csrf_token %}
                <input type='hidden' name='product_id' value='{{ obj.id }}' />
                <span class='submit-span-wishlist'>
                  {% if obj in request.user.wishes.all %}
                    <button type='submit' class='hidden-button hidden-button-outline'><i class='fas fa-heart fa-2x black-heart'></i></button>
                  {% else %}
                    <button type='submit' class='hidden-button hidden-button-outline'><i class='far fa-heart fa-2x black-heart'></i></button>
                  {% endif %}
                </span>
              </form>
            </div>
        </div>
    </a>
  {% endfor %}
</div>