<div class="row no gutters">
	<div class='col-12'>
		<nav id='sidebar' class="navbar navbar-expand-lg navbar-light bg-white">
		<ul class="skip list-unstyled components">
			<li><a href='{% url "accounts:home" %}'>Account</a></li><br>
			<li><a href="#">Chat</a></li><br>
			<li><a href='{% url "products:user-list" %}'>My items</a></li><br>
			<li><a href='{% url "accounts:history-product" %}'>History</a></li><br>
			<li><a href='{% url "accounts:wish-list" %}'>Wishlist</a></li><br>
			<li><a href='{% url "accounts:user-update" %}'>Settings</a></li><br>
		</ul>
		</nav>
	</div>
</div>