
{% load static %}
{% load notifications %}

<style type="text/css">
	.list-unstyled a:hover {
		background-color: white !important;
	}
	.notifications-sidebar{
	height: 8px;
    width: 8px;
    position: absolute;
    background-color: red;
    text-align: right;
    border-radius: 50% !important;
	}
</style>



{% block content %}


{% if request.session.language == 'RU' %}

{% include 'languages/sidebar-ru.html' %}  

{% elif request.session.language == 'UA' %}

{% include 'languages/sidebar-ua.html' %}  

{% else %}

{% include 'languages/sidebar-en.html' %}  

{% endif %}


{% endblock %}




                  