{% load i18n %}
{% load crispy_forms_tags %}
<div class="modal" id="modal-region" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{% trans 'Choose your region' %}</h5>
      </div>
      <div class="modal-body">
        <p>
          <form method = 'POST'  action={% url 'region-init' %} id='modal-form'> {% csrf_token %}
            <div class="col-12 col-md-12 pl-0 pr-0">
              {{ form|crispy }}
            </div>
          </form>
        </p>
      </div>
      <div class="modal-footer">
        <button type="submit" form='modal-form' class="btn btn-dark">{% trans 'Save changes' %}</button>
      </div>
    </div>
  </div>
</div>