
/* noto-sans-regular - latin_cyrillic-ext_latin-ext_cyrillic */
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Noto Sans'), local('NotoSans'),
       url('../fonts/noto-sans-v9-latin_cyrillic-ext_latin-ext_cyrillic-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/noto-sans-v9-latin_cyrillic-ext_latin-ext_cyrillic-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


/* open-sans-300 - latin_cyrillic-ext_latin-ext_cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'),
       url('../fonts/open-sans-v17-latin_cyrillic-ext_latin-ext_cyrillic-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/open-sans-v17-latin_cyrillic-ext_latin-ext_cyrillic-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* archivo-500 - latin */
@font-face {
  font-family: 'Archivo';
  font-style: normal;
  font-weight: 500;
  src: local('Archivo Medium'), local('Archivo-Medium'),
       url('../fonts/archivo-v6-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/archivo-v6-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

.heading{
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
}

.middle-heading {
    font-size: 2.5rem !important;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.2;
}

.small{
  font-size: 14px;
}

.logo-font{
  font-family: 'Archivo', sans-serif ;
  font-size: 30px !important;
}

.heading-black{
    font-size: 2.5rem !important;
    font-family: 'Helvetica' !important;
}
