
/*Checkbox black*/

.form-check-input {
    position: absolute;
    margin-top: .25rem;
    margin-right: -2rem;
}

input[type="checkbox"] {
  cursor: pointer !important;
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  appearance: none !important;
  outline: 0 !important;
  background: lightgray !important;
  height: 16px !important;
  width: 16px !important;
  border: 1px solid white !important;

}

input[type="checkbox"]:checked {
  background: black !important;
}

input[type="checkbox"]:hover {
  filter: brightness(90%) !important;
}

input[type="checkbox"]:disabled {
  background: #e6e6e6 !important; 
  opacity: 0.6 !important;
  pointer-events: none !important;
}

input[type="checkbox"]:after {
  content: '' !important;
  position: relative !important;
  left: 40% !important;
  top: 20% !important;
  width: 30% !important;
  height: 50% !important;
  border: solid #fff !important;
  border-width: 0 2px 2px 0 !important;
  transform: rotate(45deg) !important;
  display: none !important;
}

input[type="checkbox"]:checked:after {
  display: block !important;
}

input[type="checkbox"]:disabled:after {
  border-color: #7b7b7b !important;
}





/*.row-dialog {
  height: 70px;
}

#dialogs .row-dialog::after {
  content: '';
  position: absolute;
  bottom: 10px;
  left: 25%;
  width: 75%;
  border-bottom: 0.75px solid #e1e6e6;
}
*/
.black-heart{
    color: black!important;
}

.black-heart:hover{
    color: black !important;
}




.icon{
  background: url('{% static 'icons/upload.png' %}');
}

#list-col {
  min-width: 262.5px; 
  max-width: 262.5px;
/*  margin: 0px 20px;*/
}

select{
  border-radius: 0 !important;
  -webkit-appearance: none;
}

a:hover{
  text-decoration: none;
  color:inherit;
}


@media only screen and (min-width: 1200px) {
  .flip-card-2:hover .flip-card-2-inner {
    transform: rotateY(180deg);
  }

  .flip-card-2-back {
    transform: rotateY(180deg);
  } 

  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }

  .flip-card-back {
    transform: rotateY(180deg);
  } 

}

@media only screen and (max-width: 1200px) {
  .flip-card-back {
    transform: rotateY(180deg);
  } 

  #safe-card, #ai-card {
    margin-bottom: 15px;
  }

}

.not-count {
  color: white;
  height: 16px;
  width: 19px;
  background-color: black;
  font-size: 12px;
  text-align: center;
}

.dropdown-item.active, .dropdown-item:active{
    background-color: white !important;
    color: black !important;
}

.dropdown-item:focus, .dropdown-item:hover{
    background-color: black !important;
    color: white !important;
}

.strike {
  font-size: 1em;
  line-height: 2em;
  position: relative;
}
.strike::after {
  border-bottom: 0.1em solid black;
  content: "";
  left: 0;
  margin-top: calc(0.1em / 2 * -1);
  position: absolute;
  right: 0;
  top: 50%;
}

.flip-card-2 {
  background-color: transparent;
  width: 406px;
  height: 25px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
  -webkit-perspective: 1000px;

}

.flip-card-2-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  -webkit-transition: transform 0.6s;
  -webkit-transform-style: preserve-3d;
}

.bg {
/*  background-image: url("../img/white_wall.png");*/
  height: 100%;
  background-position: center;
  background-repeat: repeat;
}

#drop-cat {
  width: 100% !important;
}

.dropdown-menu.customDropRightMenu {
    width: 100% !important;
  }


/*#sort:hover {
  background-color: #e8eaef;
}*/

.custom-control-label:before{
    background-color:white;
}
.custom-checkbox .custom-control-input:checked~.custom-control-label::before{
    background-color:white;
}
.custom-checkbox .custom-control-input:checked~.custom-control-label::after{
    background-image:url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='black' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E");
}
.custom-control-input:active~.custom-control-label::before{
    background-color:green;
}




/*.d-block{
  position: absolute;
  object-fit: scale-down;
  max-width: : 550px !important;
  max-height: 600px !important;
  min-width: 288px;
  min-height: 288px;
  align-items: center;
  justify-content: center;
}
*/
.carousel-inner{
  width:100%;
/*  max-height: 400px !important;*/
}

.carousel-item{
/*    position: relative;
    text-align:top;
    height:100%;*/
}


#id_category::after{
background-color: black;
    }

/*.card{
  position: relative;
  background-color: black;
  color:black;
}*/
  .ui-autocomplete {
    max-height: 100px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
    color: black;
  }
  /* IE 6 doesn't support max-height
   * we use height instead, but this forces the menu to always be this tall
   */
  * html .ui-autocomplete {
    height: 100px;
  }
 
 #searchAutoComplete{
  width: 200px;
  -webkit-transition: width .20s ease-in-out;
  transition: width .20s ease-in-out;
  color: black;
}

.ui-menu-item-wrapper .ui-state-active {
  color: black !important;
}




#searchAutoComplete::focus-within {
  background: black;
}


.ui-menu-item {
      padding: 4px !important;
      max-width: 260px;
      text-overflow: ellipsis;
      overflow: hidden;  
      white-space: nowrap;  

}

/*a.ui-state-focus {
      background: yellow !important;

}*/
.ui-state-disabled {
      background: none !important;
}
.ui-state-active {
/*      background: rgba(1, 1, 1, 0.1) !important;*/
      background: none !important;
      border: 1px black !important;
      color: black!important;

}

.ui-menu {
      max-height: 200px !important;
      background: white !important;
      border-bottom:  1px solid black !important;
      border-right:  1px solid black !important;
      border-left:  1px solid black !important;
      border-top: 1px solid black !important;
}

/*.ui-autocomplete-input {
    width:500px;
}

.ui-state-active{
  background-color: yellow;
  color: yellow;
}
.ui-menu .ui-menu-item .ui-state-disabled .ui-state-active .suggestions {
    display: inline-block;
    text-decoration: none;
    color: yellow;
    font-size: .7em;
    cursor: pointer;
    margin-left: 10px;
}
*/
.suggestions {
 color: black;
}

/*.navbar{
  align-items: flex-start;
}*/

.form-control:focus {
  border-color: black;
  box-shadow: none;
  transition: all 0s linear;
}

.navbar-mb{
  margin-bottom: 30px;
}



.navbar-wish-count {
    color: black;
    margin-left: -5px;
    /*position: absolute;
    top: 28px;
    right: 65px;*/
    font-size: 10px;
    max-width: 10px;
}

.fa-heart {
  color:rgba(190, 45, 51, 0.74);
}



.fa-user {
  color: black;
}

.wish-div a{
    display:inline-block;
    color:black;
    position:absolute;
/*    margin-left:100px;
    padding:1px 1px;*/
    background-color: transparent;
    visibility: hidden;
}

.wish-div:hover a {
    visibility: visible;
    background-color: transparent;
}

/*a:hover {
    color: black !important;
}*/



.badge-status {
  position: absolute;
  z-index: 1;
  right: 5%;
  border: 1px solid white;
  font-size: 11px !important;
}

.one-line{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display:inline-block;
}

.poloska{
  /*border-top: 1px solid #e8eaef;*/
  margin-top: 5px;
}



ol {
  list-style: none;
}

#mssg-text {
  overflow-wrap: break-word;
}

.dropdown-menu {
  width: 100px; 
}


/*#align-userpic-chat, #align-items-chat {
  align-items: center;
}*/


    .conv-user {
      width: 225px;
      white-space: nowrap; /* Запрещаем перенос строк */
      overflow: hidden; /* Обрезаем все, что не помещается в область */
      text-overflow: ellipsis;
    }



#opponent-pic {
  margin-left: 390px;
}

/*#opponent-name {
  margin-left: -50px;
}*/

.ps__rail-x {
  margin-right: 10px;
}

.ps__rail-y {
  margin-bottom: 10px;
  }


#move-column {
  width: 250px;
}

.msg-unread{
  padding: 0;
  margin: 0;
}

table {
  display: inline-block;
}





#conversations {
  text-align: left;
}

.table td, .table th {
  border-top: none !important;
}



/*.add-info {
  margin-right: 200px;
}

#clip {
  margin-left: 100px;
}

#btn-send-message {
  margin-left: 25px;
}*/


.avatar, .img-thumbnail {
	width: 100px;
	height: 100px;
	border-radius: 50% !important;
}

.avatar{
  object-fit: cover;
}

.username {
  color: black;
}

.msg-unread {
  background-color: white;
}

.timestamp {
  color: grey;
}

#products-by-user {
	border-bottom: 1px solid #e8eaef;
}

a {
	color: black;
}

.list-unstyled a:hover {
	color: black;
	background-color: #e8eaef;
	text-decoration: none;
}

/*#sidebar {
	border-right: 1px solid #e8eaef;
	padding-right: 125px;
}*/


ul {
	list-style: none;
}

/*#sidebar {
  position: absolute;
  width: 100%;
}
*/
html{
  position: relative; 
  min-height: 100%;
}

html,body{
  margin:0;
  padding-bottom: 50px;
}

.page-footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
    border-top: 1px solid #e8eaef;
}

.pageContentWrapper{
  margin-bottom:100px;/* Height of footer*/
} 


.img-size {
  height: 100px;
  width: 100px;
}

.container-fluid-product {
    height: 100%;
    max-height: 2000px;
    padding-top: 50px;
    padding-bottom: 150px;
}

.limit {
  max-height:1%;
  overflow:hidden;
}

.contact-padding {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 25px;
  width: 25px;
  outline: black;
  background-size: 100%, 100%;
  border-radius: 0%;
  border: 1px solid black;
  background-image: none;
  background-color: rgba(166, 174, 176, 0.5);
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 15px;
  color: black;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 15px;
  color: black;
}

* {
  border-radius: 0 !important;
}


.carousel .carousel-inner {
/*    height: 1000px;*/
    background: #ffffff;
}

.carousel-item{
    position: relative;
    transition: transform 0s;
    /*height:100%;*/
    background: #ffffff;
}

.carousel-item-active{
    position: relative;
    transition: transform 0s;
    /*height:100%;*/
    background: #ffffff;
}

/*.carousel-control-prev{
	position: absolute;
  height: 50px !important;
}

.carousel-control-next{
	position: absolute;
  height: 50px !important;
}*/

.error
    {
        color: red;
    }

.error input, .error select {
border: 2px red solid;
}


.alert alert-block alert-danger{
    color: black;
}



@media only screen and (max-width: 768px) {
  #list-col {
    margin: 0;
  }
}



.ui-widget-content .ui-corner-tr{
  height: 100px;
  width: 100px;
  border: 1px solid #efefef;
}


.ui-widget{
      font-family: inherit;
  font-size: 0.9em;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #404040 !important;
  opacity: 1; /* Firefox 
}







