.hidden-button {
  background: none;
  padding: 0px;
  border: none;
}

.hidden-button-outline:focus {
   outline: none; 
}

.dropdown-menu {
  width: 100px; 
}

a {
	color: black;
}

a:hover {
	color: black;
	background-color: #e8eaef;
	text-decoration: none;
}

#sidebar {
	border-right: 1px solid #e8eaef;
}


ul {
	list-style: none;
}
