.scrollable {
	height: 600px;
	overflow: scroll;
}

.test{
	background-color: black;
}

.pointer:hover{
	cursor:pointer;
}

.user-table:hover{
	cursor:pointer;
	background: #f5f5f5;
}

<<<<<<< HEAD

=======
.hidden-button {
  background: none;
  padding: 0px;
  border: none;
}
>>>>>>> 3f04dcfd8bd18e9b4c1f30c2a729790f730d6cd9
