{% extends "base.html" %}
{% load static %}
{% load sass_tags %}
{% load for_loop_extras %}
<!-- <link href="{% sass_src 'custom_scss/custom.scss' %}" rel="stylesheet" type="text/css"/> -->

<link href="{% static 'css/main.css' %}" rel="stylesheet" type="text/css">


{% block content %}

<head>
<input type="hidden" id='language_pref' name="language_pref" value="{{ request.session.language }}">
<style type="text/css">

html, body {
    max-width: 100%;
    overflow-x: hidden;
}



body {
  padding-bottom: 25px;
}
</style>
</head>


<div class="container-fluid">
<div class="container-fluid container-fluid-product">
<div class='row'>
	<div class='col-xs-12 col-md-8 align-top' style="max-height: 800px">



			{% if object.images.all %}

			<div id="carouselExampleIndicators" class="carousel slide" data-interval="false" data-ride="carousel">
			<ol class="carousel-indicators">
			</ol>
			<div class="carousel-inner">

			{% for image in images %}
			 {% if image.image_order == 1 %}
				<div class="carousel-item active" class="carousel slide" data-interval="false">
				<img src="{{ image.image.url }}" class="d-block w-100" alt="...">
				</div>
			{% endif %}
			{% endfor %}

			{% for image in images %}
				{% if not image.image_order == 1 %}
					<div class="carousel-item" data-interval="false">
					<img src="{{ image.image.url }}" class="d-block w-100" alt="...">
					</div>
				{% endif %}
			{% endfor %}
			
			<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="sr-only">Previous</span>
			</a>
			<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="sr-only">Next</span>
			</a>
			</div>
			</div>
			{% endif %}
	</div>

{% if request.session.language == 'RU' %}

<!--   описание  цена и лайк -->
	<div class='col-xs-12 col-md-4'> 

		<div class='row'>
			<div class='col-xs-12 col-md-9'>
				<p class="lead m-0" style='font-size: 17px;'>{{ object.title }}</p>
				<b></b>
			</div>


			<div class='col-xs-12 col-md-3' style='display:flex; justify-content: flex-start'>
				<div class='row' >
					<div class='col-12' style='display:flex; align-items: flex-end'>
						<div class='mx-auto' style="align-items: flex-end;"> {% include 'accounts/wish-list-update-detail.html' with product=object %} </div>
					</div>
						<div class='col-12' style='display:flex; align-items: flex-end'>
						<b class='product-likes mx-auto' style="align-items: flex-end; font-size: 14px;"> {{ likes }} </b>
					</div>
				</div>
			</div>

		<div class='col' style='display:flex; align-items: flex-end'>
			<b class='mr-auto  pt-2' style="align-items: flex-end; font-size: 17px;"> ${{ object.price }}</b>
		</div>

		</div>

<!-- все кроме описания -->

<div class='row contact-padding'>
	<div class='col-12'>
		{% if request.user.is_authenticated and request.user == object.user %}
			{% include 'products/snippets/logged-user-update-card.html' with instance=object %}
		{% else %}
			{% include 'accounts/snippets/begin-chat.html' with btn_title='Связаться с продавцом' %} 
		{% endif %}
		<div class='row p-0 m-0 pt-2 pb-2 pr-0 mr-0 pl-0 pr-0'>			
           	<div class="flip-card-2 m-0">
	          	<div class=" flip-card-2-inner">
					<div class="flip-card-2-front">
						<i class="far fa-check-circle fa-1x"></i> Оригинал
					</div>
	                <div class="flip-card-2-back">
		                  <div class="row">
			                <div class="col my-auto mr-2 ml-2">
			                	<small>Проверено {{ object.timestamp|date|to_rus_times }}</small>
			              	</div>
		              	</div>
	            	</div>
	          	</div>
        	</div>
		</div>
	</div>
	
	<div class='col'>
			<br/>
		<div class='m-0' style='font-size: 14px;'>{{ object.description|linebreaks }}</div>
		<small class="text-muted">
			Опубликовано {{ object.timestamp|timesince|to_rus_times }} назад <a class='btn btn-sm btn-outline-dark' href='{{ object.user.get_absolute_url }}'>{{ object.user.username }}</a> <br/>
		</small>
	</div>
</div>




<!-- контейнеры и прочее -->

</div>
</div>
</div>
</div>
</div>



{% else %}

<!--   описание  цена и лайк -->
	<div class='col-xs-12 col-md-4'> 

		<div class='row'>
			<div class='col-xs-12 col-md-9'>
				<p class="lead m-0" style='font-size: 17px;'>{{ object.title }}</p>
				<b></b>
			</div>


			<div class='col-xs-12 col-md-3' style='display:flex; justify-content: flex-start'>
				<div class='row' >
					<div class='col-12' style='display:flex; align-items: flex-end'>
						<div class='mx-auto' style="align-items: flex-end;"> {% include 'accounts/wish-list-update-detail.html' with product=object %} </div>
					</div>
						<div class='col-12' style='display:flex; align-items: flex-end'>
						<b class='product-likes mx-auto' style="align-items: flex-end; font-size: 14px;"> {{ likes }} </b>
					</div>
				</div>
			</div>

		<div class='col' style='display:flex; align-items: flex-end'>
			<b class='mr-auto  pt-2' style="align-items: flex-end; font-size: 17px;"> ${{ object.price }}</b>
		</div>

		</div>

<!-- все кроме описания -->

<div class='row contact-padding'>
	<div class='col-12'>
		{% if request.user.is_authenticated and request.user == object.user %}
			{% include 'products/snippets/logged-user-update-card.html' with instance=object %}
		{% else %}
			{% include 'accounts/snippets/begin-chat.html' with btn_title='Contact seller' %} 
		{% endif %}
		<div class='row p-0 m-0 pt-2 pb-2 pr-0 mr-0 pl-0 pr-0'>			
           	<div class="flip-card-2 m-0">
	          	<div class=" flip-card-2-inner">
					<div class="flip-card-2-front">
						<i class="far fa-check-circle fa-1x"></i> Authentic
					</div>
	                <div class="flip-card-2-back">
		                  <div class="row">
			                <div class="col my-auto mr-2 ml-2">
			                	<small>Checked on {{ object.timestamp|date }}</small>
			              	</div>
		              	</div>
	            	</div>
	          	</div>
        	</div>
		</div>
	</div>
	
	<div class='col'>
			<br/>
		<div class='m-0' style='font-size: 14px;'>{{ object.description|linebreaks }}</div>
		<small class="text-muted">
			Published {{ object.timestamp|timesince }} ago by <a class='btn btn-sm btn-outline-dark' href='{{ object.user.get_absolute_url }}'> {{ object.user.username }}</a> <br/>
		</small>
	</div>
</div>




<!-- контейнеры и прочее -->

</div>
</div>
</div>
</div>
</div>

{% endif %}
	

{% endblock %}