{% extends "base.html" %}

{% block content %}

<div class='row'>
	<div class='col-12 col-md-6'>
		<h1>{{ object.title }}</h1>
		{{ object.timestamp|timesince }} ago
		{{ object.description|linebreaks }} <br/>
		<a class='btn btn-success' href='{{ object.user.get_absolute_url }}'>{{ object.user.username }}</a>
		{% if object.images.all %}
			{% for image in object.images.all %}
				<img src="{{ image.image.url }}" class="img-thumbnail ml-2" alt="..." style="width:200px; height: 200px">
			{% endfor %}
		{% endif %}
	</div>

	<button type="submit"  class="hidden-button">
      	<i class="fas fa-heart"></i>
	</button>
	
	<div class='col-12 col-md-6'>
		{% if request.user.is_authenticated and request.user == object.user %}
			{% include 'products/snippets/logged-user-update-card.html' with instance=object %}
			{% include 'products/wish-list-update.html' with product=object %}
		{% else %}
			{% include 'accounts/snippets/begin-chat.html' with btn_title='Contact seller ' object=object.user %}
			{% include 'products/snippets/update-cart.html' with product=object cart=cart %}
			{% include 'products/wish-list-update.html' with product=object %}

		{% endif %}
	</div>
</div>
		
{% endblock %}