{% extends "base_no_footer.html" %}
{% load for_loop_extras %}
{% block content %}

<style type="text/css">
 
/* html,body{
  margin:0;
  padding-bottom: 7% !important;
}*/

.my-custom-scrollbar {
  position: absolute;
  padding-right: 20px;
  padding-left: 0px;
  margin-bottom: 0px;

	width: 320px;
	padding-right: 0px;
	margin-bottom: 0;
	position: relative;
    height:auto;
    overflow:auto;
	max-height: calc(100vh - 100px);
	width: 100%;
}
#slider_filters .ps__rail-x { 
	display: none !important; 
}


 #trigger {
 	visibility: hidden;
 	display: none;
 }


.trenn{
	margin: 0px;
}
.custom-select{
	width: 25% !important;

}
#btn-filters{
	font-size: 0.875rem;
/*	width: 40%;
*/	border: 1px solid #ced4da;
	background-color: white;
}
#btn-filters:hover{
	background-color: none;
}
/*[hide='false']{

}*/
#result-text{
	font-size: 13pt;
}
.hide{
	display: none
}
.custom-select{
		margin-top:2px;
	}

@media only screen and (max-width: 768px) {
	.filters-desktop {
		visibility: hidden;
		display: none;
	}

	.custom-select {
		width: 85% !important;
	}

	#btn-filters {
		width: 60% !important;
		padding: 4px;
	}
	.sticky-offset{
	background-color: white;

}
	#slider_filters{
		position: fixed!important;
		z-index: 1500;
}
#btn-filters{
	font-size: 1rem;
/*	width: 40%;
*/	border: none!important;
	background-color: white;
}

	#nav_categories{
		display: none
	}

}
@media only screen and (min-width: 768px) {
	.filters-mobile {
		visibility: hidden;
		display: none;
	}
	.sticky-offset{
	background-color: white;
}
#upArrow{
	visibility: hidden;
	display: none;
}
}


nav{
	margin-bottom: 0px!important;
}

.crossed {
     background: 
         linear-gradient(to top right,
             rgba(0,0,0,0) 0%,
             rgba(0,0,0,0) calc(50% - 0.8px),
             rgba(0,0,0,1) 50%,
             rgba(0,0,0,0) calc(50% + 0.8px),
             rgba(0,0,0,0) 100%);

}

button[data-toggle='collapse']{
    transition: color 0.01s cubic-bezier(0.05, 1.03, 1, 1),background-color 0.01s cubic-bezier(0.05, 1.03, 1, 1),border-color 0.01s cubic-bezier(0.05, 1.03, 1, 1),box-shadow 0.01s cubic-bezier(0.05, 1.03, 1, 1);
    transition-property: color, background-color, border-color, box-shadow;
    transition-duration: 0.01s, 0.01s, 0.01s, 0.01s;
    transition-timing-function: cubic-bezier(0.05, 1.03, 1, 1), cubic-bezier(0.05, 1.03, 1, 1), cubic-bezier(0.05, 1.03, 1, 1), cubic-bezier(0.05, 1.03, 1, 1);
    transition-delay: 0s, 0s, 0s, 0s;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

</style>

<input type="hidden" name="language" id='language' value='{{ request.session.language }}'>
{% include 'categories/snippets/navbar_categories.html' %}
<div class="sticky-top sticky-offset" id='sticky-offset' style="z-index: 1000">
<hr class="trenn mb-2">
<div class="row m-0">

	<div class="col-6 col-md-6 text-left p-0">
		<button hidden class="btn" hide='true' id='btn-filters' hide_text = '{{ hide_filters }}' show_text = '{{ show_filters }}'>

			<i id="filter-icon" class="fas fa-sliders-h mr-2"></i><span id='text-for-hide-show'>{{ hide_filters }}</span>
		</button>
	</div>
<!-- 	<div class="col-4 text-center my-auto p-0 filters-desktop heading" id='result-text'>
		<b>{{ found }} <span class='items_count'>{{ object_list.paginator.count }}</span> {{ items }}</b>
	</div> -->

	<div class='col-6 col-md-6 text-right p-0'>
	<select class='input-for-filters custom-select custom-select-sm' name='sort' form='form_checkboxes'>
	    <option value="" disabled selected>{{ sort_by }}</option>
		<option value='new'>{{ new }}</option>
		<option value='high'>{{ price_to_high }}</option>
		<option value='low'>{{ price_to_low }}</option>
	</select>
	</div>	


<!-- 	<div class="col-12 text-left mt-2 p-0 text-center filters-mobile heading" id='result-text'>
		<b>{{ found }} <span class='items_count'>{{ object_list.paginator.count }}</span> {{ items }}</b>
	</div> -->

</div>
<hr class="trenn mt-2">
</div>
<div class="container-fluid ajax-search">
	<div class='row'>
		<div hidden class='col-3 custom-box position-sticky my-custom-scrollbar' id='slider_filters' style="height: 100%; background-color: rgb(255,255,255); overflow-y: hidden; overflow-x: hidden; ">
			{% include 'categories/snippets/filter-box.html' with instance=obj %}
		</div>
		<div hidden class='col-9 position-relative' id='container-filters-update' style="padding-top: 2%">
			{% include 'products/snippets/languages/product_lists_cont.html' %}
		</div>
		<i class="fas fa-2x fa-arrow-circle-up position-fixed" id="upArrow" style="z-index: 2000; top:90%; left: 85%; cursor: pointer"></i>
	</div>
</div>

<script>
	$(document).ready(
		function(){
			$('body').css('min-height',$(window).outerHeight(true) +50+ 'px')
			var topNavbar = $('.navbar-mb').outerHeight(true)
			var topFilterbar = $('.sticky-offset').outerHeight(true) 
			$('.sticky-offset').css('top', topNavbar + 'px')

			if (($(window).width() < 768)){
				$('#upArrow').click(
					function(e){
						$("html, body").animate({ scrollTop: 0 }, "slow")  
					})//click
			}//if mobile
			else{
				$('#slider_filters').css('top',topNavbar+topFilterbar+'px')
			}//if not mobile

	//Scrolling
const myCustomScrollbar = document.querySelector('.my-custom-scrollbar');
const ps = new PerfectScrollbar('.my-custom-scrollbar', {
    wheelSpeed: 1,
    wheelPropagation: false,
    swipeEasing: true,


    // minScrollbarLength: 10,
    // maxScrollbarLength: 10

});

$('.my-custom-scrollbar').each(function(){ const ps = new PerfectScrollbar($(this)[0]); });

		}
		)




</script>
{% endblock %}



