{% extends "base.html" %}

{% block content %}


<!-- 	<div class='col-1'>
		{% include 'categories/snippets/filter-box.html' with instance=obj %}
	</div>
 -->
<div class='row'>
<div class="col-lg-12">
	
					{% for obj in object_list %}
					<div class="card">
				{% include 'products/snippets/card.html' with instance=obj %}
			
				
					
<!-- 						{{ forloop.counter }}
							
						{% if forloop.counter|divisibleby:4 %}
							</div></div><div class='row'><<div class="card"><hr/></div>
						{% else %}
							</div>
						{% endif %} -->


					</div>
				{% endfor %}
</div>

</div>
</div>



{% endblock %}

