{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}


{% block content %}

<div class="row">
  {% include "sidebar.html" %}
  <div class='col-9 mx-auto'>
  {% if title %}<h1 class='my-3'>{{ title }}</h1>{% endif %}
  <form method = 'POST' enctype='multipart/form-data' id="example-form-1"> {% csrf_token %}
  	{{ form|crispy }}
<!--   <form id="example-form" method = 'POST' enctype='multipart/form-data'> {% csrf_token %}
      {{ product_form|crispy }}
      {{ image_form|crispy }}</br>
      {% for obj in files %}
      		{{ obj }}
      {% endfor %} -->
    <button type="submit" value="Submit" class="btn btn-dark btn-lg btn-block">{{ button }}</button>
    <small><a href='{% url "accounts:home" %}'>Back</a></small><br>
  </form>
{% include 'django_file_form/upload_template.html' %}
<!-- <script src='{% static "js/csrf.ajax.js" %}'></script> -->
<script>
    $(function() {
        initUploadFields($('#example-form-1'));
    });
</script>

</div>
</div>

{% endblock %}
