{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}

<div class="container ajax-search" style="width:1500px; padding:0px;">
<div class="row">
  <div class='col-9 mx-auto'>
  {% if title %}<h1 class='my-3'>{{ title }}</h1>{% endif %}

  <form method = 'POST' enctype='multipart/form-data' id="example-form-1" action_url_create_order="{% url 'products:handle_image_create_sort' %}" action_url_create="{% url 'products:create' %}"action_url="{% url 'products:handle_image_sort' %}"> {% csrf_token %}
  	{{ form|crispy }}





      
    
    {% include 'products/snippets/images-upload.html' with object=object %}
    <button type="submit" value="Submit" class="btn btn-dark btn-lg btn-block">{{ button }}</button>
  </form>
{% include 'django_file_form/upload_template.html' %}

    <script src="{% static 'ajaxuploader/js/fileuploader.js' %}"></script>
    <script src="{% static 'file_form/file_form.js' %}"></script>
<script>
  
    $(function() {
        initUploadFields($('#example-form-1'));

    });
</script>

</div>
</div>
</div>

{% endblock %}
