{% extends "base.html" %}

{% block content %}

<div class='col-12 text-left p-0'>
		<button class='btn btn-filter' id='trigger'><i class="far fa-arrow-alt-circle-left fa-3x"></i></button>
</div>

<div class="container-fluid">


<div class='row'>

	<div class='col-5 col-md-2 custom-box' id='slider' style="background-color: rgb(255,255,255); overflow: scroll; ">
	  		{% include "sidebar.html" %}
	</div> 

	<div class='col'>
		<div class='row mx-md-4'>
			{% for obj in object_list %}
				<div class='col-xs-12 col-md-3 position-relative'>
					{% include 'products/snippets/card.html' with instance=obj.content_object %}
					{% if forloop.counter|divisibleby:4 %}
						</div>
						</div>
						<div class='row'>
						<div class='col-12 mx-md-4'>
						</div>
					{% else %}
						</div>
					{% endif %}
			{% endfor %}
	</div>
	
</div>



</div>

{% endblock %}