{% extends "base.html" %}
{% load for_loop_extras %}
{% block content %}

<head>
<style type="text/css">

	html, body {
	    max-width: 100%;
	    overflow-x: hidden;
	}

	#trigger {
		visibility: hidden; 
		display: none; 
	} 

</style>
</head>



	

<div class="container">

	<div hidden class='col-5 col-md-2 custom-box' id='slider' style="background-color: rgb(255,255,255); overflow: scroll; ">
	  		{% include "sidebar.html" %}
	</div> 

	<div class='row'>
		<div class='col-12'>
			{% if title %} <p class="lead" id="products-by-user" style='font-size: 30px;'>{{ title }}:</p>{% endif %}
		</div>
	</div>

<div class='row'>
	{% if object_list|length > 0 %}
	{% for obj in object_list %}
		<div class='col-xs-12 bla  col-sm-6  col-md-6 col-lg-3  position-relativ p-0'>
			{% include 'products/snippets/card-my-items.html' with instance=obj %}
			{% if forloop.counter|divisibleby:4 %}
				</div>
				</div>
				<div class='row'>
				<div class='col-12'>
				</div>
			{% else %}
				</div>
			{% endif %}

	{% endfor %}
</div>
</div>
	{% else %}

{% if request.session.language == 'RU' %}
<div class='col mx-auto'>
	<div class="lead text-center" style='font-size: 30px;color:#aeacac;'>Пока что здесь пусто</div>
</div>
{% else %}
<div class='col mx-auto'>
	<div class="lead text-center" style='font-size: 30px;color:#aeacac;'>No items yet</div>
</div>
{% endif %}

	{% endif %}

</div>
{% endblock %}


