{% extends "base.html" %}

{% block content %}

<head>
<style type="text/css">

@media only screen and (max-width: 768px) { 
   #trigger {
    visibility: hidden; 
    display: none; 
  } 
}

</style>
</head>

<div class='row'>
	<div class='col-2 text-left p-0'>
		<button class='btn btn-filter' id='trigger'><i class="far fa-arrow-alt-circle-left fa-2x"></i></button>
	</div>

	<div class='col-10 text-center'>
		{% if title %}<p class="lead" style='font-size: 30px; padding-right:270px'>{{ title }}</p>{% endif %}
	</div>
</div>

<div class="container-fluid">


<div class='row'>

	<div hidden class='col-5 col-md-2 custom-box' id='slider' style="background-color: rgb(255,255,255); overflow: scroll; ">
	  		{% include "sidebar.html" %}
	</div> 





<div class="container">
<div class='row'>
	{% for obj in object_list %}
		<div class='col-xs-12 bla  col-sm-6  col-md-6 col-lg-3  position-relativ p-0'>
			{% include 'products/snippets/card.html' with instance=obj.content_object %}
			{% if forloop.counter|divisibleby:4 %}
				</div>
				</div>
				<div class='row'>
				<div class='col-12'>
				</div>
			{% else %}
				</div>
			{% endif %}

	{% endfor %}
</div>
</div>



</div>

{% endblock %}