{% load i18n %}
{% load for_loop_extras %}
{% for object in orders_sold %}
<style type="text/css">
		input #track_number:focus {
			outline: none !important;
		}


	#track_number:focus {
     outline:none; 
     border:1px solid black;
 }

</style>

<div class="container">
	<div class='row' style="border-bottom: 1px solid lightgray; padding: 1em;">
		<div class='col-12 col-xl-6'>
			<div class="row">
				<div class="col">
					{% include 'products/snippets/card-order.html' with instance=object.product %}
				</div>
			</div>
		</div>
		<div class='col-12 col-xl-6' style="font-size: 14px;">
			<div class="row">

				<div class="col-12 field-name" style="padding-bottom: 2.5rem; line-height: 1.2;">
				{{ object.product.title }}
				</div>

				<div class="col-12 mb-3">
					<div class="row">

						<div class="col-4">
							<span class="field-name" style="font-weight: bold;">{% trans 'Status:' %}</span><br>
							<span>{% trans object.get_status %}</span>
						</div>
						<div class="col-4">
							<span class="field-name" style="font-weight: bold;">{% trans 'Total:' %}</span><br>
							<span>{{ object.total|format_decimal }} {{ object.product.currency_original }}</span>
						</div>
						<div class="col-4">
							<span class="field-name" style="font-weight: bold;">{% trans 'Address:' %}</span><br>
							<span>{{ object.shipping_address_final }}</span>
						</div>
			
					</div>
				</div>

				<div class="col-12">

						{% if object.get_status == 'Paid' %}
								 {% include 'orders/snippets/order_sold_form.html' %}
						{% endif %}
				</div>
				
			</div>
			
		</div>
	</div>
</div>
{% empty %}
<div class="container">
	<div class="row">
		<div class="col mt-4">
			{% trans 'No orders yet' %}
		</div>
	</div>
</div>
{% endfor %}