{% load i18n %}
{% load for_loop_extras %}
{% for object in orders_sold %}
<style type="text/css">
		input #track_number:focus {
			outline: none !important;
		}


	#track_number:focus {
     outline:none; 
     border:1px solid black;
 }

</style>

<div class="container">
	<div class='row' style="border-bottom: 1px solid lightgray; padding: 1em;">
		<div class='col-12 col-xl-6' style="display: flex; align-items: center;">
			<div class="row">
				<div class="col mb-3 mb-xl-0">
					{% include 'products/snippets/card-order.html' with instance=object.product %}
				</div>
			</div>
		</div>

		<div class='col-12 col-xl-6' style="font-size: 14px;">
			<div class="row">

				<div class="col-12 field-name" style="padding-bottom: 2.5rem; line-height: 1.2;">
				{{ object.product.title }}
				</div>

				<div class="col-12 mb-3">
					<div class="row">

						<div class="col-4">
							<span class="field-name">{% trans 'Status:' %}</span><br>
							<span>{% trans object.get_status %}</span>
						</div>
						<div class="col-4">
							<span class="field-name">{% trans 'Total:' %}</span><br>
							<span>{{ object.total|format_decimal }} {{ object.product.currency_original }}</span>
						</div>
			
					</div>
				</div>

				<div class="col-12 mb-3">
					<div class="row">
						<div class="col-4">
							<span class="field-name">{% trans 'Address:' %}</span> 
						</div>
						<div class="col-8">
							<span>{{ object.shipping_address_final }}</span>
						</div>
					</div>
				</div>

				<div class="col-12 mb-3">
			  		<a data-toggle="collapse" href="#shipping_guideline" aria-expanded="false" aria-controls="shipping_guideline">
			  			<span style="text-transform: uppercase; font-weight: bold;">{% trans 'How to ship' %}</span>
			  			<!-- <i class="fas fa-angle-down"></i> -->
			  		</a>

					<div class="row">
					  <div class="col">
					    <div class="collapse" id="shipping_guideline">
					    	{% blocktrans %}
					 		<b>Ship</b> item within 24 hours to the specified address <b>with prepaid delivery</b> (since the buyer has already paid the full amount, including delivery). After it is sent, do not forget to <b>add tracking</b>. After successful delivery, the money will be transferred to your card ({{seller_card}}).
					    	{% endblocktrans %}
					    </div>
					  </div>
					</div>
				</div>

				<div class="col-12 mb-3">
					{% if object.get_status == 'Paid' %}
							 {% include 'orders/snippets/order_sold_form.html' %}
					{% endif %}
				</div>

				<div class="col-12 mb-3">
					<div class="row">
						<div class="col-4">
							<span class="field-name">{% trans 'Buyer:' %}</span>
						</div>
						<div class="col-8">
							<span><a href="{{ object.billing_profile.user.get_absolute_url }}">{{ object.billing_profile.user.username }}</a></span>
						</div>
					</div>
				</div>

				<div class="col-12">
					<div class="row">
						<div class="col-6">
							{% include 'accounts/snippets/begin-chat.html' with object=object.billing_profile.user %}
						</div>
						<div hidden class="col-6">
							Something will be added here soon
						</div>

					</div>
				</div>
				
			</div>
			
		</div>
	</div>
</div>
{% empty %}
<div class="container">
	<div class="row">
		<div class="col mt-4">
			{% trans 'No orders yet' %}
		</div>
	</div>
</div>
{% endfor %}