{% load for_loop_extras %}
{% for object in orders_buy %}
<div class="container">
	<div class='row' style="border-bottom: 1px solid lightgray; padding: 1em;">
		<div class='col-6'>
			<div class="row">
				<div class="col">
					{% include 'products/snippets/card-order.html' with instance=object.product %}
				</div>
			</div>
		</div>
		<div class='col-6' style="font-size: 14px;">
			<div class="row">

				<div class="col-12 field-name" style="padding-bottom: 2.5rem; line-height: 1.2;">
				{{ object.product.title }}
				</div>

				<div class="col-8">
					<div class="row">

						<div class="col-6">
							<span class="field-name" style="font-weight: bold;">Status:</span>
						</div>
						<div class="col-6">
							<span class="field-name" style="font-weight: bold;">Total:</span>
						</div>
			


						<div class="col-6">
							{{ object.get_status }}
						</div>
						<div class="col-6">
							{{ object.total|to_user_currency:request }}
						</div>
					</div>
				</div>

				<div class="col-4">
					<div class="row">
						{% if object.get_status != 'Created' %}
						<div class="col-12">
							{% include 'orders/snippets/order_complete_form.html' %}
						</div>
						{% if object.track_number %}
							{{ object.track_number }}
						{% endif %}
						{% else %}
							{% include 'orders/snippets/order_created_remove_form.html' %}
						{% endif %}
					</div>
				</div>

			</div>
		</div>
	</div>
</div>
{% empty %}
<div class="container">
	<div class="row">
		<div class="col">
			No orders yet
		</div>
	</div>
</div>
{% endfor %}















